[2015-08-29 00:05] JRGould opened #1 "Attempting to "import originals" times out"
Tried a few times to import the WPMDB .mo file, but keep getting timeouts:

[code]

[2015-09-04 10:00] gilbitron commented on #1
I get the same. Did some digging but came up empty. Not sure what is causing this.

[2015-09-04 15:22] toolstack opened #2 "Does not work if WP is installed in a directory"
If WordPress is installed in a subdirectory (like http://site/wp) it only returns a 404 error.

This is because router.php has the following code on line 136:

`
if ( $url_base && ! gp_startswith( $_SERVER['REQUEST_URI'], $url_base ) ) {
`

The server request URI is /wp/glotpress but the $url_base is just /glotpress.

[2015-09-22 15:23] toolstack commented on #2
Ok I've found the issue, but can't make a pull request as I've already forked GlotPress and my forks is way different than yours ;)

Anyway, to fix there are two changes that need to be made:

First gp-settings.php needs to be updated with the following (I tossed it on line 24 with the rest of the defines):

[code]

Second, gp-includes/url.php needs to change line 68-70, from:

[code]

to:

[code]

[2015-09-22 19:55] toolstack commented on #2
Ok, I've created a pull request for the fix after fighting with git a bit :)

[2015-09-23 19:41] bradt opened #5 "Replace use of `GP_User` with `WP_User` and associated WP functions"

[2015-09-23 19:41] bradt commented on #5
@gilbitron Already took a chunk out of this with beb4920850ceff5c7c7e0b0308b66c1293283ade.

[2015-09-23 19:43] #2 closed, assigned to nobody

[2015-09-24 13:18] bradt opened #6 "Migrate GlotPress standalone users and usermeta tables"
As per #5, the plan is for the GlotPress plugin to no longer have a separate users and usermeta, but to use WordPress' tables as well as all the WordPress authentication awesomeness. If someone really doesn't want to mix their GlotPress users with the other users of their site, they can setup an independent WordPress install just for GlotPress.

GlotPress standalone can be setup to share a WordPre

[2015-09-24 13:23] bradt opened #7 "Convert GlotPress plugin system to WordPress"
There's no point having GlotPress plugins when WordPress already has a plugin system. Let's rip out the GlotPress plugin system and convert all the hooks to WordPress hooks.

[2015-09-24 13:27] bradt opened #8 "Convert GlotPress theme system to WordPress"
This is a pretty huge change that's not essential for a first plugin release, so bumping it to the future.

[2015-09-24 13:34] bradt opened #9 "Backwards Compatibility"
How much should we worry about backwards compatibility?

When it comes to plugins, I don't think we should worry at all. All GlotPress plugins will need to be converted to WordPress plugins anyways as per #7.

Themes might be a different story. I'm sure lots of people have heavily customized their GlotPress themes, so it would be nice to allow people to switch to the GlotPress plugin from a standa

[2015-09-24 13:38] bradt opened #10 "Allow GlotPress tables to have a table prefix independent of the WP table prefix"
...to make it easier for those moving from GlotPress standalone install.

[2015-09-24 13:39] gilbitron commented on #6
:+1:

[2015-09-24 13:52] bradt opened #11 "Merge upstream changes"

[2015-09-24 17:03] polevaultweb opened #12 "Move scripts and styles into Assets dir"
Clean up the root dir a bit

[2015-09-25 08:38] polevaultweb opened #14 "WP Admin dashboard administration"
Add GlotPress menu. Ability to administer projects, translation sets etc.

[2015-09-25 09:07] polevaultweb opened #15 "Make plugin translation ready"
Kinda makes sense given the purpose of the plugin itself!

[2015-09-25 10:46] A5hleyRich commented on #1
I've spent a good chunk of time on this too but I'm unable to see what's causing the issue. The timeout occurs progressively after a few original strings have been added. I believe the issue lies around https://github.com/deliciousbrains/GlotPress/blob/wordpress-plugin-dbi/gp-includes/things/original.php#L145 and is possibly due to calling `gp_levenshtein` recursively:

[2015-09-25 10:47] gilbitron commented on #1
That's about as far as I got with my investigation as well.

[2015-09-25 10:56] polevaultweb opened #17 "Minification of plugin assets"
Implement after https://github.com/deliciousbrains/GlotPress/pull/13 is merged, and use Grunt from https://github.com/deliciousbrains/GlotPress/commit/52fe969c3991b87a523d561df88a9b63719d4375

[2015-09-25 11:12] #12 closed, assigned to polevaultweb

[2015-09-25 13:21] A5hleyRich opened #19 "Convert GP permissions to WP roles"
We're currently using a separate table for user permissions, instead we should convert to using WP roles and capabilities. Permissions should be stored in the usermeta table.

This will likely need tackling as part of PR https://github.com/deliciousbrains/GlotPress/pull/20

[2015-09-25 13:24] ocean90 commented on #14
Maybe we should dicuss first which options would be needed and if it should happen in admin or on front end.

[2015-09-25 13:39] polevaultweb commented on #14
Personally I think the majority of the admin related stuff makes more sense in the wp admin. The wip PR will replicate admin, without removing from the frontend. Currently looking at projects admin.

[2015-09-25 13:47] bradt commented on #14
This is waaay too lofty of an undertaking for this milestone.

[2015-09-25 13:48] polevaultweb commented on #14
Ha!

[2015-09-25 13:56] bradt commented on #14
Also, what did you have in mind exactly for "Ability to administer projects, translation sets etc." ? Isn't all that already available from the GlotPress UI? Wouldn't it just be duplication?

[2015-09-25 14:02] polevaultweb commented on #14
True, but if you were building the plugin from scratch as a WP plugin, wouldn't you utilise the WP admin, tables, UI and functionality to manage adding, editing projects etc?

[2015-09-25 14:03] polevaultweb commented on #14
It's only available in the frontend because GP has no backend

[2015-09-25 14:18] ocean90 commented on #14
Projects have only 6 settings. Once they're set you'll probably never change them again.

Even as a plugin, we should try to use WordPress just as a library. I think it should be possible that you can have people who can access GlotPress without knowing that WordPress is actually running behind it.

If you can make it work for ~40k projects which can be three levels deep, sure. But I bet that's no

[2015-09-25 14:22] polevaultweb commented on #14
Good points. Will park it for now

[2015-09-25 14:27] toolstack commented on #6
I don't know if this is even necessary, GP has never had a 1.0 release so anyone who's installed it can expect breaking changes and this could fall in to that category.  Especially since most people who would be interested in it probably already run GP using the WP users table :)

[2015-09-25 14:29] toolstack commented on #7
:+1:

[2015-09-25 14:31] toolstack commented on #10
:-1: This could cause issues with multi-site, if we're breaking backwards compatibility in so many other places, why try and maintain it here?

[2015-09-25 14:33] toolstack commented on #9
Backwards compatibility shouldn't be a major concern in my opinion.  GP has never had an official 1.0 release so everything is up for grabs.

[2015-09-25 14:36] toolstack commented on #14
The one setting we do need to add is the ability to change the slug used for GlotPress's URL.  At the moment it's set to "/glotpress", but a site may want something different.

[2015-09-25 14:38] ocean90 commented on #14
@toolstack Such a setting can be added to the existing Permalinks screen. Or make it filterable. :)

[2015-09-25 14:40] toolstack commented on #8
There's probably a lot of decisions around this one as well, things like, do we strip out the "login" link since the WP theme probably already has one in it?

[2015-09-25 14:45] toolstack commented on #14
@ocean90 could be, but that hiding it a bit, the settings menu doesn't have to a top level menu, it could be in the settings menu.  I would think many installs will want to change the link, before it was easy as you just changed the directory you installed in to, but as a plugin that's more difficult.

[2015-09-25 15:31] ocean90 commented on #11
@bradt Does it make sense to commit the changes first to the SVN branch which is synced with the git repo so we can merge them into this repo? Wouldn't like to lose the history.

[2015-09-25 17:07] ocean90 opened #21 "Flush rewrite rules on plugin (de)activation"
For dc29852c3ba7aaedff075f324be5cabea3f421d8 we need to flush the rewrite rules.

[2015-09-25 19:30] bradt commented on #10
It has nothing to do with backwards compatibility. It's just saving people the work of renaming their GP tables to match the WordPress prefix.

For example, let's say you have a GP install sharing a database with a WP install. Pretty typical. If the GP prefix is `gp_` and WP prefix is `wp_`, the plugin currently would require you to rename the `gp_*` tables to `wp_gp_` to get it to work.

I was th

[2015-09-25 19:34] bradt commented on #9
The version number shouldn't be a factor here. There's people using GP in production environments and depending on it. If we can make it easier for them to adopt the plugin with little effort, we should do it.

[2015-09-25 19:37] bradt commented on #14
@toolstack It is already configurable via the `GP_URL_BASE` constant.

[2015-09-25 19:42] bradt commented on #11
You mean merge `wordpress-plugin-dbi` into `wordpress-plugin` ? If so, yes, that was my intention. `wordpress-plugin-dbi` was branched off of `wordpress-plugin`, so would be an auto-merge, no conflicts.

I was planning to merge the `package` branch into `wordpress-plugin`, then `wordpress-plugin` into `wordpress-plugin-api`. That a good plan?

[2015-09-25 19:53] toolstack commented on #10
I just think it's more trouble long term than the effort to rename the tables short term.

[2015-09-25 19:57] toolstack commented on #9
As long as it doesn't burden us with lots of hacks to support the old I agree, but anyone converting to the plugin version is likely going to be doing so very carefully to start with.  If there is something that has to be converted or changed from the old to the new it should be a one of script with instructions for the admin, not something that runs all the time as part of the plugin.

[2015-09-25 19:59] toolstack commented on #14
There's configurable and then there's easily configurable :)

The plugin gives us an easy interface to let the admin configure this kind of setting without messing with the config file.

[2015-09-25 20:17] ocean90 commented on #11
I'm not sure what the `package` branch is.

I was talking about https://glotpress.trac.wordpress.org/log/?action=stop_on_copy&mode=stop_on_copy&rev=1131&stop_rev=1063. These need to be committed first to https://glotpress.trac.wordpress.org/browser/branches/wordpress-plugin and will then be available in `wordpress-plugin`.

After (or before?) that we can merge `wordpress-plugin-dbi` into `wordpres

[2015-09-26 09:10] A5hleyRich commented on #14
It seems overkill adding a settings screen just to define the base URL. Often it's a one time change so the menu item would become redundant.

[2015-09-30 01:25] rmccue opened #23 "Convert scripts to WP-CLI commands"
In order to unify, we should make these WP-CLI commands, rather than directly invoked scripts.

Unfortunately, WP-CLI doesn't support short options (ala `-o xyz`), so this needs a proper rewrite.

Working on this right now. :)

[2015-09-30 20:18] JRGould commented on #6
This seems like functionality that should go into a plugin as it will probably be used/useful for only a short time after the GlotPress plugin is released. After that, it will mostly just be cruft that needs to be maintained indefinitely or have a committee vote to remove it.

[2015-10-01 00:20] JRGould opened #25 "Notices not displaying"
Glotpres displays notices when actions such as creating a new project or importing originals have been completed, but they aren't showing up in this version.

![image](https://cloud.githubusercontent.com/assets/1509647/10209346/4e0d5e86-678f-11e5-91d6-ed0d8c111e3d.png)

[2015-10-01 00:37] JRGould commented on #1
Dug a little deeper into this and discovered that importing was actually working fine, just notices weren't displaying. #25

The issue occurs when re-importing the same po or mo file (because you couldn't tell that it imported the first time). In the standalone glotpress the entries are successfully identified as duplicates and then checked to see if they update the existing version:

![image](htt

[2015-10-01 04:44] JRGould commented on #1
I've figured out what's going wrong here. In `import_for_project` we're checking each of the uploaded translations to see if it already exists in the project by looping through the array and seeing if each key is a key in the existing set: https://github.com/deliciousbrains/GlotPress/blob/wordpress-plugin-dbi/gp-includes/things/original.php#L111 but none are found to be even when reimporting the s

[2015-10-01 10:25] ocean90 commented on #11
Will do this today, without the SVN step. We can cherry-pick from https://github.com/GlotPress/GlotPress/tree/master.

[2015-10-01 13:27] bradt commented on #9
Discussed further here: https://wordpress.slack.com/archives/glotpress/p1443705526000940

[2015-10-01 13:37] bradt commented on #6
Punted as per https://wordpress.slack.com/archives/glotpress/p1443706375001022.

[2015-10-01 13:39] bradt opened #30 "Allow GP to take over the root URL on the frontend"
I think this can be achieved by allowing `define( 'GP_URL_BASE', '' );`. This may already work (I haven't tested it) but I doubt it.

[2015-10-01 13:58] javorszky commented on #19
Working on this :)

[2015-10-01 23:47] bradt opened #31 "Unit tests - get 'em running with WP"
...I'm assuming they need some tweaking to run as a plugin with WP.

[2015-10-02 08:49] #25 closed, assigned to nobody

[2015-10-09 02:46] toolstack opened #33 "Prefix all GlotPress Action/Filters with "gp_""
The GlotPress action/filters currently are a mix of "action_desc_here" and "gp_action_desc_here".

To avoid conflicts with other WordPress plugins, we should prefix all action/filters in GlotPress with "gp_" (that are GlotPress action/filters of course, not WordPress action/filters the plugin will use).

[2015-10-09 14:55] toolstack opened #35 "Database is only updated on plugin activation"
The current database update code is contained in the plugin activation hook, however this hook is not fired when a plugin upgrade occurs.

This code should be moved outside of the activation function.

[2015-10-09 23:22] toolstack opened #39 "Replace $gpdb with $wpdb"
There's no reason to have a global variable for $gpdb when it's simply an alias to $wpdb.

[2015-10-10 14:37] toolstack opened #41 "Recent merge of upstream changes conflicted with the assets move PR"
PR #13 moved all the css files to assets/css, but the upstream merges from #27 & #28 added a css file which of course was still in /css.

[2015-10-10 15:05] toolstack commented on #11
We're a little behind the master branch, new PR #43 created to bring over the latest changes.

[2015-10-13 17:48] bradt commented on #33
:+1:

[2015-10-13 18:00] bradt commented on #35
:+1:

[2015-10-14 21:42] ocean90 commented on #1
Even with latin1 charset I get something odd:
When importing wordpress.pot I get the notice "1716 new strings added, 0 updated, 0 fuzzied, and 0 obsoleted.". Importing the same produces "55 new strings added, 177 updated, 1484 fuzzied, and 55 obsoleted.", but it should be "0 new strings added, 1716 updated, 0 fuzzied, and 0 obsoleted."

Related: It seems like I also can't import translations.

[2015-10-15 13:14] ocean90 commented on #33
Let's do this.

[2015-10-15 13:43] #33 closed, assigned to nobody

[2015-10-15 13:44] bradt opened #50 "Add doc blocks for actions and filters"
As per https://make.wordpress.org/core/handbook/best-practices/inline-documentation-standards/php/#4-hooks-actions-and-filters.

[2015-10-15 15:11] toolstack commented on #35
As per the discussion during the weekly meeting (https://wordpress.slack.com/archives/glotpress/p1444915779000075), the upgrade check should only be run on the admin pages.

Concerns with this are that if a user has enabled auto update of plugins new features may not be functional (or worse the plugin may fail) until the admin has visited the backend.  To mitigate this conditional code needs to be

[2015-10-15 21:32] toolstack opened #52 "$wpdb->insert() is not a direct replacement for $gpdb->insert()"
$gpdb->insert() does some additional processing that is not done in $wpdb->insert().

Particularly troublesome is the fact that it substitutes NULL for data values that are not set, which GlotPress then checks for in various places in SELECT statements.

For example, start a new project and import some originals, if no context or plural are set, each original will have 'context' and 'plural' set t

[2015-10-15 21:34] toolstack commented on #1
The import translations issue is due to #52, $gpdb->insert() does some extra stuff around empty values that $wpdb->insert() doesn't do (maybe it did in the past?).

I wouldn't be surprised if the timeout thing is related to this as well.

[2015-10-15 22:10] ocean90 commented on #52
Good point! I think this will be fixed in 4.4, see https://core.trac.wordpress.org/changeset/34737.

[2015-10-15 22:19] toolstack commented on #52
I'll give the trunk $wpdb class a try and see if it resolves it, if not I've been looking through the code and there aren't too many places where it would be impacted to add in a check for NULL and an empty string.

[2015-10-15 22:27] toolstack commented on #52
Yep, trunk's version works fine, I guess GlotPress as a Plugin is going to require WP 4.4 or above :smile:

[2015-10-16 12:26] toolstack opened #53 "Cannot save tranlsation string"
When you edit a translation string and press the "Add translation" button, the "Saving" popup is displayed but never completes.  The translation is not saved.

This is because wp_localize_script() on the editor page has the wrong handle name for the enqueued script (looks like it was prepended with gp- during on the enqueuer call during initial change to a plugin but not updated on the localize ca

[2015-10-16 12:43] toolstack opened #55 "After importing originals GP redirects to the import page again"
Importing originals in to a project redirects the user back to the import page, which probably isn't the right choice as they are unlikely to be importing more originals.

Instead the redirect should take them back to the project page.

[2015-10-16 13:30] toolstack opened #57 "no-js body class was lost during conversion to plugin"
GP uses a js/no-js class to determine if javascript is active on the client browser.  This was accomplished by using a custom body_class() function which was replaced with WP's body_class() function but the 'no-js' class was not migrated over.

Since no-js doesn't exist it is never replaced with the js class during the page load.

[2015-10-16 16:27] toolstack commented on #41
I've been thinking a bit more on this, as the plugin no longer uses the installer, we should probably remove install.css as well as install.php and any other related file/code.

[2015-10-16 16:36] toolstack commented on #41
PR #59 created to remove the standalone install as a second option to resolve this issue.

[2015-10-16 18:16] #41 closed, assigned to nobody

[2015-10-16 18:19] #57 closed, assigned to nobody

[2015-10-16 18:27] #53 closed, assigned to nobody

[2015-10-16 18:36] #35 closed, assigned to nobody

[2015-10-16 18:54] ocean90 commented on #52
Yep, and I think that's OK.

[2015-10-16 18:55] ocean90 opened #60 "Remove HACKING file"
The info there is outdated and it belongs somewhere else, inline docs or a devhub.

[2015-10-16 19:06] ocean90 opened #61 "Don't store options in the meta table"
Currently GlotPress stores options as `gp_option` in the meta table. We should replace this with the options API from WordPress.

**Proposal:**
- `gp_update_option()` => `update_option()`
- `gp_get_option()` => `get_option()`
- `gp_delete_option()` => `delete_option()`
- `gp_cache_all_options()` => Remove
- `gp_get_option_from_db()` => Remove
- `gp_option()` => Remove

[2015-10-16 19:08] toolstack commented on #52
I agree, 4.4 should be fine, I don't see any reason to do a lot of work getting it to function pre-4.4 when 4.4 is so close anyway.

[2015-10-16 19:23] toolstack commented on #60
Perhaps add it to the Wiki here on GitHub.

[2015-10-16 22:04] #7 closed, assigned to nobody

[2015-10-17 14:32] ocean90 commented on #10
Actually this is already possible, see https://github.com/deliciousbrains/GlotPress/blob/wordpress-plugin-dbi/gp-settings.php#L26-L28.

Do we want a constant or is the global var `$gp_table_prefix` enough?

Edit: But it seems like it doesn't work as expected…

[2015-10-17 15:40] #39 closed, assigned to nobody

[2015-10-17 15:44] ocean90 commented on #1
With the current trunk version of WordPress I can't reproduce the issues anymore.

@JRGould Which WordPress version are you using? Does it still happen with trunk?

[2015-10-17 15:51] ocean90 commented on #10
Fixed in #63.

[2015-10-17 16:24] ocean90 opened #65 "Remove *_salt/*_hash functions"
The following functions are no longer needed:
- _gp_get_secret_key
- _gp_get_salt
- gp_salt
- gp_hash
- gp_generate_password

All from /gp-includes/misc.php

[2015-10-17 16:27] ocean90 opened #66 "Replace gp_json_encode() with wp_json_encode()"
[code]

[2015-10-17 16:28] ocean90 commented on #65
Or should we move them to deprecated.php?

[2015-10-17 16:29] ocean90 commented on #66
Should we move gp_json_encode() to deprecated.php?

[2015-10-17 16:50] toolstack commented on #10
I would think the variable is enough as long as we document it.

[2015-10-17 16:53] toolstack commented on #65
Just delete, I'd remove depricated as we're changing so much anyway.  Other than the core app, only plugins would be using this code and we've completly changed plugins so the old standalone ones won't work with the plugin anyway.

[2015-10-17 16:55] toolstack commented on #66
No, the only thing other than GlotPress that would be using them would be plugins which have to be updated to support the GlotPress as a plugin ayway.

I'd say anything we're removing before the 1.0 release should just be deleted.  After 1.0 we can do a depricated.php cycle.

[2015-10-17 18:47] ocean90 commented on #66
Yep, makes sense. I doupt that there is an install which is already using it.

Introduced in https://glotpress.trac.wordpress.org/changeset/1084, 3 months ago.

[2015-10-17 18:51] #11 closed, assigned to ocean90

[2015-10-17 18:52] #60 closed, assigned to nobody

[2015-10-17 19:30] ocean90 opened #67 "Review `$_GET = gp_urldecode_deep( $_GET );`"
The line exists in gp-settings.php https://github.com/deliciousbrains/GlotPress/blob/ee8353be2b124d4339c9cb1d06a03b081eb6d4ee/gp-settings.php#L22 and was introduced in https://glotpress.trac.wordpress.org/changeset/303.

Could this break other plugins/themes or WordPress? Is it still needed? Needs a little review.

[2015-10-17 19:59] JRGould commented on #1
I've just tried this out on the latest nightly build and am still getting this error. @ocean90 were you trying to reimport the same set of originals or was this a first-time upload?

[2015-10-17 20:13] ocean90 commented on #1
@JRGould I also did a reimport.

My steps on a fresh install:
- Create a new project
- Import originals from https://i18n.trac.wordpress.org/browser/pot/trunk/wordpress.pot
- Notice: 1778 new strings added, 0 updated, 0 fuzzied, and 0 obsoleted.
- Import originals from https://i18n.trac.wordpress.org/browser/pot/trunk/wordpress.pot again
- Notice: 0 new strings added, 1778 updated, 0 fuzzied, and

[2015-10-17 20:18] JRGould commented on #1
Ah, looks like this is only happening for .mo files

[2015-10-17 20:30] ocean90 commented on #1
I just tried the same with de_DE.mo from http://downloads.wordpress.org/translation/core/4.3.1/de_DE.zip

First import: 1716 new strings added, 0 updated, 0 fuzzied, and 0 obsoleted.
Second import: 0 new strings added, 1716 updated, 0 fuzzied, and 0 obsoleted.

[2015-10-17 20:51] ocean90 opened #70 "Replace gp_redirect() with wp_redirect()"
WordPress: https://github.com/WordPress/WordPress/blob/4204afdd402533586cb54e5ca06e5b0d0e1fc365/wp-includes/pluggable.php#L1197-L1231

GlotPress: https://github.com/deliciousbrains/GlotPress/blob/ee8353be2b124d4339c9cb1d06a03b081eb6d4ee/gp-includes/misc.php#L109-L126

Actually the only difference are the filter names… `global $is_IIS;` doesn't exist in GP, see the note.

[2015-10-17 20:59] ocean90 opened #71 "backpress_set_cookie() and backpress_gmt_strtotime()"
`backpress_set_cookie()` and `backpress_gmt_strtotime()` are the only functions which are prefixed with `backpress_`, defined in gp-includes/misc.php: https://github.com/deliciousbrains/GlotPress/blob/d6d64318936885320a3e9412a3ce3c9ed28cd764/gp-includes/misc.php#L459-L484.

We should check if they can be replaced with WP function. If not, then we should prefix them with `gp_`.

[2015-10-17 21:03] ocean90 opened #72 "Replace gp_time_since() with human_time_diff()"
`gp_time_since()` is only used on the profile page, see https://github.com/deliciousbrains/GlotPress/blob/d6d64318936885320a3e9412a3ce3c9ed28cd764/gp-templates/profile-public.php#L43.

[2015-10-17 21:06] JRGould commented on #1
Interesting.

You're right, @ocean90. Looks like this is fixed on the 4.4 nightly, but the fix isn't backwards compatible. I've tested with .pot and .mo files and if you create a new project and upload originals in 4.3.x, then upgrade wp to a 4.4 build  and try to upload the same set of originals, the timeout occurs. If you are already running 4.4 and create a new project, upload originals then re

[2015-10-17 21:12] ocean90 commented on #1
I'm not sure if it's BOM related, but as mentioned in #52 4.3 doesn't support NULL values which GlotPress requires. So it seems like the plugin will only be compatible with 4.4+.

[2015-10-17 21:22] ocean90 opened #73 "Remove gp_limit_for_page()"
`gp_limit_for_page()` in https://github.com/deliciousbrains/GlotPress/blob/d6d64318936885320a3e9412a3ce3c9ed28cd764/gp-includes/misc.php#L128-L137 looks dangerous and should be removed. It doesn't get used anymore.

Introduced in https://glotpress.trac.wordpress.org/changeset/78

[2015-10-17 21:34] ocean90 commented on #55
Makes sense, we do the same after importing translations. :+1:

[2015-10-17 22:19] toolstack commented on #1
@JRGould, the issue is that during the import with 4.3 blank strings were stored in the database instead of NULLs, then when you import again the SELECT statement used to find the privously imported translations is looking for NULLs not empty strings.

That then sends the import process in to a tailspin and it times out.  WP 4.4 adds support for storing NULLs to $wpdb which is what $gpdb supported

[2015-10-17 22:48] toolstack commented on #73
If it's not used it's just cruft :wink:

[2015-10-17 22:51] toolstack commented on #70
Could there be a reason to keep it for the different filter names?

I'm thinking of GP plugins that could filter GP redirects without having to process ALL WP redirects as well?

[2015-10-17 23:07] toolstack commented on #71
I took a quick look through the code and it looks like backpress_set_cookie() could be replaced with the equivalent WP function but I don't see an equivalent function in WP.

backpress_gmt_strtotime() needs to remain by the looks of it as it makes sure the time is in GMT before converting it to a timestamp.

Looks like we'll have to rename them.

[2015-10-17 23:08] toolstack commented on #72
:+1:

[2015-10-18 09:57] bjork opened #74 "WordPress thinks every GlotPress page is_home, does not honor permalink setting"
GlotPress links to URLs without trailing slashes, but WordPress redirects those URLs with trailing slashes. This happens even with permalinks set to have no trailing slashes. This is a problem because most clicks make two requests to PHP.

In `redirect_canonical()`, WordPress thinks `is_front_page()` is true. That is because `$wp_query->is_home` is set to true if no other type of page is detected.

[2015-10-18 10:36] bjork opened #75 "Trying to log out shows Are you sure? message"
GP_Route_Login redirects to a URL that `wp_logout_url()` returns. That URL is HTML encoded, so query parameters, especially `_wpnonce`, will not get read right.

Nonces won't help, if they never get printed to a web page, so instead of using the logout route, the logout link should point directly to wp-login.php using the wp_logout_url() function. Or, if the route is deemed to be worth saving, the

[2015-10-18 11:22] ocean90 commented on #75
Another idea is to replace the encoded ampersand in `logout()`:

[code]

[2015-10-18 13:36] bjork commented on #75
That will solve the immediate issue, but won't protect logout from CSRF.

[2015-10-18 19:31] toolstack commented on #75
I don't see any reason to keep the logout route so directly pointing to the WP logout link seems reasonable.

If there was some reason to keep it, would it make sense to use html_entity_decode() instead of just the str_replace() to make sure we catch everything?

[2015-10-18 20:13] bjork opened #78 "Incorrect use of wpdb::prepare on delete actions"
Deleting a project or a glossary item (at least) will result into a PHP notice:

`sql_from_conditions()` in `GP_Thing` creates the SQL WHERE clauses by concatenation. There are at least two ways to solve the issue. Either the function must be fixed to instead place parameters or calling `$wpdb->prepare` on such SQL queries should be skipped.

[2015-10-18 20:16] toolstack commented on #67
I took a look and it I didn't find anything that really depends on this being done globally.  I disabled it and did some testing and didn't find any issues.

However if we think there could be a requirement we could remove it from gp-settings.php and instead update gp_get() to do the work on a per key basis instead.

[2015-10-18 20:20] toolstack commented on #78
I'd vote for skipping it if the number of args is only 1.

[2015-10-18 20:34] toolstack commented on #61
The only issue is with gp_get_option() as it does some funky stuff, it would have to be replaced with a mix of defines, get_option() and updating code (for the url=uri option for example).

[2015-10-18 21:32] toolstack commented on #61
It turns out most of the 'funky' stuff wasn't actually used anywhere.

I've deleted it from the PR, in fact there are very few places the gp options code is used, the salt functions (which are being deleted in PR #69) are one of them so we'll have to be aware when the PR's are merged.

[2015-10-18 22:15] #30 closed, assigned to nobody

[2015-10-18 22:15] toolstack opened #80 "Locale/lanuage overview page has an incorrect link"
If you go to Locales and then select a language, the link at the bottom of the page for "All projects" doesn't use gp_url() in the gp_link() call which can generate an incorrect url if GlotPress isn't in the root.

[2015-10-18 22:17] #66 closed, assigned to ocean90

[2015-10-18 22:35] #80 closed, assigned to nobody

[2015-10-18 22:37] ocean90 commented on #70
We could do something like this:

[code]

[2015-10-18 22:41] #65 closed, assigned to ocean90

[2015-10-18 22:45] toolstack commented on #70
That would just call gp_redirect each time wp_redirect was called correct?

No real benefit to that unless we only set it during the router or some other point that only executes when a glotpress page is being displaed.

[2015-10-18 22:47] ocean90 commented on #70
@toolstack "like this". ;)

The filter would only be registered in https://github.com/deliciousbrains/GlotPress/blob/wordpress-plugin-dbi/gp-includes/route.php#L119

[2015-10-18 22:50] toolstack commented on #70
That would do the trick.

[2015-10-19 16:51] ocean90 opened #85 "gp-settings.php shouldn't include function declarations"
I think `gp-settings.php` should only define constants/globals, include/require files and register plugin (de)activation hooks.

I'd also like to see all `add_action()` and `add_filter()` calls to be added to [gp-includes/default-filters.php](https://github.com/deliciousbrains/GlotPress/blob/5360b4ff5ccfa01a4830455135f3423e9ccded6d/gp-includes/default-filters.php). (Related core ticket: [#30947](h

[2015-10-19 16:58] bradt opened #86 "PHP 7 compatibility"
I've added this to the 1.0 milestone for now, but it's up for debate. WordPress core will be supporting PHP 7 when it is released next month.

[2015-10-19 17:17] ocean90 commented on #9
I've started a wiki page which mentions some of the breaking changes: https://github.com/deliciousbrains/GlotPress/wiki/1.1-Breaking-Changes

[2015-10-19 17:43] toolstack commented on #85
I was thinking along the same lines, in fact I'd go a step farther and say the (de)activation hooks should probably be in the main plugin file (glotpress.php).

[2015-10-19 19:37] bradt commented on #85
:+1:

[2015-10-19 19:49] ocean90 commented on #86
:+1: would be nice to get #31 ready.

[2015-10-19 19:55] #10 closed, assigned to bradt

[2015-10-19 19:57] bradt commented on #86
Yea, @gilbitron is on vacation this week too, so feel free to take over #32, or just scrap it and do your own thing.

[2015-10-19 19:58] toolstack commented on #86
:+1: I'd say this is a good thing to have for 1.0, PHP 7 will be released by then and we'll have enough time to test with it.

[2015-10-19 21:01] toolstack commented on #78
Actually digging in to the code some more this should already be handled correctly, from thing.php:

[code]

Where are you trying to delete the glossary/project from?  I don't see any UI for it...

[2015-10-19 21:24] toolstack commented on #78
Ok, I found the issue:

[code]

Notice the call to $this->query always adds in $this->id, which forces the args count to be 2 even if the query returned does not require it.

Backpress (I assume) like older versions of WordPress (pre 3.5?) didn't throw an error if you passed in a string without any placeholders to prepare() so it wasn't a problem in standalone.

The "off the top of my head" soluti

[2015-10-20 14:09] toolstack commented on #78
I've poked at this some more and I think there's an easier solution than the above, which is just to remove $this->id from the query call.  None of the delete methods use it as far as I can tell.

I'll create a PR for it.

[2015-10-20 14:31] toolstack opened #92 "No UI to delete a project"
There's currently a route to delete projects that works but no UI to access it.  A UI should be added.

[2015-10-20 14:44] ocean90 commented on #92
That's relative. :)

There shouldn't be any UI until we have figured out what "deleting a project" actually means to us. Like what should happen to sub projects, originals, translation sets, translations, and glossaries?

Related: https://glotpress.trac.wordpress.org/ticket/186

[2015-10-20 14:53] toolstack commented on #92
Then we should probably yank the route as you can manually type in the URL and GlotPress will "delete" the project (whatever that currently means to the code).

[2015-10-20 19:03] bjork opened #94 "Remove unused function gp_add_slash"
`wp-includes/strings.php` contains these functions related to multibyte string handling:
- `gp_strtolower()`
- `gp_strlen()`
- `gp_stripos()`
- `gp_substr()`

All of which are wrappers for functions that exists in PHP 5.2 or lower with a fallback for older versions. Thus, these functions could be deleted after replacing their usage elsewhere in the plugin with direct access to native functions.

A

[2015-10-20 19:44] ocean90 commented on #94
Sadly mbstring is a non-default extension, so it can be disabled.

[2015-10-20 20:36] bjork commented on #94
Alright, that explains it.

Well, since `gp_add_slash()` is unused, this issue is not 100% inaccurate. Will rename the issue.

[2015-10-20 21:50] #73 closed, assigned to nobody

[2015-10-20 21:52] #72 closed, assigned to nobody

[2015-10-22 11:32] #94 closed, assigned to nobody

[2015-10-22 12:01] polevaultweb commented on #31
Happy to take this over to get it in

[2015-10-22 12:37] ocean90 commented on #15
The PR just adds the text domain and the `load_plugin_textdomain()` call. That's fine.

But there are some other issues:
- Placeholders aren't explained in a translators comment
- The use of `_n()` is wrong in some cases, like `_n('One translation rejected.', '%d translations rejected.', $ok, 'glotpress' ), $ok );`
- Strings like `__( 'edit', 'glotpress' )` should get a context:  `_x( 'edit', 'glo

[2015-10-22 12:41] toolstack commented on #15
I'd vote for handling them as separate issues, they're all valid but shouldn't be a show stopper for 1.0  (maybe with the exception of _n()) , just something we can work on from release to release.

[2015-10-22 13:00] polevaultweb commented on #15
+1 for a new 'enhancement' issue for after 1.0

[2015-10-22 14:49] toolstack opened #96 "Add breadcrumbs display to the projects and Locales pages"
Add breadcrumbs display to the projects and Locales pages for consistency and to make sure any gp_notices display correctly.

[2015-10-22 17:14] JRGould commented on #1
In my investigation of this issue, the tailspin was being caused because **every** string was different - strings from the DB all began with a non-printing character that wasn't found in the uploaded originals. It wasn't just NULL/empty strings. So I'm not convinced that that's what fixed the issue.

Regardless, I'm happy to call this resolved if we're only worried about being compatible with 4.4

[2015-10-22 17:43] toolstack commented on #1
Something to keep in mind when we start work on the migration scripts.

[2015-10-22 18:02] #15 closed, assigned to polevaultweb

[2015-10-22 18:17] ocean90 opened #99 "Improve i18n"
Previously: #16
- [ ] Placeholders aren't explained in a translator comments
- [x] The use of `_n()` is wrong in some cases, like `_n('One translation rejected.', '%d translations rejected.', $ok, 'glotpress' ), $ok );`
- [ ] Strings like `__( 'edit', 'glotpress' )` should get a context:  `_x( 'edit', 'glossary', 'glotpress' )`
- [x] `esc_attr( __( ) )` should be `esc_attr__( )`
- [x] `echo _x( )`

[2015-10-22 18:29] #92 closed, assigned to nobody

[2015-10-22 19:02] #1 closed, assigned to SergeyBiryukov

[2015-10-22 20:54] toolstack commented on #67
Ok, I've taken a deeper (no pun intended :wink:) look at this and found there are only 5 places in the code that directly access $_GET:
1. gp_settings.php: where the `$_GET = gp_urldecode_deep( $_GET );` line is.
2. gp_includes/misc.php: where gp_get() is defined.
3. gp_includes/routes/locale.php: should have used gp_get() anyway.
4.  gp_includes/routes/login.php: which is being removed in PR #82.

[2015-10-22 21:44] toolstack commented on #99
PR #101 cleans up _n().

[2015-10-22 22:40] toolstack commented on #52
Here are some additional thoughts on the warning message PR, there are two areas we should think about:
1. Installing V1.0.0 on existing WordPress installs.
2. Installing/Upgrading VFuture on various versions of WordPress.

These items can be broken down even further:
1. Installing V1.0.0 on existing WordPress installs.
   1.1 Installing V1 on WP < 4.4
   1.2 Installing V1 on WP >= 4.4
2. Installi

[2015-10-23 12:04] A5hleyRich commented on #5
Work on this continued in #19, as PRs overlap.

[2015-10-23 15:41] A5hleyRich commented on #70
Not bothering with the filter, as per:

https://wordpress.slack.com/archives/glotpress/p1445520712000314

[2015-10-24 02:28] toolstack opened #104 "Create WP readme.txt"
We need a readme.txt file for when we submit to the plugin directory.

[2015-10-25 13:23] ocean90 opened #105 "Page "Locales" doesn't enqueue tablesorter"
It still uses `wp_enqueue_script()`, should be `gp_enqueue_script()`.

[2015-10-25 13:38] #105 closed, assigned to ocean90

[2015-10-25 14:22] #75 closed, assigned to nobody

[2015-10-25 15:14] A5hleyRich commented on #86
I've started testing GlotPress on PHP 7 today using [HGV](https://github.com/wpengine/hgv). Everything seems to work fine so far, no fatal errors or notices triggered.

[2015-10-25 15:20] #55 closed, assigned to nobody

[2015-10-25 15:36] #70 closed, assigned to A5hleyRich

[2015-10-25 15:42] #61 closed, assigned to nobody

[2015-10-25 15:48] #9 closed, assigned to nobody

[2015-10-25 15:51] bradt commented on #19
@javorszky How far along are you? Can you open a PR so we can see it?

[2015-10-25 22:09] ocean90 opened #107 "Provide an init/loaded hook for plugins"
I think we should provide a hook which plugins can use to bootstrap their code. This would reduce the need for `is_plugin_active()` checks to prevent fatal errors.

Maybe `gp_init` and/or `gp_loaded`?

[2015-10-26 12:01] toolstack commented on #107
I thought about adding one as part of PR #34 but in the end decided against it.  I figured we already had a host of hooks that WP fires during load, why add yet another one that was likely going to be a call from one of those.

Instead of calling `is_plugin_active()` I used `if( defined( 'GP_VERSION' ) )` in a standard WP init hook to determine if GP was running.

In the old GP code, plugins were

[2015-10-26 16:43] javorszky commented on #19
Okay, this is a LOT harder than I initially expected. I'd like a bit of help with this with regards to the internal workings of it. Here are my thoughts so far:

## 1. Using WordPress roles is not a good idea.

The current permission system resembles capability-based checks. If we use Roles, we essentially lock people in to that specific role. Because in WP a user can only have one role at a time

[2015-10-26 17:11] toolstack commented on #19
I think roles are the way to go, but perhaps a little differently than above.

We would create one role per project, locale & slug (so if had a project "test", with an Aribic "ar" locale and a slug of "default", the role would be something like "GP_test_ar_default" and assign it to a user when we add the user via the permissions page.

The role would have one capability "GP_test_ar_default" which

[2015-10-26 17:26] javorszky commented on #19
Hm, checking for `user_can` is the easy part.

If we assign user roles, we need to replace whatever role WordPress gave the user, so if it was admin, we need to fetch all caps of an admin, and migrate it over to their new role. As soon as a user clicks "Update" on their profile page, their latter role is going to be wiped which is a limitation with roles.

This also doesn't solve query by role. Sa

[2015-10-26 17:35] toolstack commented on #19
We don't have to replace the role the user has, we can add roles.  A user can have multiple roles at the same time.

The WP interface doesn't let you do this, but we can use the permissions page in GP to do the work for us.

If the admin updates the user role in WP, it doesn't wipe out any additional roles the user has, it just removes the role they had and adds the new one.

[2015-10-26 17:38] ocean90 commented on #19
Funny enough, that's the same issue we currently have on translate.w.org. The latest ticket is https://meta.trac.wordpress.org/ticket/1240 and a related discussion is https://wordpress.slack.com/archives/meta-i18n/p1443790349000116.

A user can have multiple roles, you just have to do it right. ;)
The [plugin we're using is on meta.trac](https://meta.trac.wordpress.org/browser/sites/trunk/global.w

[2015-10-26 17:42] javorszky commented on #19
Heh... I personally think that in this instance the way GlotPress is handling permissions is the more correct way of doing things. To the point where I feel WordPress's handling of user permissions should be extracted to its own table.

I doubt GlotPress is the only plugin / functionality that faces this exact same issue.

@toolstack: an admin saving the profile page of a user with multiple roles

[2015-10-26 17:48] toolstack commented on #19
As @Ocean90 said, we can hook the set_user_role and make sure that doesn't happen.

Though I have to admit, I kind of agree with you that the more you look at what it takes to implement the WP permissions system in to GP, the worse it looks.

We could just avoid the whole issue by leaving the GP permissions as they are...

[2015-10-26 17:52] javorszky commented on #19
At this point I am leaning towards this. There are a number of really hard problems to solve. The WP_User and the GP_Permissions are linked together by GP_Permission's `user_id` column anyways.

[2015-10-26 18:06] A5hleyRich commented on #19
My gripe with the current implementation is that the data isn't normalised, but, if it's going to be too much work I'm happy to leave it as is.

Maybe changing the permissions system is too ambitious for the 1.0 milestone? If it is something we want to implement, can we not do it a later date?

[2015-10-26 18:23] toolstack commented on #19
If we're going to do it, now's the time.  Don't want to have to write conversion routines later if we don't have to.

Having said that, the WP Roles/Capabilities model isn't the best fit for GP.

Could we normalize the current model and resolve any other definicenes we think it might have, would that work just as well if not better for GPs requirements?

[2015-10-27 00:47] rmccue commented on #19
I don't think this is a great route. Meta-caps are the best way to handle this IMO, so we'd have roles like `gp_validator`, `gp_administrator`, etc.

`gp_validator` would give you the capability `gp_validate_languages` or something (`gp_administrator` would give you `gp_validate_all_languages`), which you'd check via `current_user_can( 'gp_validate_language', $project )`; this is similar to `edit_

[2015-10-27 01:04] toolstack commented on #19
@rmccue there are a few issues with that, using and assigning a single role to a user for `gp_validator` or `gp_administrator` means that user could only be a gp user and not a WP user as well (or we'd have to creat a `gp_validator_[wp role]` for each role and let's not even talk about plugins that might add roles) .  For example if you wanted to assign two users as gp_administrators but give one

[2015-10-27 01:08] rmccue commented on #19
I'd definitely do this with multiple roles, which are definitely possible as @ocean90; I've not found this terribly hard in the past.

Do we actually need this? I suspect YAGNI.

[2015-10-27 01:23] toolstack commented on #19
I'd say ever admin is going to need to be able to see who has access to a given translation, so yes, it's definitely a need.  That would be like saying in WP you don't need to see who's an editor or a subscriber or an author.

[2015-10-27 01:36] javorszky commented on #19
Email from customer: "Hey, when is plugin X going to be available in language Y?"

You go to the backend, all translations are done for language Y. They need to be approved.

You open up the email client, and write an email kindly asking the validator of the language to please take a look. Now, who should you make the email out to?

That's one example I'd find it handy to know.

[2015-10-27 01:43] rmccue commented on #19
In WP, you can't see who can edit specific posts, but you can infer it from what you know. The post author can _probably_ edit their own post, plus editors and above, but that's a mental process. That can also change if the post is then published. The same applies here.

**Also** the approach I mentioned above splits the data:
- The user has the capability `gp_validate_languages`, but that does no

[2015-10-27 01:51] javorszky commented on #19
The current database setup does not allow for this, unless we put this into the `gp_meta` table.

From my understanding, the point of this issue is to eliminate the need for the `gp_permission` table, but using the above approach we're moving some of the data into the WP tables, and some into a table that's currently not used, and by doing that we're not reducing complexity, but increasing it.

Co

[2015-10-27 02:10] rmccue commented on #19
(Discussing [in Slack](https://wordpress.slack.com/archives/glotpress/p1445911018000469).)

[2015-10-29 14:18] javorszky commented on #107
I like `gp_loaded`. Plugins that have this action are awesome. Worked with WooCommerce that has its own hook.

The problem with not having one of those is using something like `plugins_loaded`, which can be unreliable, as many plugins would be hooking in there. If a plugin that is earlier in the alphabet than Glotpress hooks into that hook, and GP hooks into that hook as well, and the hooks are on

[2015-10-29 14:25] bjork opened #108 "Create banner image and a plugin icon for WordPress.org plugin directory"
As per:
https://wordpress.org/plugins/about/faq/#banners

Related: #104

[2015-10-29 14:41] ocean90 commented on #86
Travis CI Build with PHP7 is passing: https://travis-ci.org/deliciousbrains/GlotPress/jobs/87684312

[2015-10-29 14:55] ocean90 commented on #108
…and a plugin icon.

[2015-10-29 16:18] bjork commented on #108
Is the logo in http://blog.glotpress.org/ the official logo? Does anyone know if there is a better quality version of it somewhere?

Personally I do not think it is a very good logo and creating a new one could be considered.

[2015-10-29 17:27] bjork opened #109 "Delete gp_content()"
The template function `gp_content()` is unused and should be deleted.

[2015-10-29 17:33] bjork opened #110 "Hook `gp_import_original_array` is called twice"
As discussed in #87, the filter `gp_import_original_array` is called twice for some originals. My conclusion:

So, I propose the second call to the filter is to be removed.

[2015-10-29 17:40] toolstack opened #111 "gp_after_request is incorrectly called twice"
gp_after_request is called twice, look in router.php:

[code]

$router->after_request() & do_action( 'gp_after_request') do the same thing, there should only be $router->after_request().

[2015-10-29 17:44] toolstack commented on #110
It does need to be called twice since we could call the update() method in either location and if the filter has altered the data it needs to do it in both locations since we don't store the data between the loops.

[2015-10-29 17:47] bjork commented on #110
But since there is no code that is dependent on this current behavior (that I know of), can't we just decide the second filter to be removed?

[2015-10-29 18:02] toolstack commented on #110
No because if someone uses the filter it will need to be executed on both loops.  If we want to get rid of the second call, we either have to reduce the two loops down to one, or keep the data from the first so it's available in the second.

[2015-10-29 18:13] bjork commented on #110
Got it, finally. So yeah, combining loops makes sense and does not seem too complicated. Also doing that will remove some duplicated code.

[2015-10-29 18:17] toolstack commented on #110
Agreed.

[2015-10-29 20:01] bjork opened #113 "Instead of gp_title() consider using WordPress internals to render the title element"
Currently GP uses its own function to render the document title, but WordPress provides a way to do it too.

Something like this would get us close:

[code]

`gp_title()` could be stripped into:

[code]

But all the template files have a hard-coded pattern for titles. So after those changes, for example for a project the title would look like this:

`Test project < GlotPress – Just another WordPre

[2015-10-29 20:21] toolstack commented on #113
I think since we generate our own header block and don't use WordPress themes (yet) we should just keep gp_title() for the time being.  When we do #8 we can convert over to the WordPress code.

Just taking a quick look at the changes (https://make.wordpress.org/core/2015/10/20/document-title-in-4-4/) it looks like we'll have to support both styles anyway as theme's may or may not support the new s

[2015-10-30 06:43] bjork commented on #113
Agreed.

[2015-10-31 10:50] ocean90 opened #114 "Cache data of `GP_Project`s"
`GP::$project->get()` should cache the data to prevent another SQL query for the same project ID.

[2015-10-31 11:52] #31 closed, assigned to gilbitron

[2015-10-31 12:20] #85 closed, assigned to A5hleyRich

[2015-10-31 12:40] #67 closed, assigned to nobody

[2015-11-02 18:05] toolstack opened #116 "Incorrect use of placeholder in sql statements"
Some of the sql statements are using placeholders incorrectly by including the single quotes around the string placeholder.

[2015-11-02 21:14] toolstack commented on #108
How about something like this (I have vector versions of them):

Some explanation of the design choices:
- The color was picked from the existing GlotPress banner on glotpress.org.
- The typeface is "Baskerville Old Face" which was the closest match to the existing GlotPress logo I had available.
- The logo design is based on the existing WordPress logo, I did not include the "oversized" font desi

[2015-11-03 08:13] bjork commented on #108
I can get a professional to do a logo, but I first need a confirmation that it is needed.

[2015-11-03 14:41] javorszky opened #119 "Get all permissions for a given project"
As part of #19, we're trying to turn permissions to use `current_user_can` and `map_meta_cap`. Finding a user's permission is easy. Finding all the users that have permissions for a given thing is harder.

This issue tracks the latter.

[2015-11-03 14:49] toolstack commented on #19
As per the [discussion in slack](https://wordpress.slack.com/archives/glotpress/p1446559215000706), moved this to an enhancement instead of a bug and assigned to @ocean90.

[2015-11-03 21:45] #71 closed, assigned to nobody

[2015-11-03 21:46] #111 closed, assigned to nobody

[2015-11-03 21:57] #96 closed, assigned to nobody

[2015-11-03 21:59] #116 closed, assigned to nobody

[2015-11-03 22:58] ocean90 opened #121 "Investigate why GP_Test_Project::test_translations_in_copy_sets_and_translations_from() fails sometimes"

[2015-11-03 23:04] ocean90 commented on #78
@toolstack Looks like you're right, seems to be a copy&paste issue in https://glotpress.trac.wordpress.org/changeset/500.

[2015-11-03 23:05] toolstack commented on #78
Woohoo!  I like it when I'm right :smile:

[2015-11-03 23:09] #78 closed, assigned to nobody

[2015-11-03 23:52] toolstack commented on #19
I've updated by POC branch [19-toolstack-poc-capabilities](https://github.com/deliciousbrains/GlotPress/tree/19-toolstack-poc-capabilities) to support listing and deleting capabilities.

[2015-11-04 00:10] toolstack opened #122 "Permissions locale list too long"
When adding permissions the locale list includes all locales instead of only those translation sets that exist in the project.

You shouldn't add permissions for translation sets that don't exist.

[2015-11-04 18:08] #21 closed, assigned to nobody

[2015-11-04 19:51] #86 closed, assigned to A5hleyRich

[2015-11-05 13:01] toolstack commented on #119
Take a look at [how](https://github.com/deliciousbrains/GlotPress/blob/19-toolstack-poc-capabilities/gp-includes/caps.php#L135) I retrieved the list of validators for a given project in my PoC code.

There's really only a few types of permission in the code (projects, glossaries and translation sets) so making a similar function for each type with a rollup function if your really needed everything

[2015-11-05 15:00] bradt commented on #5
.@ocean90 is working on a solution to #19 that may take care of this. If it doesn't pan out though, we should reopen #20.

[2015-11-05 15:03] bradt commented on #107
:+1:  `gp_init` and `gp_loaded`

[2015-11-05 15:17] bradt commented on #108
I like the idea of the logo with teh G in the circle above. Seems inline with bbpress.org and buddypress.org logos. I'll see what I can come up with.

[2015-11-05 15:31] bjork commented on #107
What would be the difference between `gp_init` and `gp_loaded`, if both of them would be added?

[2015-11-05 17:45] toolstack opened #129 "format_resx.php uses a text block which breaks unit tests on Windows."
The header generator in format_resx.php using a single text block to output the static content, however git will change the line endings by default on the text block based on the OS you are using so it could have either \r or \r\n.

However other parts of the file are only generated with \n so you end up with a file with mixed line endings which then breaks the unit test case.

[2015-11-05 18:13] toolstack commented on #122
There are two PR's for this, both accomplish the same thing but in different ways:
- the first adds an additional parameter to the end of gp_locales_dropdown() function to limit the list by project id
- the second adds a new function gp_locales_by_project_dropdown() with the project id as the first parameter of the function and the rest identical to gp_locales_dropdown()

[2015-11-05 20:13] toolstack opened #132 "Should we break the fork with glotpress/glotpress or do something else?"
I'm opening an issue for this so we have a single place to track it.

The discussion started over on [Slack](https://wordpress.slack.com/archives/glotpress/p1446721968000031) about breaking the fork so that when creating pull requests the glotpress/glotpress branch would not be the initial fork selected to merge to.

The discussion continued in the weekly meeting [here](https://wordpress.slack.com

[2015-11-05 20:18] toolstack commented on #132
While, at first glance this seems like a good idea, the one issue I can see is that once the fork is broken off of glotpress/glotpress, merging back to the root tree might be an issue.

This then come down to what the future of GlotPress as a plugin is, if:
- It stays it's own codebase and does not merge back in to the original GlotPress git/svn repo, then breaking the fork makes perfect sense.
-

[2015-11-06 01:12] rmccue commented on #132
This does _not_ change any of the code or version history, and merging will still work fine if we ever want to do that. The only thing it'll change is the GitHub UI so that this is no longer listed as a fork of glotpress/glotpress.

[2015-11-06 01:40] toolstack commented on #132
Thanks @rmccue I wasn't sure if there were any future issues but if not then let the borking begin!

[2015-11-06 10:41] gilbitron commented on #122
Is there any particular reason for the alternate solution #131? Personally I think #123 is a cleaner solution.

[2015-11-06 10:47] ocean90 commented on #104
The plugin directory supports a Readme.md too. Do we want an extra readme just for the directory?

[2015-11-06 10:59] ocean90 commented on #132
Some questions from https://wordpress.slack.com/archives/glotpress/p1446736685000230

No, I don't know who the owner of the GlotPress organisation is.

Yes and no. We still can merge upstream changes.

Correct.

Not harder as before, although I'm not planning to continue with cherry-picking since the differences are too huge. It would be more work to fix all the merge conflicts. We can should just

[2015-11-06 11:01] ocean90 commented on #132
@toolstack It's also not planned to merge the plugin into the existing standalone branch. We can just replace the default branch if we want.

[2015-11-06 12:26] toolstack commented on #132
Sounds good.

[2015-11-06 12:29] toolstack commented on #122
@ocean90 had a concern about adding the extra parameter at the end of the parameter list and readability, see https://wordpress.slack.com/archives/glotpress/p1446735005000158

So I created an alternate version that self-documents better.

[2015-11-06 12:34] toolstack commented on #104
The plugin directory only kind of supports .md's as it doesn't support GitHub style markdown, only WP style markdown.

I think it make sense to have a properly formatted readme for both the plugin directory and GitHub.

Likewise there's probably different content we want in each one, .txt is going to have screenshots, header information, change log and other sections that the repo probably doesn't

[2015-11-06 14:49] #109 closed, assigned to nobody

[2015-11-06 14:51] gilbitron commented on #122
Fair enough. In that case should we close #123 and merge #131?

[2015-11-06 15:00] toolstack commented on #122
I was waiting for some more feedback from @ocean90, I'm fine either way.

[2015-11-06 17:41] toolstack commented on #121
Ok, found the problem, the failing [test](https://github.com/deliciousbrains/GlotPress/blob/wordpress-plugin-dbi/tests/tests_things/test_thing_project.php#L147) code is:

The problem is the test for date_added, none of the code copies the field from the $original to the $copy so IF Travis CI runs this test right at the top of a second when creating the $original and then roles over to the next sec

[2015-11-06 17:57] toolstack commented on #121
One note to make, copy_originals_from() does in fact copy date_added for the originals, but not the project, which what is being tested and where the confusion may have come from.

[2015-11-07 00:18] toolstack commented on #107
So it looks like the consensus is we should have some hooks for this so I've created PR137 with the following three:
1. gp_loaded - fires after all GP functions have loaded but before the upgrade script.
2. gp_init - fires on the WP init hook but after the rewrite rules have been registered.
3. gp_plugins_loaded - fires on the WP plugins_loaded hook.

[2015-11-09 17:36] ocean90 opened #139 "Reconsider translation sets"
This issue is ported over from the upstream issue [#373](https://glotpress.trac.wordpress.org/ticket/373) by @nb.

[2015-11-09 17:48] ocean90 commented on #114
I thinking about something like WP has for `WP_Post`, see https://github.com/WordPress/WordPress/blob/77e365efbf2e499e2ed11d29c101ea466cf1ceed/wp-includes/class-wp-post.php#L217-L231.

[2015-11-09 18:29] toolstack commented on #114
Looking at the above example I'm not sure if that style of cache makes much sense for GP.

From http://codex.wordpress.org/Class_Reference/WP_Object_Cache:

(bold added)

Most of the GP SQL calls are not computationally expensive and any persistent cache is going to store them in the database anyway so we won't get much benefit from a persistent cache.

On a small site you're probably not going to

[2015-11-09 19:17] toolstack commented on #139
I think translation sets make sense for a few reasons:
- They decouple the details of the translation set from the strings/project.  So if I need to change a set's slug (or locale or whatever) I only have to update a single database row instead of every translation.
- They provide an easy and computationally cheap way of showing things like "all projects that have a locale of ar"
- The above comme

[2015-11-10 13:45] ocean90 opened #143 "Projects: Remove personal option for source template"
Introduced in b772d61842899a9627c39f302f97fd2a223fc0f4.

There is only a POST route, no GET route, means their is no UI. I don't have a serious use case for why such an option must exist.

[2015-11-10 13:48] ocean90 commented on #143
Actually there is an UI, hidden under Project actions.

<img width="1115" alt="bildschirmfoto 2015-11-10 um 14 47 04" src="https://cloud.githubusercontent.com/assets/617637/11063925/fee605ce-87b9-11e5-971d-9bd095b464ab.png">

[2015-11-10 14:08] toolstack commented on #143
The only use case I can think of would be to allow the admin to point to a different source repository that had a web based editor.

For example, you could point the project level source at the public read only repository (like the wordpress SVN repo) and then point your personal source to your private GitHub repo where you do your development.

It's a little bit of a strange use case, but is ther

[2015-11-10 14:51] ocean90 commented on #143
I don't think it's strange, it makes sense enough to keep it.

[2015-11-10 14:51] #143 closed, assigned to nobody

[2015-11-10 14:53] toolstack commented on #143
:+1:

[2015-11-10 17:09] ocean90 opened #145 "gp_append_meta() doesn't work"
See https://glotpress.trac.wordpress.org/ticket/480

Are there any objections for removing `gp_append_meta()`?

[2015-11-10 17:13] ocean90 commented on #145
~~Can we use the Meta API `add_metadata`, `update_metadata`, and `delete_metadata` for the other functions?~~

[2015-11-10 18:52] #121 closed, assigned to nobody

[2015-11-10 18:53] ocean90 commented on #121
Nice catch @toolstack :+1:

[2015-11-10 20:15] ocean90 opened #146 "Enhance (default) sort options for users"
Follow-up to #144.
- https://github.com/deliciousbrains/GlotPress/commit/7c3f4f3e34976e85d0c35143e50664a919e5da34#diff-e721e34903e6c80ce0bb483a0d6555b6R89, https://github.com/deliciousbrains/GlotPress/commit/7c3f4f3e34976e85d0c35143e50664a919e5da34#diff-5dd587a9394e83f43dd2764468e4d142R12, https://github.com/deliciousbrains/GlotPress/commit/7c3f4f3e34976e85d0c35143e50664a919e5da34#diff-c4239e76066

[2015-11-10 21:09] ocean90 opened #147 "Remove references to clean_url()"
[code]

Related: https://core.trac.wordpress.org/changeset/34920

[2015-11-10 21:43] toolstack opened #150 "Remove unused table api_key"
The api_key table doesn't seem to be used, let's remove it.

[2015-11-10 22:15] #147 closed, assigned to ocean90

[2015-11-10 22:19] ocean90 commented on #150
Introduced in https://glotpress.trac.wordpress.org/changeset/390 `¯\_(ツ)_/¯`

[2015-11-10 22:21] toolstack commented on #145
It doesn't appear to be used anywhere so remove it.

:+1:

[2015-11-10 22:38] #129 closed, assigned to nobody

[2015-11-11 09:40] ocean90 commented on #150
@toolstack The API code shouldn't be removed, it's definitely used.

[2015-11-11 18:23] toolstack commented on #150
Ok, I'll revert the change in the PR.

[2015-11-11 22:31] nb commented on #150
Yeah, we had grander plans for the API at that time. Next time :)

[2015-11-12 00:14] #150 closed, assigned to nobody

[2015-11-12 13:47] #23 closed, assigned to nobody

[2015-11-12 14:02] #145 closed, assigned to nobody

[2015-11-12 14:58] ocean90 commented on #119
Some potential queries which should be covered by this
- Get all validators for project 1.
- Get all validators for project 1 and locale hu.
- Get all validators for locale hu.

[2015-11-12 15:23] ocean90 commented on #19
As [per todays meeting](https://wordpress.slack.com/archives/glotpress/p1447338662000068) we're closing this as a wontfix.

[2015-11-12 15:23] #19 closed, assigned to ocean90

[2015-11-13 01:54] dd32 commented on #139
My views on Translation Sets are rather vague, but in the end it boils down to several main points
- What is a Translation Set
- How do I query GlotPress for Projects and/or Translations and/or Originals
- How should Translation Sets actually be used

Translation sets as currently implemented link several things together `(Project, Locale, Locale Variant, Locale Name (Set Name))`, they act togethe

[2015-11-13 07:36] deconf commented on #108
The banner won't work, because the plugin title will be displayed over the banner (in Plugin Directory). IMHO any banner containing a big text will look bad.

[2015-11-13 12:11] adipop commented on #108
Hi,
I would like to propose a new logo for GlotPress plugin.
If You like it I can propose a banner too :)

![glotpress-logo-blue](https://cloud.githubusercontent.com/assets/914417/11145653/1d3b5a1c-8a10-11e5-8eef-8e465d93daa9.png)
![glotpress-logo-button](https://cloud.githubusercontent.com/assets/914417/11145654/1d3dedea-8a10-11e5-9929-e7c9b5bd3554.jpg)

There is a .svg or .ai version of them, of

[2015-11-13 12:41] deconf commented on #108
I like the blue, flat version and the idea of having <strong>GP</strong> instead of a simple <strong>G</strong>.

[2015-11-13 12:53] adipop commented on #108
Here you have several sizes (and colors).
![glotpress-logo-sizes](https://cloud.githubusercontent.com/assets/914417/11146343/3e7caa22-8a16-11e5-8ee2-424f63988855.jpg)

[v 1.0]

[2015-11-13 13:34] toolstack commented on #139
Reading @dd32's comment it seems to me that it's really the data model that's lacking in many of the cases.  The data is there, but it's expensive to get to.

A proper data model would take in to account many of the things above and add them to the database/code in a way that would be inexpensive to retrieve later.

An area we do have to be a little careful of is assuming wordpress.org is the only

[2015-11-13 14:01] toolstack commented on #108
@deconf, that assumes the banner image height is 100% and has no space at the bottom.  The banner was more for glotpress.org than the plugin directory though.

@adipop Flat version for sure, but I think it might look a little busy with the globe and GP, especially with them all flowing together.

[2015-11-13 15:50] deconf commented on #108
@toolstack I wasn't talking about a possible overlap issue, my concerns are more about the visual impact of displaying the same text twice, using big fonts (the text from the banner and the plugin title).

[2015-11-13 16:19] ocean90 commented on #108
I think we should have something which doesn't look like bbPress or BuddyPress.

If you propose a logo/icon please also explain it a bit, like the reason for the form, the colors, the font type etc.

[2015-11-13 18:07] adipop commented on #108
Hi @ocean90! Ok, I didn't know that it's preferable to have a different look than WordPress sign (bbPress or BuddyPress). I though of contrary :)
That's why I used the same font as in WordPress Logo, Mrs. Eaves, and starting from the WordPress sign construction I tried to create a similar feeling.
I avoided one letter (G) because it led to the new Google G-logo. But because the two letters (from G

[2015-11-15 08:50] rmccue commented on #108
Note that the logo itself is actually typeset in Dalliance; it's only the wordmark that's in Mrs Eaves. :)

[2015-11-15 08:55] adipop commented on #108
Thanks Ryan, didn't know that and had to edit a little bit the serifs... :)
I'll try with Dalliance!

​

On Sun, Nov 15, 2015 at 10:50 AM, Ryan McCue notifications@github.com
wrote:

[2015-11-15 09:06] dd32 commented on #139
My comments are mostly about a Large install, it's easy to make customisations for a small install by filtering or joining, but if you want an application that can scale to thousands, you have to design it in a way that flexibility is provided for both - and the current way is geared towards small sites with no thought given for a larger install.

Yeah, if you just want to change one, then IMHO yo

[2015-11-15 09:07] rmccue commented on #108
Caution: Dalliance is a _very_ strange font, so I wouldn't be surprised if you're better off with a normal serif instead.

[2015-11-15 11:58] adipop commented on #108
Indeed strange, It's useless for GP :)
![gp gp in dalliance](https://cloud.githubusercontent.com/assets/914417/11168645/bfe5af7e-8ba0-11e5-9018-0a7ca0121695.gif)
![glotpress in dalliance](https://cloud.githubusercontent.com/assets/914417/11168646/d1cdc1b8-8ba0-11e5-91e6-28226bff2d06.gif)

[2015-11-16 10:43] adipop commented on #108
@deconf asked me to try with a simplified globe. Here are both variants:

![glotpress-logo-2var-round](https://cloud.githubusercontent.com/assets/914417/11179926/8f862c40-8c5f-11e5-9ea6-dd3a5ca159b1.png)

and the same on square:

![glotpress-logo-2var-square](https://cloud.githubusercontent.com/assets/914417/11179941/a6bd906a-8c5f-11e5-8e0f-a7e8b49e8efe.png)

[2015-11-16 13:13] toolstack commented on #108
I think the simplified globe looks a lot like a basketball...

[2015-11-16 15:45] adipop commented on #108
Right :) ...actually is the dribbble sign. So I make a correction and here is a version 3.
![glotpress-logo-var3](https://cloud.githubusercontent.com/assets/914417/11186323/d80b6262-8c89-11e5-85a6-86f7d6070ba9.png)

[v 1.0 and v1.1]

[2015-11-16 18:26] deconf commented on #108
V1 square looks better, not having that white circle around does a lot. Here's a sample:

![plugin-directory-preview](https://cloud.githubusercontent.com/assets/5954813/11190989/7049c4bc-8ca1-11e5-9d0e-ffa7ae035c10.png)

[2015-11-16 19:19] adipop commented on #108
I made another version in two variants with a larger and more clear globe and using a modern font - one of my favorites  - Helvetica (blod).
@deconf made a mockup for each of them, Thanks Alin.
![glotpress-logo-var5](https://cloud.githubusercontent.com/assets/914417/11191991/37611c80-8ca7-11e5-9b17-7a76dfc15a78.png)

[v 1.2]

![mockup-v5](https://cloud.githubusercontent.com/assets/914417/11192026/

[2015-11-16 19:50] javorszky commented on #108
Personal opinion: having the globe display North and South America, Europe and Africa isn't representative of the entire community (on account of Asia and Australia are missing).

I like the last one, square top right and mid bottom. The trefoil version adds too much visual noise imho.

[2015-11-16 22:39] rmccue commented on #108
Gotta cut somewhere off if you have a globe in 2D. :)

[2015-11-16 22:40] javorszky commented on #108
![](http://alteagallery.com/jpegs/8335.jpg)

;)

[2015-11-17 06:39] adipop commented on #108
That's a good point :) What about this?
![glotpress-logo-var6](https://cloud.githubusercontent.com/assets/914417/11204366/bd9cd168-8d06-11e5-83d8-f80171d8f68c.png)

[v 1.4]

[2015-11-17 09:22] adipop commented on #108
and yet another one! (for simplifying references I named the versions below)

![glotpress-logo-var9](https://cloud.githubusercontent.com/assets/914417/11207347/62b98982-8d1d-11e5-81f1-0983591eaf13.png)

[v.1.5]

[2015-11-17 13:30] javorszky commented on #119
Hi!

So I've been digging in the codebase to check where permissions are asked for. Checked all the routes, and here's the detailed findings: https://gist.github.com/javorszky/47994137d708d5d5c0bf

There are only 4 things we ever check:
- is the user logged in?
- can user `approve` this `translation_set` identified by translation set ID?
- can user `write` this `project` identified by project ID?

[2015-11-17 13:42] toolstack commented on #108
How about something a little different:

![glotpress-logo-3](https://cloud.githubusercontent.com/assets/9053749/11212920/01c4fb86-8d07-11e5-9529-2ed872a84960.png)

[2015-11-17 14:28] toolstack commented on #119
Or vastly expanded :wink:

The current implementation is clearly limited, wordpress.org is a clear example of where more, not less permissions are required.

I can think of a few area's that should be added:
- Read permissions for basic access.  At the moment there's no way to create a "private" GP install that requires you to login before seeing the projects/translations.
- Project level create/e

[2015-11-17 14:29] javorszky commented on #119
If we expand that then WordPress's own permission system is definitely not going to be efficient in handling all of those.

[2015-11-17 15:04] toolstack commented on #119
Hence why we aren't using WordPress Roles and Capabilities.  :smile:

[2015-11-19 00:09] hugobaeta commented on #108
It’s great to see all the enthusiasm here; I was inspired by a few things I saw. Went back and forth with  @mattmiklic in a chat, and In the end decided to go for a more "traditional" approach, based on the intricacies of the [WordPress brand](https://make.wordpress.org/design/handbook/foundations/identity/).

This proposal uses the same typography as the WordPress logo. The Emigre Dalliance lower

[2015-11-19 05:30] deconf commented on #108
IMO, a banner with a big text on it just won't work for the reasons mentioned above. I would rather go for something that represents or suggests what GP is and does in a banner and let the overlaying plugin title to take care of text .

Regarding the logo when we use G in WP community everyone thinks at Google. GP is the abbreviation we use for GlotPress, so IMO it would make sense to have more th

[2015-11-19 05:46] rmccue commented on #108
Conversely, "WP" is the abbreviation for WordPress, but the logo is just a W :)

@hugobaeta Love the G!

[2015-11-19 10:03] ocean90 commented on #108
@deconf

You should avoid _everyone_ if you don't have any proof for that. For example I don't think at Google when I see a G. G+ is another topic.

@hugobaeta
I really like the lowercase "g" and would go with the alternative proposal for "GlotPress". I think it's OK to not use both near together.

btw: I still think that GlotPress should have its own brand colors.

[2015-11-19 12:51] #107 closed, assigned to nobody

[2015-11-19 13:02] ocean90 commented on #139
I think the assumption is to use `GP_Locales()->locales()` and to show all locales instead.

[2015-11-19 13:07] toolstack commented on #108
@hugobaeta I like the lower case g as well from a visual perspective but it does kind of grinds on my nerves a bit from a grammatical perspective :wink:

I do think the lower case g is more reminiscent of Google's older logo they used for some of their icons (take a look at this [Wikipedia page](https://en.wikipedia.org/wiki/Google_logo#Favicon) for examples).

It may be too close from a trademark

[2015-11-19 13:10] toolstack commented on #139
That might be the assumption, but it's not a very good user interface if I have a project that only has one or two locale's with translations and I have to sift through hundreds to find them.

[2015-11-19 13:19] ocean90 commented on #108
If we want to continue with the color scheme from WordPress maybe one of http://codepen.io/hugobaeta/full/RNOzoV/. Yellow, orange or purple are my favs.

[2015-11-19 13:19] adipop commented on #108
@hugobaeta
I like the "traditional" approach, too :) ...but I would not dismiss the capital G! With a little bit of extra-work I enhanced and corrected the extravagant G in a more lean one, of course keeping the W's flavor! Here are some steps and the final proposition, with an icon and a color proposition.
Hope you like like it as much as I do.

![glotpress-logo-work-new](https://cloud.githubuser

[2015-11-19 13:28] deconf commented on #108
@ocean90 sometimes a little good faith is required for a proper interpretation of a message, and a quick search on Slack and Forums.

[2015-11-19 13:31] deconf commented on #108
@adipop Red?! Please don't :)

[2015-11-19 13:34] toolstack commented on #108
I kind of like the Orange...

Though the stylized capital G looks more like a C with a J attached to it.

[2015-11-19 13:45] adipop commented on #108
@deconf: is orange, not red, please! Not exactly the orange from the color scheme proposed by @ocean90. This is with the fire orange (#F56E28).

![glotpress-logo-g-fire-orange](https://cloud.githubusercontent.com/assets/914417/11272242/26c3df28-8ed4-11e5-965d-bb30acadc7ec.jpg)

@toolstack: funny, didn't saw that!

[2015-11-19 13:50] ocean90 commented on #108
@adipop Nice, can you make a third alternative where only "Glot" is in orange and icon + "Press" in gray?

[2015-11-19 13:53] adipop commented on #108
Like this...
![glotpress-logo-g-fire-orange-2](https://cloud.githubusercontent.com/assets/914417/11272448/b0f1bfac-8ed5-11e5-8cf9-549a56526d55.jpg)

[2015-11-19 14:08] ocean90 commented on #108
Now I can't unsee that...

[2015-11-19 15:07] deconf commented on #108
@adipop I was on mobile and it seemed to be red, sorry. Anyway, the logos with <strong>GP</strong> are more suggestive.

[2015-11-19 15:22] toolstack commented on #108
@ocean90 welcome to my world...

[2015-11-19 15:36] bradt commented on #108
I like what @hugobaeta has come up with above. Here's my attempt...

![image](https://cloud.githubusercontent.com/assets/190095/11274595/ec2747b6-8eaf-11e5-8ead-0fb3d44ee5b4.png)

I liked how the lowercase "gp" go together in my code editor, so figured I'd try them in Helvetica in the medallion. I think they look great together. Very symmetrical.

Here's a couple of screenshots of the logo in the

[2015-11-19 15:49] adipop commented on #108
@ocean90 & @toolstack The calligraphic G is pretty close to the one proposed. Maybe you can now forget the CJ :)

![08edd5cd7f75a456af05dbb4144aab](https://cloud.githubusercontent.com/assets/914417/11275322/ceeab3fa-8ee5-11e5-8a2d-f80b4597af56.gif)

[2015-11-19 16:09] toolstack commented on #108
Sorry, still see the CJ :disappointed:

But I do like the symmetry of @bradt gp design.

[2015-11-19 16:25] deconf commented on #108
@bradt I wonder if increasing the <strong>gp</strong> font size would affect the overall aspect.

[2015-11-19 17:40] hugobaeta commented on #108
I understand this discussion is about specifically the banner and icon for the plugin, but it has derailed, inevitably, to the topic of branding.

@bradt I had gone in the direction of playing with the GP as well, but did so in Mrs.Eaves Petite Caps.

@adipop The type purist in me can't deal with such heavy alterations to Dalliance's forms, specially because that G looks now like a mash of an uppe

[2015-11-19 17:51] samuelsidler commented on #108
I really like the last logo / wordmark. I especially like the purple one because no other *Press product is using that color right now.

[2015-11-19 18:14] toolstack commented on #108
:+1: on the purple

The background map kind of cuts off too many parts (poor Australia is missing completely).  Perhaps a more abstract texture would be better.

[2015-11-19 18:45] toolstack commented on #108
![purple-topbar](https://cloud.githubusercontent.com/assets/9053749/11280382/cf4ed94c-8ec3-11e5-9407-c6288989ba40.png)

[2015-11-19 19:06] samuelsidler commented on #108
@toolstack I'm not sure I'd go that far. :) Perhaps use purple as a highlight. But we should do that in another issue.

[2015-11-19 19:23] ocean90 commented on #108
@bradt Nice idea!

@hugobaeta
I like both colors, maybe the yellow one a bit more, because WooCommerce is purple.
I agree with @toolstack, let's add Australia before @rmccue wakes up. :smile:

[2015-11-20 01:04] hugobaeta commented on #108
@toolstack @ocean90  Did some adjusting so we can see Australia and a bit of New Zealand ;)

![GlotPress Banner Review](https://cldup.com/sZBdeU-Bfw.png)

[2015-11-20 01:08] hugobaeta commented on #108
@toolstack regarding the GlotPress UI design, I can create a styleguide for you guys with colors and typography if you'd like, but maybe do so in another ticket, yes?

(on a side note, it's kinda funny being involved somehow with GP again [after almost exactly 4 years](http://blog.glotpress.org/2011/10/18/rethinking-the-glotpress-ui/)!)

[2015-11-20 01:40] toolstack commented on #108
Yea we can do a style guide after we get the logo/banner done as another ticket.

[2015-11-20 01:45] rmccue commented on #108
\o/

Love the latest from @hugobaeta, both purple and orange look lovely.

[2015-11-20 03:23] dd32 commented on #139
I would personally keep Translation Sets around still, just not have them unique per project. As a result an install could still only have the 5 locales it's interested in. It'd be more of a `GP_Translation_Sets->get()` call as a result (or most likely `GP_Translation_Sets->get_for_project( $project )` which maps to `get()` internally with a filter for the below scenario)

In my mind, the existing

[2015-11-20 05:37] deconf commented on #108
Both the logo and the banner are simple and suggestive, exactly what a plugin needs.

[2015-11-20 12:19] bradt commented on #108
Nice work @hugobaeta. Love the map bg. Purple is nice too, though it does remind me of WooCommerce. And since Automattic bought WooThemes, does that make WooCommerce a .org project? :)

The only thing bugging me about your latest work is the uppercase GP in the medallion...
1. I think the gap between the letters could be tightened up a bit.
2. The serifs feel a bit awkward/clumsy.
3. Lowercase gp

[2015-11-22 11:38] ocean90 commented on #132
Done. :+1:

[2015-11-22 11:38] #132 closed, assigned to nobody

[2015-11-22 12:03] ocean90 opened #156 "Add Scrutinizer config file"
Going to add https://github.com/WP-API/WP-API/blob/develop/.scrutinizer.yml as a base we can iterate on.

Docs: https://scrutinizer-ci.com/docs/configuration
Repo: https://scrutinizer-ci.com/g/deliciousbrains/GlotPress/

[2015-11-22 12:20] #156 closed, assigned to ocean90

[2015-11-22 12:58] #104 closed, assigned to nobody

[2015-11-22 13:24] ocean90 opened #158 "Fix code indentation in some files"
See https://scrutinizer-ci.com/g/deliciousbrains/GlotPress/inspections/ca7a9b1c-2514-45eb-b00a-0832be385f2a/patches?status=all&selectedCategories%5B0%5D=Indentation

[2015-11-22 13:26] #122 closed, assigned to nobody

[2015-11-22 13:50] #158 closed, assigned to ocean90

[2015-11-22 15:10] #5 closed, assigned to nobody

[2015-11-22 20:20] ocean90 opened #160 "Merge upstream changes r1146 to r1158"
https://glotpress.trac.wordpress.org/log?action=stop_on_copy&mode=stop_on_copy&rev=1158&stop_rev=1146&limit=100&sfp_email=&sfph_mail=

[2015-11-22 20:55] #160 closed, assigned to ocean90

[2015-11-27 16:15] polevaultweb opened #162 "Send code coverage for unit tests to Scrutinizer"
This is helpful to quickly see code coverage of the project and individual files.

Can be promoted to 1.0 if people see fit, just didn't know if we had capped the 1.0 release.

[2015-11-27 18:08] polevaultweb opened #164 "Add more unit tests"
Code coverage is at 33%, let's get it up.
- [ ] Rewrite

[2015-11-27 20:34] ocean90 opened #166 "Enhance editor for translations with `contenteditable`"
**Current editor:**

<img width="736" alt="" src="https://cloud.githubusercontent.com/assets/617637/11447599/e89b9f1c-9548-11e5-8991-ce1290801cc2.png">
`<textarea>`

**Enhanced editor:**

![editor](https://cloud.githubusercontent.com/assets/617637/11447672/8c0e8ed8-954a-11e5-99b7-1a2783acd2da.jpg)
`<div contenteditable="true">`

`contenteditable` would give use more flexibility to:
- replace PHP p

[2015-11-30 14:24] toolstack commented on #166
I think the implementation could be very complex to get this to work correctly.  For example if we highlight the trailing whitespaces/new lines (presumable by wrapping them in a span?) and the user doesn't notice before they hit save we end up either having to strip that span off again or save it as part of the translation.

I don't think we can replace the placeholders with "easy" versions of the

[2015-11-30 14:42] toolstack opened #167 "Merge back to master"
Now that we have broken the fork, we should merge back the wordpress-plugin-dbi branch back to the master branch to simplify things.

[2015-11-30 14:54] ocean90 commented on #166
Complexity shouldn't be an issue if we can improve the UX by "200%" for translators. :relaxed:

[2015-11-30 14:56] ocean90 commented on #162
1.0 sounds good for this. :+1:

[2015-11-30 14:56] samuelsidler commented on #166
I like the idea, but it would be good to have a designer look at it and think through how we can accommodate dragging/dropping the placeholders given that they aren't always in the same order. It would prevent a _lot_ of errors though.

[2015-11-30 14:56] #162 closed, assigned to polevaultweb

[2015-11-30 15:42] toolstack commented on #166
If we get an overall 200% improvement I'd agree, but I suspect we might get a 200% for only 1% of the use cases...

I guess what I'm saying is that this is a pretty big change and there's lots of edge cases to consider when implementing it.

[2015-12-01 04:13] JRGould commented on #108
I'm not a huge fan of the lowercase, sans-serif logo. It does have a very appealing symmetry, but it reminds me too much of British Petroleum:

![image](https://cloud.githubusercontent.com/assets/1509647/11492127/ba3fed4c-979d-11e5-8c9b-b4e2c6a7d0dd.png)

I like @hugobaeta's Mrs. Eaves version, as it's more in line with WP's branding. I also like the idea of the map background to the banner, but n

[2015-12-01 04:22] rmccue commented on #166
I actually did some work on this way back, using [CodeMirror](https://codemirror.net/) which supports uneditable "tokens". This meant you wouldn't be able to edit the placeholders themselves, but could still move them around (by typing around them, or cut-and-paste).

It was pretty easy to achieve. I'll see if I can dig up the code.

[2015-12-02 22:02] christophherr opened #169 "CLI: Typo in the translation set command"
In
https://github.com/deliciousbrains/GlotPress/blob/wordpress-plugin-dbi/gp-includes/cli/translation-set.php#L106

'%s translation were added'

should be

'%s translation was added'

[2015-12-03 11:05] chantalcoolsma opened #170 "Typo in readme strings"
https://translate.wordpress.org/projects/wp-plugins/glotpress/dev-readme/nl/default?filters[original_id]=1459872

"the hard word" should be "the hard work"

[2015-12-03 11:51] #170 closed, assigned to nobody

[2015-12-03 12:13] #169 closed, assigned to nobody

[2015-12-03 12:18] ocean90 commented on #167
Can't we just delete the master branch and "rename" the wordpress-plugin-dbi branch?

[2015-12-03 13:44] chantalcoolsma opened #173 "Statuses in footer are not translatable"
The statuses in the footer aren't translated. They just show as "current", "waiting", "fuzzy" and "old".

gp-templates/translations.php, line 186:

`<div><?php echo $status; ?></div>`

"Legend" and "with warnings" are fine.

[2015-12-03 14:15] ocean90 commented on #119
Moving to future because of the pending discussions.

[2015-12-03 14:16] rmccue commented on #167
:point_up: that's the best solution, IMO

[2015-12-03 14:45] toolstack commented on #167
:+1: to delete and rename then.

[2015-12-03 20:00] ocean90 commented on #108
First of all, thanks for all the proposals! Great work! :tada:
We're now at the point where we have to make a decision.

From today's chat: https://wordpress.slack.com/archives/glotpress/p1449154576000420

I'm currently not planning to do a poll for the graphic itself, maybe only one for the colors.
**But** I invite everyone to do a final proposal for his graphic. **The final decision will be made

[2015-12-04 06:44] deconf opened #175 "Replace Validator with Translation Editor"
What do you think about replacing the <strong>Validator</strong> title with <strong>Translation Editor</strong>?

Also see: https://make.wordpress.org/polyglots/glossary/#translation-editor

[2015-12-04 08:49] chantalcoolsma commented on #175
Agree. We already translated "Validator" as "Redacteur" (Editor) in Dutch (nl_NL)

[2015-12-04 10:30] ocean90 commented on #175
I don't think we should change it in GlotPress, Translation Editor is specific to translate.wordpress.org.

[2015-12-04 12:55] deconf commented on #175
The discussion around the change we've made on t.w.org is the main reason behind the above suggestion, and of course to make communication easier between t.w.org users and GP users.

[2015-12-04 13:20] samuelsidler commented on #175
I agree with @ocean90. This change doesn't make sense for GlotPress-proper. We only use it on translate.wordpress.org because it makes sense within the context of WordPress.org. For others who use and install GlotPress, this change won't make as much sense.

[2015-12-04 13:30] #175 closed, assigned to nobody

[2015-12-05 14:24] chantalcoolsma commented on #108
Thought about all of them over the last few days. At first I liked the one with the globe (v1.3), but eventually I like the last one the most. Purple.

[2015-12-06 16:38] bradt commented on #108
I could be wrong, but I think I've counted more people that are for the purple. Here's a couple of in-context screenshots...

![image](https://cloud.githubusercontent.com/assets/190095/11614305/b2d99d6e-9c0c-11e5-803f-dcd2e5d72ff7.png)

![image](https://cloud.githubusercontent.com/assets/190095/11614317/f0116090-9c0c-11e5-807e-99acc12f396c.png)

@hugobaeta Would be great to update https://wordpres

[2015-12-10 16:09] ocean90 opened #176 "Rethink directory structure"
From https://github.com/deliciousbrains/GlotPress/pull/163#issuecomment-160195452

Thoughts?

[2015-12-10 16:12] ocean90 opened #177 "Release Process"
I'm thinking a script like https://github.com/WP-API/WP-API/blob/develop/bin/release.sh would be handy. What else do we have?

Related: #176

[2015-12-10 16:42] toolstack commented on #176
I don't like this as everything in the directory relates to testing only.  Leaving it in tests makes it easy to remove the entire test suite when we want to deploy the plugin to the plugin repository.

:+1:

Moving the tests to their own directory makes sense, but the path looks a little strange with two "tests" directories in it.  Would it make sense to rename the top level to "testing" or someth

[2015-12-10 19:43] chantalcoolsma commented on #108
@hugobaeta is it possible to shift the P in the logo a bit to the left? I think if the letter spacing is a bit less, it is just a bit better aligned. My feeling tells me that the upper right of the P is closer to the border than the upper left of the G.

[2015-12-10 22:49] toolstack opened #179 "WP rewrite rules catches too many pages"
The current rewrite rules capture too many pages, for example if you use the default configuration of /glotpress but have another page with a permalink like /glotpress-mypage, the rewrite rules will capture it and return a 404 page.

This is because the current regex has an error in it:

`'^' . $gp_base . '/?(.*)$'`

The single slash isn't escaped and is ignored during the processing of the regex

[2015-12-11 00:33] hugobaeta commented on #108
Talked to @ocean90 today, and finally managed to squeeze in some time to finish this. Apologies for the delay.

With the decision to move forward with my proposals, I spent a bit more time working on this direction. @chantalcoolsma / @bradt concerns - The concerns you commented on regarding the icon typesetting are taken care of - that proposal was a quick one to get the conversation going, I had

[2015-12-11 04:21] chantalcoolsma commented on #108
Awesome! 👍

[2015-12-11 13:07] chantalcoolsma opened #181 "Breadcrumb on locale page points to root directory"
The breadcrumb on the locale page (gp-templates/locale.php) doesn't point to /glotpress/languages/. In stead it points to /languages, which returns a 404 page.

Steps to reproduce:
1. http://example.dev/glotpress/
2. Click locales in header
3. Click on a locale
4. Click the Locales breadcrumb

Don't know if this is related to the other rewrite tickets.

[2015-12-11 13:33] toolstack commented on #181
Just a missing gp_url() call in the template file, change line 5 in gp_template/locale.php from:

`$breadcrumb[] = gp_link_get( '/languages', __( 'Locales', 'glotpress' ) );`

to

`$breadcrumb[] = gp_link_get( gp_url( '/languages' ), __( 'Locales', 'glotpress' ) );`

There could be more of these cases left in the code somewhere as well.

[2015-12-11 13:34] bradt commented on #108
Awesome dude, great work! :tada:

[2015-12-11 13:41] chantalcoolsma opened #183 "Placeholder in search field not translated"
Placeholder in search field on Locales page is not translated. Missing text domain.

[2015-12-11 13:44] chantalcoolsma commented on #181
@toolstack do you make a PR?

[2015-12-11 13:46] toolstack commented on #181
Haven't yet, go ahead if you like, if not I'll do one in a bit.

[2015-12-11 13:51] chantalcoolsma commented on #181
On it :+1:

[2015-12-11 14:01] adipop commented on #108
Great work Hugo! ...still I feel that a descriptive element is needed in the logo - just the letters are kind of criptic. So this may be a better solution?!

![glotpress-2015-identity hugo baeta adi pop _glotpress identity presentation](https://cloud.githubusercontent.com/assets/914417/11745320/1176e31a-a020-11e5-994d-009d911af724.png)
![glotpress-2015-identity hugo baeta adi pop _icon guidelines]

[2015-12-11 14:03] ocean90 commented on #108
@hugobaeta Thanks for you work! The banner is now live: https://wordpress.org/plugins/glotpress/

[2015-12-11 14:04] chantalcoolsma commented on #108
:+1: Looks nice!

[2015-12-11 14:11] toolstack commented on #108
Woohoo!

[2015-12-13 17:14] shield-9 commented on #99
Some strings in [gp-templates/project-permissions.php](https://github.com/deliciousbrains/GlotPress/blob/wordpress-plugin-dbi/gp-templates/project-permissions.php#L20-L26) would be impossible to be translated into some languages. (For example, Japanese.)

[2015-12-13 17:41] toolstack commented on #99
Could you provide an example of what can't be translated?

Items like the slug, username, login id, etc. aren't translated as they shouldn't be.

[2015-12-13 17:54] shield-9 commented on #99
@toolstack: Japanese has quite different sentence structure. In this case, _word order_ is the problem. Here's an example:
- English: `user <a href="{user_nicename}">{user_login}</a> can {action} strings with locale {locale_slug} and slug {set_slug}`
- Japanese: `ユーザー <a href="{user_nicename}">{user_login}</a> はロケール {locale_slug} で、スラッグ {set_slug} の文字列を {action} できます`

[2015-12-13 20:43] toolstack commented on #99
@shield-9 take a look at #188, would that work better?

[2015-12-14 18:24] toolstack opened #189 "Incorrect action hook names for project_template_translation_set_extra in has_action()"
As part of the conversion to a plug all actions/hooks were prepended with "gp_", two instances of the project_template_translation_set_extra hook were missed in the gp-templates\project.php file which were used in a has_action() call.

[2015-12-17 13:57] #183 closed, assigned to nobody

[2015-12-17 13:59] #189 closed, assigned to nobody

[2015-12-17 14:00] #173 closed, assigned to nobody

[2015-12-17 14:03] #181 closed, assigned to nobody

[2015-12-17 14:48] ocean90 commented on #176
The deploy script is probably a script which belongs to a `/bin` directory, so it would be just the test scripts.

[2015-12-17 15:58] toolstack commented on #176
So maybe leave /tests/bin alone and create a /bin for the deployment script?  Or maybe a /deploy directory?

[2015-12-17 18:51] toolstack commented on #74
I've created a new branch/PR for this issue and imported @bjork code in to the new format.

In addition I've made two more changes:
1. Moved the check for what kind of permalink setting WordPress is using from inside the function (which would get called on every URL creation) to a define in gp-settings.php.  This also lets the site admin set the define once in wp-config.php so they can avoid an ex

[2015-12-17 20:18] toolstack commented on #108
Created a [Wiki page](https://github.com/deliciousbrains/GlotPress/wiki/2.-Branding-and-Logos) for the design and closed the ticket.

Great work everyone!

[2015-12-17 20:18] #108 closed, assigned to bradt

[2015-12-17 20:30] toolstack commented on #167
As per the [Slack discussion](https://wordpress.slack.com/archives/glotpress/p1450363162000820), we'll delete and rename the branch just before the 1.0 release to avoid breaking too many PR's but avoid having to rewrite any release scripts we build.

[2015-12-21 17:21] toolstack commented on #177
I took a look at the release script and it has a few limits (user id must be the same as w.org, doesn't handle deleted files, doesn't check for the tag already existing in svn).

I've modified it for use in my GP plugins, still testing it but it takes care of the above and some other items, the updated script can be found [here](https://github.com/toolstack/gp-additional-links/blob/master/bin/rele

[2015-12-30 14:44] toolstack opened #194 "Deleting a user in WP does not delete the assocaited data in GP."
If you delete a user in the WordPress install the permissions table retains any permissions or metadata that GP has for the user.

This data should be deleted by hooking WP's "deleted_user" action.

[2015-12-31 13:08] toolstack opened #196 "Integrate with WP's user profile."
Currently the GP profile is a stand alone affair, which is fine, but we should include the same settings in the WP user profile as well.

[2016-01-07 18:38] toolstack commented on #177
I've create a new repo for the script and added some documentation here: https://github.com/toolstack/git-to-wp-plugin-dir-release-script

[2016-01-07 22:43] ramiy commented on #99
See also https://github.com/deliciousbrains/GlotPress/pull/198

Merge similar strings with different variations and avoid using HTML `<code>` tags in translation strings.

[2016-01-07 22:48] ramiy commented on #113
We addressed this issue in the old trac - https://glotpress.trac.wordpress.org/ticket/374

[2016-01-07 22:53] #52 closed, assigned to nobody

[2016-01-07 23:28] #194 closed, assigned to nobody

[2016-01-07 23:32] ocean90 opened #199 "Simplify load_plugin_textdomain() call"
We'll never ship with translations in a /languages directory. `load_plugin_textdomain( 'glotpress' );` is sufficient.

[2016-01-07 23:43] toolstack commented on #199
Could there be a use case for a site wanting to override the default translation files and use their own?

I'm still thinking simplification would be good but perhaps something like:

[code]

So a site could override the path via the wp-config file without having to recopy their custom files each time GP is upgraded?

[2016-01-07 23:49] ocean90 commented on #199
If there is a use case, `load_textdomain()` provides three hooks which can be used instead.

[2016-01-07 23:57] toolstack commented on #199
What do you think the likelihood of a use case is?

If it's pretty low leaving it to the hooks is fine, but if it would be more common then I think it would better to have it clear in GP how to do it.

[2016-01-08 17:05] #179 closed, assigned to nobody

[2016-01-08 17:07] ocean90 commented on #199
@toolstack Dunno, I thought you have one. :smile:

[2016-01-08 17:23] toolstack commented on #199
@ocean90 Nope, just playing devils advocate on that one :smile:

I see you merged the PR so I'm fine with closing it as is.

[2016-01-08 17:25] toolstack commented on #199
Or I was just imagining I saw the PR merged :smiling_imp:, so I'm fine with merging the PR.

[2016-01-08 17:28] #199 closed, assigned to ocean90

[2016-01-08 22:06] #74 closed, assigned to nobody

[2016-01-09 03:14] shield-9 opened #201 "Wrong HTTP status"
All GlotPress pages returns HTTP status 404.

`GP_URL_BASE` is set to '' (null).

Example: https://www.extendwings.com/translate/projects/

[2016-01-09 13:07] ocean90 opened #203 "Can't access index page when permalinks have no trailing slash"
Steps to reproduce:
- Set post permalinks to `/%postname%`
- Visit /glotpress

Current: Index page of WP loads
Expected: Redirect to /glotpress/projects

In https://github.com/deliciousbrains/GlotPress/blob/01bd9ae5874f42f6ae1196716f419f575f9f6ba1/gp-includes/router.php#L148-L153 we're comparing `/glotpress/` ($url_path) with `/glotpress` ($_SERVER['REQUEST_URI']).

[2016-01-09 13:19] ocean90 commented on #201
Thanks @shield-9.
I can replicate the issue if a site has no published posts. Currently the main query still runs on each GP requests.

[2016-01-09 13:29] ocean90 commented on #201
https://core.trac.wordpress.org/ticket/10722 would be helpful..

[2016-01-11 07:43] chantalcoolsma commented on #203
Confirmed

[2016-01-11 23:22] ocean90 opened #204 "CSS class "no-js" should be added via `body_class` filter"
... and the associated JS code should be added via `gp_head` action.

This makes the code compatible with global headers (like w.org has) which already have a `body_class()` call.

[2016-01-11 23:34] ocean90 commented on #204
nvm, that doesn't work because `<body>` isn't available at `<head>`.

[2016-01-11 23:34] #204 closed, assigned to ocean90

[2016-01-12 17:35] toolstack commented on #203
I poked at this a bit more and it turns out we blindly add a trailing slash to the root url's returned by gp_url_base_path() irregardless of the permalink structure.

That's not a good thing, so #205 replaces the blind add with user_trailingslashit() which will respect the permalink structure and match correctly during the router logic.

[2016-01-12 17:49] ocean90 opened #206 "Cache locales in GP::$translation_set->existing_locales()"
See https://meta.trac.wordpress.org/changeset/2280

| id | select_type | table | type | possible_keys | key | key_len | ref | rows | Extra |
| --- | --- | --- | --- | --- | --- | --- | --- | --- | --- |
| 1 | SIMPLE | translate_translation_sets | index | NULL | project_id_slug_locale | 275 | NULL | 2711452 | Using index; Using temporary |

[2016-01-12 17:59] ocean90 commented on #201
So we should prevent the main query (found this: http://wordpress.stackexchange.com/a/145386/40969) if it's a GlotPress request and we have to override the headers which are set in https://core.trac.wordpress.org/browser/tags/4.4.1/src/wp-includes/class-wp.php?marks=660-663#L660.

[2016-01-12 18:00] toolstack commented on #206
Is this really a bug or an enhancement?

[2016-01-12 18:09] toolstack commented on #201
Agree we should prevent the main query, I plugged that code in to my test install but it doesn't resolve the 404 issue.

[2016-01-12 18:48] toolstack commented on #201
The code from stackexchange doesn't work for our purpose because while it avoids running the main query, it still leaves WP_Query having found no posts, which then generate the 404 status header.

We'd have to fudge some kind of 'positive' find on WP_Query by the looks of it to avoid the 404, which seems likely to break other things.

Instead #207 simply filters the status message on GlotPress pag

[2016-01-12 19:32] ocean90 commented on #201
Yes, that's expected, that's why I said "**and** we have to override the headers".

One idea for overriding the header is to set a default value of 200 for `http_status` at https://github.com/deliciousbrains/GlotPress/blob/wordpress-plugin-dbi/gp-includes/template.php#L11-L12.

[2016-01-12 20:14] toolstack commented on #201
Ah, missed the 'and'.

[2016-01-12 20:26] toolstack commented on #201
Would it make sense to add a `status_header( '200' );` in the router at https://github.com/deliciousbrains/GlotPress/blob/wordpress-plugin-dbi/gp-includes/router.php#L166 so that anything we match gets a 200 code instead of relying on the templating code to do it?

[2016-01-12 20:50] toolstack commented on #201
I updated the pull request to add the stackexchange code and moved the `status_header( '200' );` to the router so templates can still override it if required.

[2016-01-14 10:04] pixolin opened #209 "Add comment fields for translators"
Add comment fields to text strings where translator can note, why a translation differs from original text.

Sometimes text strings are difficult to translate, e.g. if it comes to trademarks being used in composites. (_Example:_ WordPress plugin [WP Smush](https://wordpress.org/plugins/wp-smushit/) uses the term "Smush", referring to the former web service _Smush it_. The term is used in composite

[2016-01-14 21:00] #203 closed, assigned to nobody

[2016-01-14 21:58] #201 closed, assigned to nobody

[2016-01-14 22:21] #177 closed, assigned to nobody

[2016-01-16 22:12] ocean90 opened #210 "CLI: Arguments to disable translation propagation and matching are missing"
`wp glotpress import-originals` and `wp glotpress translation-set import` don't support the arguments anymore.

Introduced in #24.

[2016-01-17 14:08] #210 closed, assigned to ocean90

[2016-01-18 22:32] ocean90 opened #216 "Add CONTRIBUTING.md"
The file should explain how to create issues, branches; which coding standards we're using; how a good commit message should look like; etc.

Examples:
- https://github.com/wp-cli/wp-cli/blob/master/CONTRIBUTING.md

[2016-01-19 00:00] #167 closed, assigned to ocean90

[2016-01-19 23:44] toolstack opened #218 "Add warning and disable the plugin if permalinks are not set."
GlotPress requires permalinks to be set, so just like unsupported versions of WordPress, we should add an admin notice and disable the plugin if they don't exist.

[2016-01-20 15:55] tacoverdo opened #220 "Quotes shouldn't be escaped"
**Problem description**
When adding a translation that contains quotes, or when filtering on something containing a quote, the quote is automagically escaped. This can lead to problems in the translated languages.

**Example**
![translations___dutch___yoast_seo__for_wordpress____glotpress](https://cloud.githubusercontent.com/assets/5147598/12453840/50f4de22-bf95-11e5-804d-860c9fab94bf.png)
The ent

[2016-01-20 16:03] ocean90 commented on #220
Thanks @tacoverdo!

Have you checked the database entry? It should be escaped there which is wrong.

[2016-01-20 16:17] ocean90 commented on #220
Changing https://github.com/GlotPress/GlotPress-WP/blob/7d805093cb79edbce019cf75d8525f096c24bfb2/gp-includes/routes/translation.php#L179 to

[code]

 should prevent the extra slashes.

This requires some more testing/investigation as it probably affects all POST actions.

[2016-01-20 16:18] toolstack commented on #220
Agreed, BackPress probably didn't enable magic quotes and WordPress does so we'll have to check any time we get post/get data.

[2016-01-20 16:19] ocean90 commented on #220
From https://glotpress.trac.wordpress.org/browser/trunk/gp-settings.php#L76

[code]

[2016-01-20 16:22] ocean90 commented on #220
From https://github.com/WordPress/WordPress/blob/ededb78efc523cd48d8f94dfce0a8425ace55027/wp-includes/load.php#L606

[code]

:cry:

[2016-01-20 16:25] toolstack commented on #220
Yea, I remember taking those out as we didn't want to mess with the global.

Fortunately it looks like it should be an easy fix as `gp_post()` is used to get post data and we can add the strip slashses here https://github.com/GlotPress/GlotPress-WP/blob/master/gp-includes/misc.php#L10

[2016-01-20 16:26] toolstack commented on #220
...and in `gp_get()` as well.

[2016-01-20 16:47] ocean90 commented on #220
Yeah, that should work. Although some functions are accessing the superglobals directly, like `$_COOKIE` for the notices or `$_SERVER`.

[2016-01-20 16:53] ocean90 commented on #218
I'm not sure if we really have to _disable_ the plugin. A warning should be fine. We could also try to enable them via `wp_install_maybe_enable_pretty_permalinks()`, see https://github.com/WordPress/WordPress/blob/06a3f799e744578ccae2741534dfc5949606b65b/wp-admin/includes/upgrade.php#L279.

[2016-01-20 17:41] toolstack commented on #220
Those should be relatively few and far between, scrubbing the code for them should be easy enough.

[2016-01-20 20:46] IvanRF opened #222 "Java i18n support"
Hi guys, I'm testing the plugin and I think I could use it for a Java project.

However, I found that under the "Import Originals" section there is no option for Java `.properties` files. The format is similar to iOS `.strings` files but it not compatible. I tested it and it does not find strings.

An example of Java format:

[code]

More info here:
[Properties File Format](https://docs.oracle.com

[2016-01-20 21:41] ocean90 commented on #222
Looks interesting! Can you provide a Pull Request for it?

[2016-01-20 23:50] IvanRF commented on #222
Are the files at `/gp-includes/formats/` the same for both projects? (GlotPress & GlotPress-WP)

[2016-01-20 23:59] ocean90 commented on #222
No, they are slightly different.

[2016-01-21 12:12] ocean90 opened #224 "Can't add/delete a glossary entry"
If the permalink structure has a trailing slash the forms for adding/deleting a glossary entry don't work because of an extra slash added in https://github.com/GlotPress/GlotPress-WP/blob/97f607d989013e712483eb9d698953b1cc784fcf/gp-templates/glossary-view.php#L10 and https://github.com/GlotPress/GlotPress-WP/blob/97f607d989013e712483eb9d698953b1cc784fcf/gp-templates/glossary-view.php#L63.

[2016-01-21 13:41] ocean90 opened #226 "Locales: Add support for variants of a locale"
Mentioned this some time ago in [#glotpress](https://wordpress.slack.com/archives/glotpress/p1436617754000108).

Some ideas on how we could store variants in [GP_Locales](https://github.com/GlotPress/GlotPress-WP/blob/1.0.0/locales/locales.php#L88):

1) Define new `GP_Locale` with variant in `slug`:

[code]

2) Clone existing `GP_Locale` and add `variant` as a new property:

[code]

3) Define `var

[2016-01-21 13:52] ocean90 opened #227 "Locale Glossaries (Global glossaries across projects)"
From https://glotpress.trac.wordpress.org/ticket/361

---

Currently the glossaries are assigned to a translation set of a project. But GlotPress also inherits a glossary from a closest parent project when there isn't one existing for the current translation set, see [[1068]](https://glotpress.trac.wordpress.org/changeset/1068).

I don't think that GP should loose the ability to have glossaries pe

[2016-01-21 20:22] #224 closed, assigned to ocean90

[2016-01-21 21:18] #220 closed, assigned to nobody

[2016-01-22 19:10] toolstack opened #228 "Update readme files"
The readme files are a little sparse and need some updates.

[2016-01-22 19:23] toolstack opened #230 "File extension list for portable object message catalog should include .pot"
Current the portable object message catalog public name includes "(.po)", however this is causing confusion with wordpress.org users as it generates .pot files.

We should change the public name to include "(.po/.pot)" to avoid confusion.

[2016-01-22 20:28] ocean90 opened #232 "Actions for translations have no `gp_` prefix"
The action `translation_created` in https://github.com/GlotPress/GlotPress-WP/blob/1.0.1/gp-includes/things/translation.php#L330 and `translation_saved` in https://github.com/GlotPress/GlotPress-WP/blob/1.0.1/gp-includes/things/translation.php#L335 don't have a `gp_` prefix like all the other actions.

For a minor/patch release we should add the same action with the `gp_` prefix and in the next ma

[2016-01-22 21:44] toolstack commented on #232
I'd consider it a bug, the intent was to prepend all actions so it can be patched and released in the 1.0.2 or 1.1, whichever comes out first.

[2016-01-22 22:05] ocean90 commented on #232
Yes, it's a bug, but adding a prefix is a backwards-incompatible change. That's why I've proposed the interim step with adding both variants.

[2016-01-22 22:14] toolstack commented on #232
Making a backwards-incompatible change due to a bug fix is alright as far as I'm concerned, bugs by definition are backwards-incompatible ;)

We could just leave it as is in 1.0.2 (if we make one) and leave it to 1.1 to add the prefix.

I'd almost not consider this a backwards compatibility item as the API remains the same (do_action/add_action) it's only which hooks are available to use, which is

[2016-01-22 23:20] toolstack opened #233 "Add UI to manage GP Administrators"
Currently GlotPress has no UI to add or remove administrators.

[2016-01-29 12:32] arhipaiva commented on #227
Clearly, one giant universal glossary will not do.
Equally true, project glossaries are too tedious to maintain and of limited utility to translators of other plugins in the same field. Only the biggest unique projects would require own glossaries.

Something in between is called for.
I suggest topic or field of expertise related glossaries. There is a need to unify the terms among all eCommerce p

[2016-02-02 11:23] mobby2561 opened #235 "Inserting of placeholders and tag"
Make translators easier work, thanks to the possibility of inserting placeholders, HTML tags or anything else into the translation. The translator would just click on the placeholder in original, and it would be inserted into that string, where the cursor is.

[2016-02-02 11:25] ocean90 commented on #235
Yep, that's one feature of #166.

[2016-02-02 11:25] #235 closed, assigned to nobody

[2016-02-02 11:44] mobby2561 commented on #235
Great!
I hope It'll be implemented soon.

[2016-02-04 08:29] ntwb opened #236 "Untranslated view does not include strings missing plurals"
If a string has been translated but the plural for the same string has not selecting the "Untranslated" view of a project does not show the string that is missing the plural string, it should.

e.g. bbPress string `Reply` includes a plural that should also be translated to `Replies`:

The following screenshot shows when the ["Untranslated"](https://translate.wordpress.org/projects/wp-plugins/bbpre

[2016-02-04 08:46] ocean90 commented on #236
It's kind of surprising that it's possible to submit a translation even if not all fields are filled.

[2016-02-04 08:51] ntwb commented on #236
I think in the above case it may have been due to an import, where the import only included the singular string and not both the singular and plural strings.

[2016-02-04 08:56] ntwb commented on #236
Also adding note from migrated ticket: https://meta.trac.wordpress.org/ticket/1555

![Projects should not be marked 100% translated if plurals are untranslated](https://cldup.com/jOpWnHjhVH.png)

[2016-02-04 13:24] #230 closed, assigned to toolstack

[2016-02-04 15:40] toolstack opened #237 "Clean up scrutinizer warnings/issues"
[Scrutinizer](https://scrutinizer-ci.com/g/GlotPress/GlotPress-WP/) is reporting warnings and issues with the codebase, this is a parent issue to track the cleanup of them.

[2016-02-04 17:48] toolstack opened #238 "Escape HTML before display"
Add esc_html() and replace [_]wp_special_characters.

[2016-02-05 14:38] toolstack commented on #238
Closing and resubmitting later.

[2016-02-05 14:38] #238 closed, assigned to toolstack

[2016-02-06 23:09] SergeyBiryukov opened #243 "Mark Sindhi locale as RTL"
Sindhi locale was added in https://glotpress.trac.wordpress.org/ticket/515 (dbd63c6), but was not marked as RTL.

See https://make.wordpress.org/polyglots/2016/02/06/translation-tool-for-sindhi-language-is-highly-difficult/.

[2016-02-10 11:10] ocean90 opened #246 "Update locale definitions"
There was a huge cleanup of the locales.php files, see https://glotpress.trac.wordpress.org/log?rev=1175&stop_rev=1159.

Related: #243

[2016-02-10 15:13] ocean90 opened #247 "Translation Propagation: Change the default status of propagated translations to waiting"
See https://glotpress.trac.wordpress.org/ticket/327 and https://glotpress.trac.wordpress.org/changeset/1144.
- Using "current" as the default status is leveraging the permission system.
- Use only "current" if the current user can approve translations in the new translation set.
- Don't propagate a translation if the current user isn't allowed to edit/submit translations in the new translation set

[2016-02-10 15:18] #243 closed, assigned to nobody

[2016-02-10 16:12] ocean90 opened #250 "Translation Propagation: Don't propagate an equal existing waiting translation"
If a user approves a translation and it gets propagated to a translation set where the user can't approve translations then the translation gets added as waiting. The same happens also if an equal translation exists already. This behaviour should be prevented.

Related: https://glotpress.trac.wordpress.org/changeset/1092

[2016-02-10 20:31] ocean90 commented on #250
Thinking about the best approach to avoid duplicate entries: Is it a pre-check like https://glotpress.trac.wordpress.org/changeset/1092 or would a UNIQUE constraint be better because it catches all cases?

[2016-02-11 09:51] ocean90 opened #252 "Translation Propagation: Handle existing waiting strings when a propagated translation gets saved as current"
It's basicially this use case:
- A user approves a translation
- The same original exists in another project/translation set and has already some waiting translations
- Through propagation the approved translation gets saved as current
- Existing waiting translations still remain

How can this be solved?
- Option 1: Mark all existing translations as old
- Option 2: Mark only equal translations as

[2016-02-11 13:56] javorszky opened #253 "Headers sent should not exclude HTTP/1.0"
This is an example: https://github.com/GlotPress/GlotPress-WP/blob/develop/gp-includes/routes/translation.php#L102

Will need to comb through the codebase for them.

Ref: https://yoast.com/http-503-site-maintenance-seo/

[2016-02-11 13:58] ocean90 commented on #253
+1, we should probably replace them with `status_header()`.

[2016-02-11 14:03] toolstack commented on #247
:+1:

[2016-02-11 14:26] ocean90 commented on #236
Related Trac tickets:
- https://glotpress.trac.wordpress.org/ticket/149 – Do not allow empty translations
- https://glotpress.trac.wordpress.org/ticket/234 – PO exporter should not export empty plurals

[2016-02-11 14:28] ocean90 opened #254 "Replace current_user_can( 'manage_options' ) with GP permissions"
There are some lines which are using `current_user_can( 'manage_options' )` for project related actions, those should be replaced with the GlotPress' permissions.

[2016-02-11 16:02] #246 closed, assigned to ocean90

[2016-02-11 16:33] #216 closed, assigned to javorszky

[2016-02-11 18:32] toolstack commented on #222
@IvanRF can you take a look at [this branch](https://github.com/GlotPress/GlotPress-WP/tree/222-java-properties-support) and see if it generates the right file format?

[2016-02-11 20:04] IvanRF commented on #222
@toolstack ok, I'll test it.
Looking at the code, will `preg_match( '/^(.*) = (.*)$/', $line, $matches )` work when there are no spaces before/after `=`, eg`Find=Find`?

[2016-02-11 20:43] toolstack commented on #222
No, but I'm more concerned if it generates the right format at the moment more than if it can read it back in.

[2016-02-11 21:01] toolstack commented on #222
Something else to try will be to make a string that contains an `=`.  I didn't find details on how to handle that case in the documentation yet.

[2016-02-11 21:10] IvanRF commented on #222
http://stackoverflow.com/questions/2406975/how-to-escape-the-equals-sign-in-properties-files

[2016-02-11 22:15] IvanRF opened #259 "Link to /glotpress/ on Admin"
The first time I tried this plugin, I couldn't find where it was installed or how to "access" whatever the plugin installed. Then I saw in the FAQ:

So, I think to make it more user friendly a link on the Admin section should be provided. Even an `admin_notice` after activating the plugin would be enough. A link on `wpadminbar` is another option.

[2016-02-11 23:01] toolstack commented on #259
There's a plugin for that:

https://wordpress.org/plugins/gp-additional-links

[2016-02-11 23:06] IvanRF commented on #259
@toolstack you did it, so you need it. Shouldn't be part of GlotPress?

[2016-02-11 23:13] toolstack commented on #259
Maybe in a future version, 1.0 focused on getting things running.

[2016-02-11 23:18] IvanRF commented on #222
Some things I don't know where to add:
- on Java, locale separator in the file name is `_` and not `-`. Example `Labels_es.properties`
- lines starting with `!` are also comments

[2016-02-11 23:27] toolstack commented on #222
The filename is more difficult, even for the po files this is a problem.  You might want to look at [this plugin](http://glot-o-matic.com/gp-use-slug-for-downloads).

For the comments, it's here: https://github.com/GlotPress/GlotPress-WP/blob/222-java-properties-support/gp-includes/formats/format_properties.php#L94

[2016-02-12 00:34] IvanRF commented on #222
I made a test project on Java:
- keys can't have spaces. [See this](http://stackoverflow.com/questions/2108103/can-the-key-in-a-java-property-include-a-blank-character)
- there are issues with the file encoding. Every character has an extra space and the file starts with `ÿþ` which is also taken as a resource string.

[2016-02-12 00:36] IvanRF commented on #222
If I use the generated file as a `ResourceBundle` this is what I get (examples for `'key' >> 'value'`):

![11-2-2016 9-35-19 p- m-](https://cloud.githubusercontent.com/assets/6751650/12995614/73889e8c-d107-11e5-957d-1a7bc962114c.png)

[2016-02-12 01:01] toolstack commented on #222
That kind of goes against what the other documentation says about how keys work but it's easy enough to escape them.

I thought we might have to drop the file encoding bytes.

Try the branch now.

[2016-02-12 13:54] toolstack opened #263 "Standardize on tables for data display"
The majority of GlotPress data is displayed in tables, with two exceptions:
1. the projects list
2. the permissions list

These two areas are represented as html ul's.

For consistency we should standardize on tables.

[2016-02-12 14:28] IvanRF commented on #222
I had tried escaping the spaces on the key before, now without the file prefix they work.

Well, keys look fine but now we do have encoding issues: `'Follow Me' >> 'SÃ­gueme'` (it should have an accent mark `Sí­gueme`)

[2016-02-12 14:56] toolstack commented on #222
Can you do some research and see what encoding Java is expecting the file to be in?

[2016-02-12 15:06] toolstack opened #265 "Child projects are inaccessible if permalinks have trailing slash"
If the permalink structure has a trailing slash in it and you create a child project, that project is inaccessible because $project->update_path() does not trim the trailing slash, but the $project->by_path() does.

[2016-02-12 15:51] shield-9 opened #267 "Make translation sets deletable"
Currently, we cannot delete translation sets if it is created by mistake.

Related: #92

[2016-02-12 17:26] ocean90 commented on #265
Noticed the same a few days ago too, thanks for creating the issue. :+1:

It's important that we store the paths without trailing slashes so we're compatible with a later switch to a non-trailing slash structure.
Looking at `GP_Project->regenerate_paths()` and it seems to have the same issue.

[2016-02-12 17:28] IvanRF commented on #222
It uses `ISO-8859-1`. According to the wikipedia link:

More detail [here](http://stackoverflow.com/questions/4659929/how-to-use-utf-8-in-resource-properties-with-resourcebundle) and in the [Java docs](http://docs.oracle.com/javase/8/docs/api/java/util/Properties.html#load-java.io.InputStream-).

[2016-02-12 17:34] ocean90 commented on #250
Related: Do not allow creation of duplicate translation sets. – https://glotpress.trac.wordpress.org/changeset/381

[2016-02-12 17:40] ocean90 commented on #267
Trac ticket: https://glotpress.trac.wordpress.org/ticket/186

What should happen if a set has already translations?

[2016-02-12 18:14] toolstack commented on #267
Delete the translations associated with the set.

After the set is deleted they're just dead weight in the database as you can no longer access them.

[2016-02-12 18:36] toolstack commented on #265
Updated the PR with the regenerate_paths() fix.

[2016-02-12 20:33] #254 closed, assigned to toolstack

[2016-02-12 21:59] ocean90 commented on #250
We can't use an UNIQUE index because the fields translation_2 - translation_5 can be NULL.

In case you want to test this too:

[code]

[2016-02-13 00:26] toolstack commented on #250
Why should the behaviour (from the original topic) be avoided?  What should it be?

I can see when the equal translation exists, it should just be dropped, but if a different translation exists then waiting seems like the right state.  A validator can then chose which is more appropriate for the project and either approve or reject it.

[2016-02-13 00:56] toolstack opened #268 "Add cancel link to import page"
The import page doesn't have a cancel link and slightly funky formatting.

[2016-02-13 07:34] shield-9 commented on #267
+1 for _Delete the translations associated with the set_.

[2016-02-13 13:27] ocean90 commented on #250
Which original topic do you mean? And yes, this is just about equal translations.

[2016-02-13 14:07] toolstack commented on #250
I read the "This behaviour should be prevented" as applying in both cases, but if we're just talking about equal translations, then should we just not propagate the translation?

[2016-02-15 15:33] #247 closed, assigned to ocean90

[2016-02-15 16:45] #253 closed, assigned to javorszky

[2016-02-15 20:40] #265 closed, assigned to toolstack

[2016-02-15 21:32] slaFFik opened #273 "Add RSS feed for each language and each project strings changes"
Bulk changes should be displayed in RSS as `bulk strings change` (like, when uploading `.pot` file).
Individual strings changes should be as a separate RSS item.

Ideally:
1. ability to subscribe to all strings changes across all the projects inside 1 specific language (like all `ru_RU`)
2. ability to subscribe to all strings changes for 1 project inside 1 specific language (like all `ru_RU` for `

[2016-02-15 21:34] ocean90 commented on #273
I'd like to see this in a plugin implemented first.

[2016-02-16 10:59] #250 closed, assigned to ocean90

[2016-02-16 22:03] toolstack opened #276 "Display warning if unsupported version of PHP is detected."
GlotPress requires PHP 5.3, we should display an admin notice like we do for unsupported versions of WordPress.

[2016-02-16 22:37] toolstack opened #278 "Replace deprecated javascript back code"
The current codebase uses a javascript back function for cancel links, we should replace them with proper URLs instead.

[2016-02-17 14:19] toolstack opened #280 "[_]wp_specialchars() is deprecated/private and should be replaced"
wp_speicalchars() is deprecated and _wp_specialchars() is a private function that should not be used.

Since we only support PHP 5.3 and above, we can use PHP's htmlspecialchars() instead which is a drop in replacement as of PHP 5.2.3.

[2016-02-18 17:14] toolstack commented on #237
Leaving open for the time being as a placeholder for one final review of scrutinizer.

[2016-02-18 17:14] #228 closed, assigned to toolstack

[2016-02-18 18:34] toolstack opened #283 "Support GitHub directory"
GitHub now supports a subdirectory for some of it's files in repos:

https://github.com/blog/2111-issue-and-pull-request-templates

[2016-02-18 20:18] #283 closed, assigned to toolstack

[2016-02-18 22:34] IvanRF commented on #222
I just sent the PR for encoding. Now, exporting is working fine with Java :+1:

Only remains: locale separator in the file name is _ and not -. Example Labels_es.properties

[2016-02-18 22:49] toolstack commented on #222
@IvanRF I tried that before but it doesn't seem to encode in the right "\uHHHH" format.

I just pushed a change to the branch that should give the right output, can you give it a try?

[2016-02-18 23:04] IvanRF commented on #222
@toolstack I tested the latest change, using `json_encode` works fine too.

[2016-02-18 23:08] toolstack commented on #222
@IvanRF the filename format should be correct now as well.

[2016-02-18 23:11] IvanRF commented on #222
@toolstack the `public $exported = '';` variable is never used in this and other formats.

[2016-02-18 23:24] IvanRF commented on #222
Excellent! I tested two locales and it's taking the filenames correctly.

[2016-02-18 23:38] toolstack commented on #222
$exported is a hold over from the old code, we'll clean it up later.

I took the json encoding off the property names as that conflicts with the escaping of spaces and equal signs.

Also started working on the import code, not quite working yet.

[2016-02-18 23:39] IvanRF commented on #222
@toolstack Moving to the `Import`, here you have some files for testing: [resources](https://github.com/IvanRF/MassiveFileRenamer/tree/master/src/com/ivanrf/renamer/resources).

Right now, the "Import Originals" is throwing some php errors with those files or exported ones. Also, fails to import to a locale but without php errors :)

[2016-02-18 23:42] IvanRF commented on #222
In my tests I used spaces and ':' in the keys and there were no issues with json encoding

[2016-02-18 23:49] IvanRF commented on #222
Oh, I can see the unicodes now in the files like `\u00e`.

[2016-02-18 23:51] IvanRF commented on #222
ouch, now the slashes are broken on the translations: `<\/strong>` or `'http:\/\/domain.com\/`

[2016-02-18 23:52] toolstack commented on #222
Probably need to remove the escape() from line 19:

[code]

[2016-02-18 23:55] IvanRF commented on #222
yes, it is that. I just test it.

[2016-02-19 15:27] ocean90 opened #287 "Tests: Remove unnecessary filters for `gp_set_cookie`"
- https://github.com/GlotPress/GlotPress-WP/blob/1e8128102e74c483d638bd2cc8aa484788c73f1b/tests/tests_things/test_thing_translation.php#L194
- https://github.com/GlotPress/GlotPress-WP/blob/1e8128102e74c483d638bd2cc8aa484788c73f1b/tests/tests_things/test_thing_translation.php#L230

Those are no longer needed.

`test_propagate_across_projects_with_missing_permissions_does_not_create_duplicates` sho

[2016-02-19 15:49] #287 closed, assigned to ocean90

[2016-02-19 22:13] toolstack opened #290 "Add auto detection of uploaded import files."
GlotPress should auto detect the file format based on the uploaded file extension.

[2016-02-20 16:21] IvanRF commented on #222
I found some examples from the JDK core which have several locales: [rmi/server/resources](https://github.com/frohoff/jdk8u-jdk/tree/master/src/share/classes/sun/rmi/server/resources).
They could be useful for testing imports since they have unicode strings.

[2016-02-21 11:18] #252 closed, assigned to ocean90

[2016-02-21 11:28] #278 closed, assigned to toolstack

[2016-02-21 11:39] #268 closed, assigned to toolstack

[2016-02-21 12:34] #218 closed, assigned to toolstack

[2016-02-21 12:56] #276 closed, assigned to toolstack

[2016-02-21 13:35] #233 closed, assigned to toolstack

[2016-02-21 14:26] #280 closed, assigned to toolstack

[2016-02-21 15:22] #50 closed, assigned to bjork

[2016-02-21 22:53] ocean90 opened #293 "Translations: Store user_id of validator/approver"
This would allow us to show the name of a validator in the "meta" sidebar like
<img width="305" alt="approver" src="https://cloud.githubusercontent.com/assets/617637/13206020/196e8c58-d8f6-11e5-8dc8-d36a43cedb93.png">

[2016-02-22 12:35] toolstack commented on #293
Seems like a good idea.

[2016-02-22 19:11] ocean90 opened #294 "Things: Introduce `after_delete()` method and new actions"
There is [`after_save()` and `after_create()`](https://github.com/GlotPress/GlotPress-WP/blob/master/gp-includes/thing.php#L310-L316), but no `after_delete()` yet.

`after_delete()` would be helpful to extend the CRUD actions like [translations](https://github.com/GlotPress/GlotPress-WP/blob/master/gp-includes/things/translation.php#L329-L337) or [originals](https://github.com/GlotPress/GlotPress-

[2016-02-25 10:01] ocean90 commented on #273
See https://wordpress.slack.com/archives/glotpress/p1455806399000120.

[2016-02-25 10:01] #273 closed, assigned to nobody

[2016-02-25 15:09] ocean90 commented on #196
Chat: https://wordpress.slack.com/archives/glotpress/p1456411998000328

This can be 1.1 with a MVP:
- Move profile edit part into its own template
- Make the profile post handler accept an user ID

[2016-02-25 22:53] toolstack commented on #196
Updated the PR as discussed.

[2016-02-26 13:35] #232 closed, assigned to nobody

[2016-02-26 20:42] toolstack commented on #294
PR #271 includes this feature now.

[2016-02-27 01:08] toolstack commented on #222
@IvanRF can you test the current branch, I think it should be functional now.

[2016-02-27 17:19] IvanRF commented on #222
@toolstack Import originals worked as expected. I love the idea of saving the key as `Context` and showing the user the actual string, awesome!

On the other hand, Import translations failed.
`Fatal error: Call to a member function set_status() on a non-object in gp-includes\things\translation-set.php on line 146`

I tested it with my [simple project](https://github.com/IvanRF/MassiveFileRenamer/t

[2016-02-27 17:31] IvanRF opened #298 "Make rows clickable on translations table"
Currently, a user has to double click or click on the "Details" link in order to write a translation. It would be much better if the complete row can be clicked (one click) and the link/hand cursor is shown.

That is, apply this same UI:
![27-2-2016 2-22-11 p- m-](https://cloud.githubusercontent.com/assets/6751650/13374285/ae8d4f92-dd5e-11e5-9187-763874e8e412.png)

for this table:
![27-2-2016 2-23

[2016-02-27 17:33] IvanRF commented on #298
Related: [issue #263](https://github.com/GlotPress/GlotPress-WP/issues/263)

[2016-02-27 17:34] toolstack commented on #298
https://wordpress.org/plugins/gp-single-click-edit/

[2016-02-27 17:35] IvanRF commented on #298
@toolstack it's amazing how you have a plugin for everything :smile: :+1:

[2016-02-27 17:36] toolstack commented on #298
What can I say, I'm the king of GlotPress plugins :wink:.

[2016-02-27 17:36] #298 closed, assigned to nobody

[2016-02-27 17:39] IvanRF commented on #298
@toolstack are you sure about closing this issue?
It is not good for user experience to have to guess that you need to double click text in order to some UI to appear and allow you to translate text. Neither does a "Details" link has to do with "Translate".

[2016-02-27 17:43] IvanRF commented on #298
@toolstack when I say this, I'm thinking on an inexperienced user wanting to help with translations on a project, not an IT guy who eventually will find the way to send a translation.

[2016-02-28 16:23] toolstack commented on #298
That's why the primary interface for opening the details is the "Details" at the right side of the column.

Until I actually wrote the single click plugin, I didn't even know that double click was an option :smile:.

[2016-03-01 11:23] c-schmitz opened #299 "Does not work on nginx webserver"
While the LAMP stack (Linux + Apache + MySQL + PHP) is very popular for powering WordPress, Nginx in place of Apache is quickly becoming the market leader, especially on high traffic sites. WordPress supports Nginx completely, and some of the largest WordPress sites in the world, such as WordPress.com, are powered by Nginx.

However the Glotpress plugin (1.01) does not work at all on nginx.
Our we

[2016-03-01 11:30] ocean90 commented on #299
I'm using GlotPress on a Nginx server and it's working for me. What are your permalink settings?

[2016-03-01 13:39] ocean90 commented on #298
I'm fine with showing the pointer cursor, but the double-click is fine as is because it lets you select a translation.

[2016-03-01 16:04] ocean90 opened #300 "In `gp_update_meta()`/`gp_delete_meta()` remove meta handling for users and options"
It's not needed anymore.

Related: #61, #144

[2016-03-02 12:30] c-schmitz commented on #299
That was it! Thank you very much! Please disregard my rambling ;)

[2016-03-02 12:30] #299 closed, assigned to nobody

[2016-03-02 15:39] ocean90 commented on #139
Just stumbled upon this once again. It's nearly impossible to perform a simple query for a translation of a locale without retrieving all set IDs first.

Or to search for a original and get its translations of a locale.

:100: :100: :100:

[2016-03-02 16:21] toolstack commented on #139
While not truly "simple", it is just a single join, which isn't really complex either:

[code]

[2016-03-02 17:52] ocean90 commented on #139
[code]

| id | select_type | table | type | possible_keys | key | key_len | ref | rows | filtered | Extra |
| --- | --- | --- | --- | --- | --- | --- | --- | --- | --- | --- |
| 1 | SIMPLE | translate_translations | ALL | translation_set_id,translation_set_id_status | NULL | NULL | NULL | 32119614 | 100.00 | Using where |
| 1 | SIMPLE | translate_translation_sets | eq_ref | PRIMARY | PRIMARY | 4 |

[2016-03-02 17:56] ocean90 opened #301 "`$original->validate()` fails if singular is '0'"
In `GP_Original::restrict_fields()` the rule `$original->singular_should_not_be('empty');` needs to be changed to `$original->singular_should_not_be('empty_string');`.

Related: https://glotpress.trac.wordpress.org/changeset/1056

[2016-03-02 20:18] toolstack commented on #139
And you only retrieved one row from the translation sets :wink:

Of course the fact we don't index many of the columns does have an impact, we should probably review which columns have indexes.

In your example above, all the translation rows get hit if for no other reason that the `LIKE` condition.

Even without that, since we don't index the `translation_set_id`, we'd probably still have to hit

[2016-03-02 23:01] ocean90 opened #302 "Prevent a PHP fatal error when importing originals"
Steps to reproduce:
- Create a new project
- Import https://github.com/wordpress-mobile/WordPress-iOS/blob/develop/WordPress/Resources/en.lproj/Localizable.strings

[2016-03-03 12:49] toolstack commented on #302
There are a few places in the code where `GP::$original->create()` is called and it is assumed an object is returned, however that's not always the case, a null can be returned in some situations.

I've found the same thing while I've been working on the Java Properties import code (#297).  I can see two ways to solve it:
1. Add an `if ( is_object() )` around the call or another type of check to v

[2016-03-03 12:50] toolstack commented on #301
:+1:

[2016-03-03 12:51] toolstack commented on #300
:+1:

[2016-03-03 14:33] chantalcoolsma opened #304 "Translation header needs some work, because it does wrap weird."
We need to work on the filter/sort links. It is poorly wrapped.

![schermafbeelding 2016-03-03 om 13 00 03](https://cloud.githubusercontent.com/assets/867632/13497335/14ad8108-e155-11e5-945f-e16ebf09269a.png)

See PR #303.

[2016-03-03 20:29] #290 closed, assigned to toolstack

[2016-03-03 21:20] mobby2561 opened #306 "Search improvement"
Add these search only types:
- original
- translation
- comments
- exact match

Also, would be great to highlight the search terms in found text strings.

[2016-03-03 22:37] toolstack commented on #222
@IvanRF give it a try now.

[2016-03-03 22:49] #196 closed, assigned to toolstack

[2016-03-04 02:55] SergeyBiryukov commented on #236
#311 should fix both this issue and [#glotpress149](https://glotpress.trac.wordpress.org/ticket/149).

At first I've added [@yoavf's patch](https://glotpress.trac.wordpress.org/attachment/ticket/149/149.2.diff), but it looks like using `GP_Translation::restrict_fields()` is a more correct way, see cc2e788. Singular strings are not affected, as plural translations are null there, not empty strings.

[2016-03-04 04:54] SergeyBiryukov commented on #302
It's the same issue that was [mentioned in Slack](https://wordpress.slack.com/archives/glotpress/p1456959457000410). Strings in iOS/Mac `.strings` files are also used as context and some do not fit in the 255 chars limit, which leads to an error on database insert.

Should we remove this feature, as suggested in [#glotpress421](https://glotpress.trac.wordpress.org/ticket/421)? The existing transla

[2016-03-04 13:32] #301 closed, assigned to ocean90

[2016-03-04 13:45] ocean90 commented on #302
This should be handled like it could happen for every format. We should check the result of `GP::$original->create( $data )` and if it fails increase a new counter `$originals_error` and/or push the data of failed imports in another variable which `import_for_project()` will return.

[2016-03-04 13:47] ocean90 commented on #263
Moved to future because we want to focus on the new design which will probably not rely on heavy tables.

[2016-03-04 13:59] toolstack commented on #302
I think there are two issues here:
1. The fatal error should be error trapped as @ocean90 mentioned above.
2. Is the 255 character limit on `context` reasonable?

Perhaps context should be a `text` field in the database instead of a `varchar(255)`?

Or should we trim the context field during the import to make sure it's only 255?

[2016-03-04 14:24] toolstack commented on #263
Sounds more like `wontfix` than future, no point keeping it open if it won't get merged.

[2016-03-04 21:09] IvanRF commented on #222
@toolstack for my resources worked excellent! :+1:  but...

I tested also the **[RMI resources](https://github.com/frohoff/jdk8u-jdk/tree/master/src/share/classes/sun/rmi/server/resources)**. For Spanish stopped at this line:
`rmid.unfound.java.home.property=ActivatorImpl: no se ha encontrado java.home`

Maybe the issue is because it has `=` and `:`, it should divide key/value according to the fir

[2016-03-04 21:14] toolstack commented on #222
I thought the occurrence of a separator in the string might be a problem, I'll have to replace the grep with a more complex function.

I'll double check the case sensitivity on the import.

[2016-03-04 21:22] toolstack commented on #222
Yep, the regex only matched lower case, I'll update it.

[2016-03-04 22:29] toolstack commented on #222
@IvanRF Ok, I've committed a fix for both, give it a try again.

[2016-03-04 23:36] IvanRF commented on #222
@toolstack ok, I tested it again and now it works for all cases :+1:

I had doubts with accessing `$line[ $location - 2 ]` without checking `$location >= 2`, but it could only happen if the line starts with `=`.

Well, I will be waiting for the GP 1.1.0 :smile:

[2016-03-05 00:06] toolstack commented on #222
Yep, I'll probably add a test just to make sure, but it's an invalid line in the properties file anyway.

[2016-03-05 15:54] ocean90 opened #312 "Translations: Include check button for case-sensitive search"
From https://glotpress.trac.wordpress.org/ticket/151 by @zodiac1978:

[2016-03-05 17:22] IvanRF commented on #312
while you are on the subject, you could include a check button for exact match search :smile:

[2016-03-06 15:34] SergeyBiryukov commented on #302
In #314, the first commit prevents the fatal error and makes `GP_Original::import_for_project()` return the number of errors encountered on import.

The second one trims the context field to 255 characters on import (to match the database schema). I guess it won't cause the iOS app to display the string untranslated, as the concept of context does not exist there anyway, per [#glotpress421](https:

[2016-03-06 21:01] #312 closed, assigned to ocean90

[2016-03-07 20:53] toolstack opened #318 "Enhance gp_meta_update return values"
gp_update_meta() currently has limit return values which could be enhanced to be more consistent and return better information.

It should not have a fall through of returning null and handle errors when adding the meta information to the database.

[2016-03-10 13:01] #300 closed, assigned to toolstack

[2016-03-10 13:07] ocean90 commented on #293
Should this be a more general field which contains the user ID of the last edit? This would allow us to use it for rejects too.

[code]

Should this be a meta field attached to the translation or a new table column in the database?

[2016-03-10 13:20] toolstack commented on #293
I think it should be the id of the user that made the last status change to the translation.

I'd tend to add this as a new column only to avoid another query.

[2016-03-10 15:02] ocean90 opened #323 "Ideas for the new design"
Use this issue to dump your raw ideas/mockups/sketches/…. Don't get too technical, instead, open a new issue.

Use one comment per idea and if you like somebody else's idea, give it a :+1: reaction.

---
- Current Design: https://github.com/GlotPress/GlotPress-WP/wiki/9.-The-New-Design (List of screens and requirements for each.)
- User Roles and Flows: https://docs.google.com/document/d/1CZrjkBmS

[2016-03-10 15:45] #222 closed, assigned to toolstack

[2016-03-10 15:49] #294 closed, assigned to ocean90

[2016-03-11 08:01] chantalcoolsma commented on #323
Something what is much wanted by Translation Editors, is the ability to give a reason when rejecting a string. The translator should get a notification, so he/she can correct the mistake. Below an example in the current design:

![schermafbeelding 2016-03-11 om 08 58 45](https://cloud.githubusercontent.com/assets/867632/13696599/b8caaece-e767-11e5-9bee-f4c24b56d4d4.png)

[2016-03-11 08:05] chantalcoolsma commented on #323
Crowdin has the option to add a comment to a translated string and optionally mark it as an issue. This could ping the Translation Editors with the permalink to the specific string and take a closer look.

![schermafbeelding 2016-03-11 om 09 03 15](https://cloud.githubusercontent.com/assets/867632/13696695/6647cc12-e768-11e5-9ba3-03860c6195e3.png)

[2016-03-11 09:27] isaackeyet commented on #323
It would be great to have reject reasons. However, I think adding standard "reject reasons" is the way to go. I used a translation tool for validators only before, and this was a very useful feature. Sometimes you add a comment anyway, but selecting the core reason for the rejection should be sufficient for most users.

The workflow for a validator could then be:
- Approve current string (CMD+Ente

[2016-03-11 09:34] chantalcoolsma commented on #323
Great idea. I have another one:

I like the way Github shows actions. It would be great if you could click a string, then it collapses open and you would see something similar like this:

![schermafbeelding 2016-03-11 om 10 31 40](https://cloud.githubusercontent.com/assets/867632/13698489/af4beaf4-e774-11e5-9829-6c2891eb5217.png)

For example if a translator translated the string and when an edito

[2016-03-11 10:20] isaackeyet commented on #323
This would be great to have. It would require the ability to store the history of a string indefinitely. As long as this is technically feasible I think we should pursue it.

[2016-03-11 11:02] ocean90 commented on #209
Related chat on Slack: https://wordpress.slack.com/archives/glotpress/p1455201561000272

[code]

[2016-03-11 11:10] ocean90 commented on #323
Let's not get too technical in this issue. :)

There is #209 which is about implementing a framework to attach data to a translation. Data can be status changes, comments, reject reasons or any other type of notes.

[2016-03-11 11:10] ocean90 opened #324 "Reject with feedback"
From https://glotpress.trac.wordpress.org/ticket/335

[2016-03-11 11:12] ocean90 commented on #324
A possible workflow from #323: https://github.com/GlotPress/GlotPress-WP/issues/323#issuecomment-195285569

[2016-03-11 14:34] toolstack opened #325 "Public and private profiles do not have the same design"
If you login and select your profile link (your private profile), you get your settings page.  However if you go to your public profile you get your avatar, description, recent projects and what validator rights you have.

Your private profile should have the same information as your public one.

[2016-03-11 17:36] toolstack opened #328 "Auto generation of a project slug doesn't work correctly in some cases"
For example of you create a project with the title `Project A 'Beta'`, the single quotes will not be stripped when generating the slug.

[2016-03-11 17:39] ocean90 opened #329 "Translation Sets: Validate slugs on saving"
Related: #328

The slug field should be validated/sanitized.

[2016-03-11 17:47] toolstack commented on #329
And auto generated if it doesn't exist.

[2016-03-11 18:09] ocean90 commented on #329
@toolstack The default value is already `default`. If the field doesn't exist the user should get an error.

[2016-03-11 18:16] toolstack commented on #329
I implemented a default handler if it's missing, following along the same logic as the project slug.

[2016-03-11 20:42] ocean90 opened #332 "Suspend cache invalidation during original imports"
This happens with enabled translation propagation:
![suspend](https://cloud.githubusercontent.com/assets/617637/13714851/7bf04080-e7d1-11e5-9a20-13aed267e302.png)

We shouldn't delete the translation set cache in `GP_Translation->copy_into_sets()` every time. Only once after the import is done.

https://github.com/GlotPress/GlotPress-WP/blob/a74092bad4d25f0bcc874c3c877a00ffefcc457e/gp-includes/thi

[2016-03-11 22:08] ocean90 opened #334 "Don't store counts as a public property of GP_Translation_Set"
While working on #332 I've noticed that all the counts are stored in a public property too.

[code]

~~First of all these properties shouldn't be public. But on a second thought I think we should remove them and `update_status_breakdown()` should return the values instead.~~ See comments below.

Example:

[code]

Related: https://github.com/GlotPress/GlotPress-WP/commit/a1ce704f1ad1069d79a9cc150d1

[2016-03-11 22:29] toolstack commented on #334
The public values are used in a couple other areas, but those could be updated easily enough.

Any concern about executing `wp_cache_get()` multiple times instead of just the `is_set()`?

There will be a corner case where the values could change during the execution of a page load when the cache expires mid page.

[2016-03-11 22:47] ocean90 opened #335 "Pass previous state to GP_Thing::after_save()"
Example for `GP_Project`

[code]

Use case: The Rosetta Roles plugin caches the child IDs of a project, see https://meta.trac.wordpress.org/browser/sites/trunk/wordpress.org/public_html/wp-content/plugins/wporg-gp-rosetta-roles/wporg-gp-rosetta-roles.php?rev=2275&marks=49,50,110-122,309-332,362-372#L42. This cache needs only to be invalidated if either the parent ID of a project changes or a new p

[2016-03-11 22:55] ocean90 commented on #334
I saw these too, yes they must be changed. Currently they could return null if `update_status_breakdown()` wasn't called yet.

I'm assuming you mean `isset()` by  `is_set()`. The multiple calls wouldn't be perfect. We could store the result of `wp_cache_get()` in a static variable too. :smile:

An alternative would be to provide a `refresh_count()` method to refresh the counts.

[2016-03-11 22:56] ocean90 commented on #334
Actually that would be the same as calling `update_status_breakdown()` directly.

Wontfix?

[2016-03-11 23:05] toolstack commented on #334
Yea, doing that would be just like keeping the current code :smile:

I think it's either live with the multiple calls to `wp_cache_get()` or keep what we have but make the variables private instead of public.

[2016-03-11 23:08] toolstack commented on #335
Seems like a good idea, should we pass the after save state as well for completeness?

[2016-03-11 23:24] ocean90 commented on #335
After save state is `$this`, isn't it?

[2016-03-12 13:38] #328 closed, assigned to toolstack

[2016-03-12 13:42] #332 closed, assigned to ocean90

[2016-03-13 12:42] ocean90 opened #336 "Introduce an API for background processing"
GlotPress has a few task which should run in a background processes. For example the propagation tasks or a possible upgrade routine for #311/#236.

A translator shouldn't have to wait for other tasks which are not his primarily action, which is in general just submitting one translation.

I recently found https://deliciousbrains.com/background-processing-wordpress/ which [provides two classes](ht

[2016-03-13 13:12] ocean90 opened #337 "Move Translation Propagation into a plugin"
Cross project translations matching was proposed in https://glotpress.trac.wordpress.org/ticket/327 and implemented via [1034](https://glotpress.trac.wordpress.org/changeset/1034), [1095](https://glotpress.trac.wordpress.org/changeset/1034), [1097](https://glotpress.trac.wordpress.org/changeset/1097), [1126](https://glotpress.trac.wordpress.org/changeset/1126), [1128](https://glotpress.trac.wordpr

[2016-03-13 13:27] toolstack commented on #336
Looks interesting.  Obviously there would be concerns around making sure the background processes don't get stuck.

The REST API seems to be in flux still so I'm not sure that would be a good idea yet.

I wonder how much of this could be accomplished with hooking in to the shutdown action instead so we don't impact the user experience but don't have to build an async system.

[2016-03-13 13:32] toolstack commented on #337
I'm not sure this is really a bug, but I agree it should be moved out to a plugin, if possible.

I don't know if that's possible for 1.1 or not though.  Could we disable it for 1.1 and look to remove it in 1.2?  That way if an install is using it in 1.0 they could re-enable it with a define in 1.1.

[2016-03-13 13:32] toolstack commented on #335
Yes... yes it is :wink:

[2016-03-13 13:33] ocean90 opened #338 "Leverage the WordPress REST API structure for API endpoints"
The current API implementation is read-only and works a bit magically. It assumes that every route needs an API endpoint too, see https://github.com/GlotPress/GlotPress-WP/blob/ceba756f17b1075400611329a0c5e73cb671974d/gp-includes/router.php#L151.
The route handler then loads a template with the `api.` suffix, see https://github.com/GlotPress/GlotPress-WP/blob/ceba756f17b1075400611329a0c5e73cb67197

[2016-03-13 13:47] toolstack commented on #338
Might be more accurate to to say that every route can have an API endpoint too.

I agree the current API isn't the best, I've only been marginally following the REST API progress but there does seem to be some upheaval going on with it so I don't know if it's ready for us to move to yet.

Should we deprecate the old API for a version or two and then do a V2.0.0 release to remove it?

Do we need a

[2016-03-13 13:59] ocean90 commented on #336
Not sure why you think that, but the infrastructure is already part of the core. If it's about the endpoints for posts/users/etc, that's not really important for custom routes.

Shutdown function are part of the process, so it still blocks further actions/rendering.

[code]

[code]

[2016-03-13 14:04] toolstack commented on #336
I haven't been following the REST API too closely, I've just seen some ongoing discussion about how to get it in to core.  If that's just the endpoints, then we should be fine to use it.

Yes, but shutdown executes after all html is rendered, so it doesn't block the page display, it just has a longer execution time.

[2016-03-13 14:13] ocean90 commented on #336
Which would be bad for XHR requests.

[2016-03-13 14:27] ocean90 commented on #338
I'm fine with that idea.

 The current API templates are just doing `wp_json_encode()` (or are using a fancy wrapper like `gp_array_of_things_to_json` or `gp_array_of_array_of_things_to_json`). I don't think that there are installs which are doing other stuff in a "template". Seriously, a template is the wrong way for this anyway.

Well, the current write API is a POST request to a route.
Having a

[2016-03-13 14:38] toolstack commented on #226
I might go for option number 4, a combination of 2 & 3 above:

[code]

That keeps the current structure of the locale's data in tact, making it backwards compatible, but also still contain a way to find all the variants for a given locale.

[2016-03-13 14:44] toolstack commented on #338
I agree and I suspect translate.w.org is probably the only site using the API in any significant way.  As long as give some deprecation time I don't think it will be a problem, if someone pops up with a case where it is we can handle it then.

Yep, just what we need, more work :wink:.

I'd say that this would be a nice to have, not a high priority item though.

[2016-03-13 14:51] ocean90 commented on #226
@toolstack I think the important part of this is to answer the question on how we want to store the data in a set. For example, what's the locale value in https://github.com/GlotPress/GlotPress-WP/blob/9e544376f0f79937c313d3ecbec2af3e677a716b/gp-includes/template.php#L347?

Or how do we want to display a hierarchy, see https://github.com/GlotPress/GlotPress-WP/blob/79ecc6b0611390b3eca90b99d21bd295

[2016-03-13 15:00] ocean90 commented on #338
Heh, I'd love to use the API in a "significant way". :smile: But it's poorly performing because of missing pagination. Most of the scripts are accessing the DB directly instead…
There are also some sites which are using the /languages/$locale endpoints which [we had to disable](https://meta.trac.wordpress.org/browser/sites/trunk/wordpress.org/public_html/wp-content/plugins/wporg-gp-routes/wporg-gp

[2016-03-13 15:59] toolstack commented on #226
In a set, using option 4 above, each variant would have it's own slug so the current storage system would work without modification.

As for how to display them, I'd likewise leave the current system in place, which would create `German` and `German (Formal)` as entries in the list based on the `english_name` of the locale.

This would also continue to allow for variants to have unique translation

[2016-03-13 16:54] ocean90 commented on #226
Can you elaborate that? Because that's the main point. What is the locale _and_ the slug for "German" and "German (Formal)"? (locale = slug of a `GP_Locale`, slug = slug of a translation set for a `GP_Locale`)

See also https://github.com/GlotPress/GlotPress-WP/blob/develop/gp-includes/routes/translation.php#L126-L128 which currently uses the locale part to identify the `GP_Locale`.

[2016-03-13 17:20] toolstack commented on #226
Slight revision to option 4 then,

[code]

The slugs should be different.

[2016-03-13 17:25] ocean90 commented on #226
So you have `/glotpress/projects/project/de/default/` for "German" and `/glotpress/projects/project/de_formal/default/` for "German (Formal)" (previously: `/glotpress/projects/project/de/formal/`)?

[2016-03-13 17:31] toolstack commented on #226
Yes, so you could still have different translation set slugs for each of the variants.

[2016-03-13 21:31] ocean90 commented on #226
That looks a bit odd, but in terms of BC the best way to go. But the slug should be `de-formal` with a `-` instead.

[2016-03-13 22:50] toolstack commented on #226
Yea, the dash is probably better.

[2016-03-14 12:44] ocean90 commented on #166
How [Crowdin](https://crowdin.com/page/in-action) uses placeholders in the editor:
<img width="538" alt="crowdin-placeholders" src="https://cloud.githubusercontent.com/assets/617637/13744792/80c3fe56-e9ea-11e5-8680-42d6170f5126.png">

<img width="618" alt="crowdin-placeholders-2" src="https://cloud.githubusercontent.com/assets/617637/13744827/d0011544-e9ea-11e5-9b9a-f8d84e8bb24b.png">

[2016-03-14 19:32] ocean90 opened #341 "Wrong error message for translations with a missing set ID"
Noticed this while working on #311.

[code]

Result of the `var_dump()`:

[code]

The first error message is wrong.

[2016-03-14 21:55] toolstack commented on #341
Won't it be the right message after #311?

[2016-03-14 21:57] ocean90 commented on #341
That should be something like "The translation_set_id is invalid and should be positive int!"

[2016-03-15 07:04] gau1991 opened #342 "PHP message: WordPress database error Duplicate key name 'warnings' for query ALTER TABLE rtc_wp_gp_translations ADD KEY warnings"
**Information:**
PHP Version: PHP 5.6.19
MariaDB Version: 10.1.12
WordPress Version:  4.4.2

**Issue:**
While converting a standalone install to the WordPress plugin getting error as:

[code]

We used https://github.com/GlotPress/GlotPress-WP/wiki/1.3-Convert-a-standalone-install-to-the-WordPress-plugin for conversion.

[2016-03-15 13:17] toolstack commented on #342
They're "errors" thrown due to how the WordPress dbDelta() function handles keys when the database is upgraded, they can be safely ignored.

I'll create a patch to resolve them in the next release.

[2016-03-15 14:25] toolstack commented on #342
The PR will resolve the "duplicate key" errors above, however the "SQL syntax" error is unfortunately not possible to fix at this time due to how dbDelta() handles backticks so you may see it again during upgrade.

[2016-03-15 14:26] #342 closed, assigned to toolstack

[2016-03-15 14:27] ocean90 commented on #342
Upstream ticket: https://core.trac.wordpress.org/ticket/20263

[2016-03-15 14:27] toolstack commented on #341
Ah, I see it now :smile:.

[2016-03-15 19:38] toolstack commented on #236
Part of PR 236 was merged as part of 1.1, the rest will be reviewed for a future release.

[2016-03-15 19:51] ocean90 opened #344 "Investigate why GP_Test_Thing_Translation::test_for_export_should_include_untranslated() fails sometimes"
See https://travis-ci.org/GlotPress/GlotPress-WP/jobs/116202278#L247

[code]

[2016-03-15 20:56] #318 closed, assigned to toolstack

[2016-03-16 20:55] ocean90 opened #347 "Remove GP_CLI_WPorg2Slug"
"WPorg" is actually the value of `wp_locale`. The script was added in https://glotpress.trac.wordpress.org/changeset/453/.

A better CLI command would be one which can convert more fields to another field, a CLI wrapper for `GP_Locales::by_field()`.

[2016-03-17 11:08] #325 closed, assigned to toolstack

[2016-03-17 11:10] ocean90 opened #348 "Update CHANGELOG.md for 2.0"
- Closed issues: https://github.com/GlotPress/GlotPress-WP/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aclosed+milestone%3A1.1+
- Closed PRs: https://github.com/GlotPress/GlotPress-WP/pulls?utf8=%E2%9C%93&q=is%3Apr+is%3Aclosed+milestone%3A1.1

[2016-03-17 12:28] ocean90 opened #349 "Translation Sets: A failed update redirects to /sets/-new"
Steps to reproduce:
1. Create a new translation set
2. Go to the edit page of that set
3. Clear the locale value
4. (Clear the name field)
5. Click Save

Expected: You stay on the edit page.
Actual: You're at /sets/-new.

[2016-03-17 12:34] #329 closed, assigned to toolstack

[2016-03-17 12:48] toolstack commented on #349
PR #331 solves that by using the locale name for the name field if it is blank.

More interestingly though is another issue, when you edit the set the Locale isn't selected correctly as the option value has "checked" instead of "selected" used.

[2016-03-17 12:51] ocean90 opened #350 "Move locales.php into a separate repo"
Proposal:
- Move locales/locales.php to a repo at glotpress/locales
- Include glotpress/locales as a submodule for this plugin

Why? To separate the flow of adding new locales from the plugin. For example we can use templates (https://github.com/blog/2111-issue-and-pull-request-templates). It makes it also easier to use for other projects which don't need the whole GlotPress, just the list of loca

[2016-03-17 12:53] ocean90 commented on #349
@toolstack Not it doesn't, that's why I created this issue. :)

[2016-03-17 12:54] toolstack commented on #349
Works on my install correctly, let me double check.

The other issue is because the on line 243 of template.php `checked()` is used instead of `selected()`.

[2016-03-17 13:04] ocean90 commented on #349
@toolstack Updated the steps to reproduce.

[2016-03-17 13:18] toolstack commented on #349
Ah, got it now.

[2016-03-17 14:00] #347 closed, assigned to ocean90

[2016-03-17 14:20] ocean90 commented on #237
Closing as fixed for 1.1

[2016-03-17 14:20] #237 closed, assigned to toolstack

[2016-03-17 17:34] toolstack commented on #350
We should probably even go farther than that and allow a site to update their locales independently of GlotPress.

I agree it should be it's own repo and a submodule to GlotPress-WP, but beyond that:
- There should be an admin interface to pull a new copy of the locales from the repo and update GP.
- Maybe create a new table to hold the locales so that individual sites can add their own custom one

[2016-03-17 17:58] ocean90 opened #355 "Implement nonce verification for all actions"
It's kind of crazy that we missed this in 1.0. Definitely a blocker now that we have the delete actions, see #267.

[2016-03-17 17:59] #267 closed, assigned to toolstack

[2016-03-17 17:59] #349 closed, assigned to ocean90

[2016-03-17 22:14] #302 closed, assigned to nobody

[2016-03-17 22:21] #348 closed, assigned to toolstack

[2016-03-17 23:24] ocean90 commented on #350
`locales.php` is a drop-in and can be replaced. So it can also replaced with a file which uses a db table for the locales, it just needs to implement the public methods like by_field() or locales().

[2016-03-18 14:59] ocean90 commented on #334
So, this went fine until I came to https://github.com/GlotPress/GlotPress-WP/blob/8ddae518bcb0269cd57cab7053e51919b1b06f75/gp-includes/routes/project.php#L36-L42.

I removed all the lines and replaced them in the template with the corresponding method. So far so good. But I was sceptical about the way how the counts were handled previously. The answer: API. The route is also used to dump the data

[2016-03-18 15:24] toolstack commented on #334
Probably makes sense to leave them as public then until we rebuild the API with REST.

[2016-03-19 14:23] ocean90 commented on #337
Plugin has its own repo: https://github.com/GlotPress/gp-translation-propagation

[2016-03-20 16:55] ocean90 opened #361 "Don't call gp_upgrade_data() in gp_upgrade_db() on install"
If `gp_upgrade_db()` runs for the first time `gp_upgrade_data()` gets called with `false` for the `$db_version` parameter, thus the query for `$db_version < 190` runs.
- [x] Don't call `gp_upgrade_data()` if `get_option( 'gp_db_version' )` returns false
- [x] Remove the unused global import for `$wpdb;` from `gp_upgrade_db()`
- [x] Remove the `$db_version < 190` query since this will never run. Th

[2016-03-20 16:58] ocean90 opened #362 "Improve PHPUnit test suite"
I'm refactoring the test suite to make it compatible with plugins which depend on GlotPress.

Related: https://codex.buddypress.org/developer/automated-testing/writing-automated-tests-for-buddypress-dependent-plugins/

Required for https://github.com/GlotPress/gp-translation-propagation/issues/1, #337.

[2016-03-21 19:40] ocean90 commented on #334
Moved to Future.

[2016-03-21 19:54] toolstack commented on #334
Should this be relabeled as an enhancement instead of a bug?

[2016-03-21 20:02] toolstack commented on #361
It will run in the case of a first install (false=0) but of course there will be no data to upgrade in that case.

Since it's not used should we just remove the entire `gp_upgrade_data()` function and call?

[2016-03-21 20:29] ocean90 commented on #361
No need to remove it if we're going to use it sooner or later. For example for #293.

[2016-03-21 20:44] #362 closed, assigned to ocean90

[2016-03-21 21:08] toolstack commented on #361
#293 won't need `gp_upgrade_db()` as it will probably just add columns to the database which will be handled by `dbDelta()`.

[2016-03-22 14:15] ocean90 opened #364 "Improve mb_* compat functions"
They are currently hard to read by humans and tools like ApiGen.

<img width="314" alt="" src="https://cloud.githubusercontent.com/assets/617637/13954316/818d4a52-f040-11e5-8ea4-4c6a118bd23a.png">
<img width="535" alt="" src="https://cloud.githubusercontent.com/assets/617637/13954315/818a31f0-f040-11e5-90f6-e1357724aa6e.png">

They are also missing a few arguments like `$encoding` or `$offset`. `g

[2016-03-23 15:17] ocean90 opened #366 "Undefined $entry variable when updating a glossary entry"
The `glossary-entry-row` template requires an `$entry` variable set. The variable doesn't exist when updating an entry, see https://github.com/GlotPress/GlotPress-WP/blob/4f4cf956bfc39bb8fce3904cb94f2ae08b2f67a0/gp-includes/routes/glossary-entry.php#L136

`$ge` should probably be renamed to `$entry`.

[2016-03-24 14:09] #366 closed, assigned to ocean90

[2016-03-24 14:13] toolstack opened #368 "Upgrade release script"
A new version of the release script is available, upgrade to it.

[2016-03-25 10:51] ocean90 opened #370 "Show all translation warnings at once"
Currently only the first warning is shown, means the user can't adjust their translation at once or a validator has to reject each warning separated.

![glotpress-warnings](https://cloud.githubusercontent.com/assets/617637/14043009/e5c52b02-f27f-11e5-90fa-b5ef1e41cc5f.gif)

[2016-03-27 11:10] ocean90 commented on #337
Plugin submitted to the w.org repo on 2016-3-26.

[2016-03-27 11:20] #364 closed, assigned to ocean90

[2016-03-27 11:23] #368 closed, assigned to toolstack

[2016-03-27 11:23] #355 closed, assigned to ocean90

[2016-03-28 19:31] markoheijnen commented on #338
Next time please inform me about it ;)

[2016-03-29 17:57] ocean90 opened #374 "Bump version for scripts"
After #355 and #371 we should bump the version in https://github.com/GlotPress/GlotPress-WP/blob/0e3826646756b542c1c44566c9cb8d0494f2f13e/gp-includes/assets-loader.php#L27 to avoid cache issues.

Should we use `GP_VERSION` instead?

[2016-03-29 18:03] toolstack commented on #374
`GP_VERSION` probably isn't a good choice as that would bust the cache unnecessarily on every release.

Perhaps just defining a `GP_SCIPTS_VERSION` and updating that when we change the scripts might be a trade off.  We still bust the cache for some scripts that don't need to be updated when we make a change to another script, but at least when we're doing hotfixes we don't invalidate the cache unn

[2016-03-29 20:46] ocean90 commented on #337
It's live: https://wordpress.org/plugins/gp-translation-propagation/

[2016-03-29 20:46] #337 closed, assigned to ocean90

[2016-03-29 21:15] #374 closed, assigned to ocean90

[2016-03-31 08:56] ocean90 opened #376 "Improve performance of default GP_Translation->for_translation() query"
The query for https://translate.wordpress.org/projects/wp/dev/admin/de/formal takes between 8 and 10 seconds:

[code]

| id | select_type | table | type | possible_keys | key | key_len | ref | rows | filtered | Extra |
| --- | --- | --- | --- | --- | --- | --- | --- | --- | --- | --- |
| 1 | SIMPLE | o | range | project_id_status | project_id_status | 262 | NULL | 1741 | 100.00 | Using where; Usin

[2016-03-31 10:32] ocean90 commented on #376
The main difference is LEFT JOIN vs INNER JOIN: https://github.com/GlotPress/GlotPress-WP/blob/1401774181b96d011b03329ec7e5c0e7f7edb1db/gp-includes/things/translation.php#L198.

[2016-03-31 12:28] toolstack commented on #376
I don't think we can use an inner join in those cases as it will return different results if no translation row exists.

For example, when you create a new translation set, no rows are added to the translations table, so the inner join would return 0 rows (there are no rows common between the originals and translations tables), where as the left join would return all the rows from the originals ta

[2016-03-31 14:45] akirk opened #377 "Allow to translations to be imported with status waiting"
In certain environments like translate.wordpress.org it can make sense to allow some people to only import translations with the status "waiting".

This can be established by creating a new `import-waiting` permission, as well as adding a dropdown to select the status for imported translations.

Mockup:
<img width="332" alt="glotpress-import-waiting-current" src="https://cloud.githubusercontent.co

[2016-03-31 16:37] toolstack commented on #377
I think the logic is a little backwards on this, `import-waiting` as you've done it is effectively a negative permission (by having it you lose access to import current) which is the wrong way to do it.

It might make more sense to have two separate rights, which both grant access to the import type, like `import-waiting` and `import-current`.  A user with each of those rights would be able to imp

[2016-03-31 18:23] ocean90 commented on #377
Both - `import-waiting` and `import` - permissions will prevent existing validators to upload translations. How can we prevent that? Can we map both to `approve`? Note that the current permission system doesn't support _removing_ a permission (via the UI), so it wouldn't be possible to have a user which can approve but not import.

[2016-03-31 19:16] toolstack commented on #377
There are a couple things we could do to handle the current users (and by the way I'm not convinced this is a change that belongs in core yet):
- As part of the upgrade process, add `import` permissions to anyone that currently has `approve`.
- Add in to the permissions check for `import`, `import-waiting` and `approve`

[2016-04-01 06:18] akirk commented on #376
I think a compound index on the translations table for `(original_id, translation_set_id, status)` should speed up things. Right now only the `original_id` index is being used and the filtering of the other fields has to be done without an index.

[2016-04-01 14:44] akirk commented on #376
I now took a closer look at the tables and there are a couple of things to optimize. Usually multiple single key indices indicate that somebody misunderstood something about MySQL keys (no offense to anyone, just an observation). It might make sense to remove some of those indices (for example `date_added` on `translations`, unless there is a query somewhere that displays all translations in the t

[2016-04-01 16:06] ocean90 commented on #376
Thanks for your comprehensive analysis, @akirk!

I took a look at when those were introduced:
- `translation_set_id` and `translation_set_id_status` where introduced in https://glotpress.trac.wordpress.org/changeset/311. Sadly without a reason.
- `date_added` was added in https://glotpress.trac.wordpress.org/changeset/348. Can't find a reason here too.
- (`warnings` was added in https://glotpress.

[2016-04-01 16:09] akirk commented on #376
Ah, you are right. My bad, I didn't consider that the row could come in as NULL from the join.

[2016-04-01 21:43] ocean90 opened #379 "Cookies for notices don't get deleted"
Steps to reproduce:
- Set permalink structure to `/%postname%`
- Add `define('GP_URL_BASE', '/');` to `wp-config.php`
- Go to /projects/$project/$set/default
- Reject a translation via the dropdown menu
- Reload the page

Expected: "1 translation was rejected." notice is gone.
Actual: Notice is still there.

From Chrome's dev tools:

<img width="1300" alt="cookie" src="https://cloud.githubusercont

[2016-04-01 22:07] ocean90 commented on #379
Tracked this down to `gp_url_join( $base = '/', $path = '/' )` which returns an empty string.

(gp_url_path() => gp_url() => gp_url_add_path_and_query() => gp_url_join())

[2016-04-03 12:22] ocean90 commented on #379
Related: #203

[2016-04-03 14:05] toolstack opened #381 ""Use as name" on translation set creation page does not work"
Create a new translation set, select a locale and then click "Use as name" and the name field is not populated.

The javascript that does the work is wrapped in an anonymous jQuery function that does not seem to be working any more.

[2016-04-03 14:13] ocean90 commented on #381
Seems to work in Chrome, which browser are you using?

[2016-04-03 15:18] toolstack commented on #381
I tried it in Edge, IE and Firefox, failed on all of them.

[2016-04-04 10:34] #381 closed, assigned to toolstack

[2016-04-04 10:34] #379 closed, assigned to ocean90

[2016-04-04 21:14] toolstack opened #385 "Handle changes to locales.php during upgrades"
If a locale changes a detail like the wp_locale value, permissions and translations sets that have the old value will break.

We should handle upgrading to the new values.

[2016-04-04 21:29] ocean90 commented on #350
Example: https://github.com/ocean90/gp-locales/commits/develop/locales.php

[code]

Based on https://help.github.com/articles/splitting-a-subfolder-out-into-a-new-repository/.

[2016-04-05 13:14] toolstack commented on #350
I'm thinking we need to take a closer look at how the locales are managed, #385 is a good example where we probably need some more rigor around how locales are changed.

I think we need to separate the class from the data and build out the class to handle adding, updating and deleting locales, probably as data in a table.

[2016-04-06 19:35] ocean90 opened #386 "PHP Notice: Undefined property: Translation_Entry::$user_login in /gp-templates/translation-row.php"
[code]

Happens if a translation has a user_id but the user was deleted in the meantime. See https://github.com/GlotPress/GlotPress-WP/blob/2.0.0/gp-includes/things/translation.php#L254-L256

[2016-04-06 22:04] ocean90 commented on #376
Proposed indexes in SQL:

[code]

[2016-04-06 22:11] ocean90 commented on #376
Looking at the index for `(original_id, translation_set_id, status)` and noticed that the current schema allows an empty ID for the original and translation set. That doesn't make sense IMO. But would it enhance the index generation if we change it?

<img width="758" alt="" src="https://cloud.githubusercontent.com/assets/617637/14334500/0fcc3290-fc55-11e5-9780-53a79ec1eed4.png">

[2016-04-08 15:32] goblindegook opened #388 ""Not found" error when attempting to view and edit sub-projects"
We have GlotPress 2.0 running on a secondary site in a multisite instance, and GlotPress throws a "Not found" error when attempting to view or edit a sub-project. We've tried multiple permalink settings, with and without a trailing slash, but no luck.

GlotPress version: 2.0
WordPress version: 4.4.2
Configuration: directory-based multisite, HTTPS

[2016-04-08 18:09] toolstack commented on #388
What url is it generating for the view/edit link?  ie. http://domain.com/glotpress/projects/parent/child

[2016-04-09 10:14] ocean90 commented on #388
This seems be related to #265. @goblindegook can you check in the database if the value in the `path` column has a trailing slash?

[2016-04-09 11:32] goblindegook commented on #388
@toolstack: Here are our URLs and the current permalink settings:
- URL for viewing: `https://<hostname>/i18n/glotpress/projects/<project-slug>/<subproject-slug>`
- URL for editing: `https://<hostname>/i18n/glotpress/projects/<project-slug>/<subproject-slug>/-edit`
- Current permalink settings: `/%year%/%monthnum%/%day%/%postname%`

@ocean90: The path does indeed have a trailing slash, and it seem

[2016-04-11 15:16] ocean90 opened #389 "Wrong permission for delete actions"
- https://github.com/GlotPress/GlotPress-WP/blob/2.0.0/gp-includes/template-links.php#L107, should be `delete`
- https://github.com/GlotPress/GlotPress-WP/blob/2.0.0/gp-includes/template-links.php#L175, should be `delete`
- https://github.com/GlotPress/GlotPress-WP/blob/2.0.0/gp-includes/routes/translation-set.php#L120, should use another helper, `cannot_delete_set_and_redirect()`, or https://gith

[2016-04-11 16:44] akirk commented on #376
Here are my findings, running the queries on a big test database on a quite fast machine (SSD, Core i7 3GHz, 16GB RAM):
- Index test1 turns out not useful for these queries.
- `o.status ='+active'` instead of `o.status LIKE '+%'` already improves a lot
- not having a production system I ran the queries multiple times -- the visible effects (14x, 5x improvement don't have to be the same on a produc

[2016-04-11 21:17] toolstack commented on #389
Additional [discussion on Slack](https://wordpress.slack.com/archives/glotpress/p1460406873001321).

[2016-04-12 07:16] yoavf opened #391 "Hook `gp_translation_set_filters` needs do be moved or renamed"
Hook is run after the translation set sort form, rather than the filters form.
Its current position doesn't allow additions to the filters form.

[2016-04-12 07:33] yoavf opened #393 "Allow modification of accepted HTTP methods in the router"
Use case: a GP plugin that allows Cross-Origin requests. Chrome precedes this with an HTTP OPTIONS request, which is currently filtered by the whitelist of http methods.

[2016-04-12 08:05] yoavf opened #395 "Glossary: add option to overwrite existing glossary when importing"
Bulk editing glossaries isn't available yet, nor are we handling duplicates properly. Let's at least add an option to overwrite the exiting glossary entries when importing, which would enable quick editing in a csv editor pre-import.

(Previously: https://glotpress.trac.wordpress.org/ticket/425)

[2016-04-12 08:46] yoavf opened #397 "Add filter to allow exclusion of hidden strings from counts"
Hidden strings are not shown to end users, yet they are included in all counts.
We should at least allow for exclusion of hidden strings in counts by a filter.

[2016-04-12 11:58] toolstack commented on #393
Could you provide a real life example of this?  Do you have a plugin in mind you want to write that requires this?

[2016-04-12 12:09] yoavf commented on #393
Sure - On WordPress.com (both the site itself, and all of our users sites), we run a tool called the community translator. It provides a front end interface to GlotPress. As logged in users to WordPress.com are already logged in to translate.glotpress.com (our GW install, soon to be using the plugin version) they can submit translations of WordPress.com or their theme using that tool.

( The Commu

[2016-04-12 12:19] toolstack commented on #393
Thanks.

I'm not sure it would make sense to have this in core, but I could certainly see supporting a filter for the array of http methods to let a plugin alter it.

So instead of:

[code]

have:

[code]

[2016-04-13 05:35] yoavf opened #399 "Readme: path in running tests section is wrong"

[2016-04-13 05:43] yoavf commented on #393
@toolstack Thanks - updated the PR

[2016-04-13 09:10] yoavf opened #401 "Imported translations should be checked for warnings"
When you add translations via file import, formatting errors such as non-matching placeholders/tags are left undetected. Errors should be flagged and listed under the Warnings tab.

Previously: https://glotpress.trac.wordpress.org/ticket/396

[2016-04-13 09:16] #399 closed, assigned to nobody

[2016-04-13 09:17] #389 closed, assigned to nobody

[2016-04-13 09:18] #386 closed, assigned to nobody

[2016-04-13 09:24] ocean90 commented on #388
Thanks @goblindegook!

Moving to 2.0.1 and thinking about an upgrade routine which removes the trailing slash for project paths.

[2016-04-13 09:29] ocean90 commented on #393
This will probably be superseded by #338, but since there is no progress yet I'm fine with a filter for the meantime.

[2016-04-13 09:33] ocean90 commented on #350
There is https://github.com/GlotPress/gp-locales now. The is only one issue with a separate repo: It's not possible to include just one file as a submodule. Not sure if it's a good idea to include all the upcoming tests and readmes too.

[2016-04-13 09:34] ocean90 commented on #350
We could add them to https://github.com/GlotPress/GlotPress-WP/blob/develop/bin/release.ini#L21

[2016-04-13 10:00] yoavf opened #403 "CLI export ignores status param"

[2016-04-13 10:17] yoavf opened #405 "Export - allow export by priority"
Add options within export settings, allowing to export e.g. only high and normal priority, excluding low priority and hidden strings)

Use case - exporting only high priority strings when needed.

Previously: https://glotpress.trac.wordpress.org/ticket/289

[2016-04-13 11:07] yoavf opened #407 "Export - allow optional deep export from project and child projects"
When exporting, it might be useful to also export from child projects as well, so that all originals and translations are exported to one unique file.

[2016-04-13 11:43] ocean90 opened #409 "Pass GP_Original to GP_Translation_Warnings::check()"
With the current method – `function check( $singular, $plural, $translations, $locale )` – we have no access to fields like  `context` or `comment` of an original. Both could be useful if you want to implement contextual warnings.

One idea idea would be to change the method to:

[code]

Or just add the (optional?) argument:

[code]

[2016-04-13 11:56] toolstack commented on #409
Adding an optional original sounds like it would break less things 😉

[2016-04-13 12:03] ocean90 commented on #409
Why?

[2016-04-13 12:08] toolstack commented on #409
If any plugin uses the method, changing the parameter list would break them.  Where as adding an optional to it would allow them to continue to work.

[2016-04-13 12:20] toolstack commented on #407
I don't see how that would be very useful, how would you handle duplicate strings with different translations?

This might be better as a plugin than in core.

[2016-04-13 12:20] ocean90 commented on #409
Another idea is to introduce a new method and use that instead.

[code]

[2016-04-13 12:23] toolstack commented on #409
That would work fine as well, though it would be prone to code duplication, might have to make a private function to do the bulk of the work for both public methods.

[2016-04-13 13:13] #403 closed, assigned to nobody

[2016-04-13 17:20] toolstack commented on #393
The updated PR looks good.

[2016-04-18 12:51] patrickullrich commented on #166
We're using the professional solution "memoQ" (similar to Trados) and this is how it works there.

![placeholders_memoq](https://cloud.githubusercontent.com/assets/13131638/14604598/bdf2f606-0574-11e6-957d-2d8136b7a7ee.jpg)
(you can see the original text in the View Pane below the translation grid)

Little explanation:
When importing a file into the translation environment, we can write regex stri

[2016-04-19 11:44] ocean90 opened #411 "Locales: Add Haitian Creole locale definition"
Original request: https://make.wordpress.org/polyglots/2016/01/13/locale-hat-plural-forms-nplurals2-plural-n/

Ethnologue reference: http://www.ethnologue.com/language/hat

Data:

[code]

[2016-04-19 11:59] ocean90 opened #412 "Locales: Update Asturian locale definition"
Original request: https://make.wordpress.org/polyglots/2016/02/04/hi-polyglots-my-name-is-chris-miller-and

Ethnologue reference: http://www.ethnologue.com/language/ast

Data:

[code]

[2016-04-19 12:17] toolstack opened #413 "Add `class_exists()` check around GP_Locale to avoid conflicts with other plugins."
Some other plugins (like JetPack) include locales.php for their own use but that can cause GlotPress to fail to activate.

[2016-04-19 17:02] ocean90 opened #415 "Using utf8mb4 chars as names/slugs of projects can't be found"
Steps to reproduce:
- Have a database which supports utf8mb4 encoding
- Create a project with 🌍 as the title

[2016-04-19 17:05] toolstack commented on #415
I noticed this when I was working on #410.

[2016-04-19 18:12] #411 closed, assigned to toolstack

[2016-04-19 18:12] #412 closed, assigned to toolstack

[2016-04-20 09:32] #413 closed, assigned to toolstack

[2016-04-20 10:18] ocean90 commented on #350
Closing as a wontfix for now.

[2016-04-20 10:18] #350 closed, assigned to ocean90

[2016-04-20 12:30] ocean90 opened #417 "Exclude art-xemoji from length check"
The locale for Emoji needs to be added to `GP_Builtin_Translation_Warnings::$length_exclude_languages` otherwise you'll get a length warning for each translation.

[2016-04-20 12:50] #417 closed, assigned to ocean90

[2016-04-25 12:06] ocean90 opened #422 "Don't mark `gp_update_meta()` as internal"
https://github.com/GlotPress/GlotPress-WP/blob/2.0.0/gp-includes/meta.php#L74 should be removed.

[2016-04-25 19:07] #388 closed, assigned to toolstack

[2016-04-27 10:12] akirk opened #425 "Remove Generic.WhiteSpace checks for gp-templates"
When [touching code](https://github.com/GlotPress/GlotPress-WP/pull/378) within `gp-templates` it is quite likely that existing lines have a wrong indentations according to WordPress coding standards.

If the new or modified code aligns with the existing code it will fail PHP_CodeSniffer tests. Fixing those will bring you into a vicious circle where you need to fix lines that you didn't intend mod

[2016-04-27 11:04] #425 closed, assigned to akirk

[2016-04-27 11:37] ocean90 commented on #209
Related: #324

[2016-04-27 20:24] #405 closed, assigned to nobody

[2016-04-27 20:24] #401 closed, assigned to nobody

[2016-04-27 20:25] #391 closed, assigned to nobody

[2016-04-28 16:00] akirk opened #427 "Fuzzy translations: Show the changes to the original"
A translation is set to fuzzy if a new original is imported and [closely matches an existing original](https://github.com/GlotPress/GlotPress-WP/blob/develop/gp-includes/things/original.php#L223).

It would be useful for translators if they could see a diff between the old and the new original, so that they can focus on what has changed.

![screen shot 2016-04-28 at 17 58 33](https://cloud.githubu

[2016-04-28 16:32] ocean90 commented on #427
Trac ticket: https://glotpress.trac.wordpress.org/ticket/537

That's correct. Another option would be to store the previous singular/plural strings in a meta field.

[2016-04-28 20:20] yuretzru opened #428 "Add header "Language" to metadata .po"
Exported po-files incompatible with some libraries.
meta Language needed.
You can easy fix it.

file:
gp-includes/formats/format_pomo.php

add at line: 20
`$po->set_header( 'Language', $locale->lang_code_iso_639_1 );
`

result:

[code]

[2016-04-28 20:30] ocean90 commented on #428
Thanks for the report @yuretzru!

GNU gettext specification: https://www.gnu.org/savannah-checkouts/gnu/gettext/manual/html_node/Header-Entry.html

Some locales don't have an ISO 639 1 code but based on https://www.gnu.org/savannah-checkouts/gnu/gettext/manual/html_node/Language-Codes.html#Language-Codes three letter codes are supported as well.

[2016-04-28 20:42] yuretzru commented on #428
Hi Dominik!
You are right, my code is incorrect.
But the tag "Language" is very necessary for me :)
Culd you add it?

[2016-04-30 13:30] toolstack commented on #428
@yuretzru grab this [format_pomo.php](https://github.com/GlotPress/GlotPress-WP/blob/428-add-language-header-to-po-exports/gp-includes/formats/format_pomo.php) and see if it does what you need.

[2016-05-02 09:06] ocean90 opened #430 "Add codecov.yml"
It seems like codecov requires now a YAML file for the settings.

<img width="890" alt="codecov" src="https://cloud.githubusercontent.com/assets/617637/14950947/e26737a4-1055-11e6-8a6c-4100448b81c5.png">

[2016-05-02 16:46] #422 closed, assigned to nobody

[2016-05-03 20:16] #395 closed, assigned to nobody

[2016-05-03 20:17] #377 closed, assigned to nobody

[2016-05-03 20:28] toolstack opened #433 "Update release.ini to remove CHANGELOG.md and codecov.yml."
codecov.yml has been added to the repo so the release script should delete it when pushing to w.org.

Also CHANGELOG.md was missed during the initial setup of the release script and should be deleted as well as it is appended on to the readme.txt file.

[2016-05-04 09:45] ocean90 commented on #430
Looks like the migrate process didn't migrate all the settings: https://github.com/GlotPress/GlotPress-WP/pull/394#issuecomment-216758173

[2016-05-10 09:58] ocean90 commented on #433
I don't think that we should remove CHANGELOG.md. The size of the readme.txt is limited on w.org so at some point we have to remove some entries from the readme.txt and linkt to CHANGELOG.md for the full changelog.

[2016-05-10 10:05] #393 closed, assigned to nobody

[2016-05-10 11:59] toolstack commented on #433
You don't have to remove the entries from readme.txt as w.org just drops off the last ones when the size limit is hit and it displays everything up to that point.  The file itself doesn't seem to have a limit, just what w.org displays.

[2016-05-10 19:47] toolstack opened #437 "Create test cases for PO/MO format"
Currently all of the other format types have test cases, PO/MO should as well.

[2016-05-10 19:50] #428 closed, assigned to toolstack

[2016-05-10 20:04] yuretzru commented on #428
Yes!!!
Thank you Greg!!!!!

[2016-05-11 12:03] #430 closed, assigned to ocean90

[2016-05-13 09:12] ocean90 opened #441 "Provide a better default sort order for GP_Translation::for_export() for consistent exports"
It currently sorts by priority, see https://github.com/GlotPress/GlotPress-WP/blob/118fd7e63a860388b1b2858c4de8ec9f77ad2055/gp-includes/things/translation.php#L143-L146, which ends more or less in a random sort order since there are only 4 values.

This comes more prominent with the new index from #376.

[2016-05-14 00:50] jrfnl opened #442 ""Project-Id-Version" for all plugins set to 'Stable (latest release)'"
If you open up any plugin translation file in a WP install, you'll see the following as part of the header:

[code]

Looks like `$project->name` for plugins is incorrectly set to `Stable (latest release)` and passed on like that to the `.po` and `.mo` file generation.

[2016-05-14 01:26] toolstack commented on #442
I assume you mean on translate.wordpress.org?  If so this is because they create a master project for the plugin and then create sub projects with names like "Stable (latest release)".  When GlotPress generates the export files it only takes the project name of the sub project, not the parent.

In that respect this is by design and not a bug in GlotPress.

On the other hand, it's probably not the

[2016-05-14 01:42] jrfnl commented on #442
Correct, that's exactly what I meant. My apologies for posting this in the wrong place in that case.

[2016-05-14 01:47] toolstack commented on #442
No problem, it is a less than ideal way to handle sub project by default so it does need some attention.

[2016-05-14 01:48] jrfnl commented on #442
Opened a ticket on trac: https://meta.trac.wordpress.org/ticket/1708

[2016-05-15 17:48] toolstack commented on #441
Is there a particular reason the order is important?

If we change this we'll have to update the test data to match as well.

[2016-05-16 10:33] ocean90 commented on #441
@toolstack This would avoid unnecessary commits if you're using a VCS for the files.

#421 is related and shows that the tests are already broken.

[2016-05-16 11:59] toolstack commented on #441
Probably won't help with commits, as while the export order isn't pretty, it should be consistent between exports.

I'm fine with setting one, just need to make sure we track down all the test cases that break.

[2016-05-16 12:59] ocean90 commented on #441
Can you elaborate that?

[2016-05-16 13:23] toolstack commented on #441
Given no changes in the database rows, the export will be in the same order as it will pick up the default order (I assume this is row number), so two exported files will be identical.  No commit will be required.

As soon as you change a row value, or delete a row, or add a row a commit is going to be required to the SVN tree anyway, so no help there with commits either.

[2016-05-17 19:19] toolstack commented on #433
As per [discussion in Slack](https://wordpress.slack.com/archives/glotpress/p1463507183000704), we'll leave CHANGELOG.md and just remove codecov.yml.

[2016-05-17 19:21] #437 closed, assigned to toolstack

[2016-05-17 19:51] #433 closed, assigned to toolstack

[2016-05-17 20:05] #442 closed, assigned to toolstack

[2016-05-17 20:23] toolstack opened #445 "Cleanup test data directory"
Many of the files in the test data directory are no longer used.

[2016-05-17 20:39] toolstack opened #447 "Add more meta data to projects (ie app name, version, etc.)"
The current projects in GP have limited information about the application they are actually for which limits the information that can be used during export or other functions.

For example when exporting to a mo file the headers should include the app name and version, but GlotPress doesn't have this information available and so uses the project name instead.

[2016-05-17 20:57] toolstack commented on #341
Found the issue, https://github.com/GlotPress/GlotPress-WP/blob/develop/gp-includes/validation.php#L152 is:

[code]

which matches `translation_set_id` as well as `translation_0`, etc.

Need to replace it with a better matching function like:

[code]

[2016-05-21 09:23] ocean90 opened #450 "Infinite loop in po export of child project"
Introduced in #442.

See #449.

[2016-05-21 11:30] #341 closed, assigned to toolstack

[2016-05-21 12:07] ocean90 opened #452 "Remove GP_CLI and GP_Translation_Set_Script"
Both are deprecated since #24 which was shipped in 1.0.

[2016-05-21 12:07] ocean90 opened #453 "Deprecation policy"
We should have a deprecation policy which documents when deprecated stuff gets finally removed. Something like:

x: Add a deprecation notice.
x + 1: Continue showing a deprecation notice.
x + 2: Remove deprecated code.

Related: #452

[2016-05-24 12:47] toolstack commented on #453
I agree, though it might get tricky depending on the release schedule.

Assuming x in the above is a major release (aka 2.0 or 3.0) that could be a long time before the code is actually removed.  Perhaps if we let deprecation happen in a point release that might make it a little more streamlined.

For example:
- Deprecate the GP CLI in 2.1
- Show notices in 2.2, 2.3, 3.0, 3.1, .etc.
- Remove in 4.

[2016-05-24 17:34] #445 closed, assigned to toolstack

[2016-05-24 17:51] #450 closed, assigned to ocean90

[2016-05-24 17:51] #361 closed, assigned to ocean90

[2016-05-24 18:38] toolstack commented on #453
See [draft policy](https://github.com/GlotPress/GlotPress-WP/wiki/7.-Deprecation-Policy).

[2016-05-29 07:41] yoavf commented on #293
I'd like to move this forward - @ocean90 are you ok with an additional column?

[2016-05-30 09:02] ocean90 commented on #293
@yoavf See the related [discussion on Slack](https://wordpress.slack.com/archives/glotpress/p1463504761000629). We have to make sure that all current workflows can be handled with a new column.

Maybe #209 (history/log/notes per translation) is a better idea for this?

[2016-05-31 17:10] pbearne commented on #338
love to be able to hook in from an installed plugin to be able to get translation stats to encourage users to help with translations may be part of the plugins list/details page

[2016-05-31 17:37] mhsdef commented on #293
FWIW I agree with @toolstack. AFAIK, in a normal flow, every translation requires the validation step so it seems integral to the translation record entity.