[2017-08-26 19:40] toolstack commented on #702
I'd think for that level of notification that we'd want some kind of notification center so the user could manage how and when they get notified.

I seem to recall that there was some discussion on a notification center for WP, we could probably leverage that if it was implemented.

[2017-08-27 14:32] Mte90 opened #805 "Documentation on all the functions"
Looking at the code all the functions of glotpress doesn't have documentation and to contribute is not very easy to understand the code.

As example before understand the cool function `gp_post` I had to look all the code.

[2017-08-27 16:01] toolstack commented on #805
Duplicate of #585/#584.

[2017-08-27 16:01] #805 closed, assigned to nobody

[2017-08-28 15:07] toolstack opened #806 "NGX test cases are failing and other small fixes"
The recent additon of the NGX format has caused several test failures which need to be resolved.

[2017-08-29 17:07] #806 closed, assigned to toolstack

[2017-09-01 12:06] toolstack opened #809 "Quotation marks are not escaped in Android output"
Quotation marks should be escaped during the output of Android files.

[2017-09-07 20:31] ocean90 opened #812 "GP_Route_Profile::profile_view() doesn't check if user exists"
`wp_get_current_user()` returns an empty `WP_User` object which skips the `! $user` condition. We need an `$user->exists()` check here.

[2017-09-11 07:25] sandebert opened #814 "Question: What about the standalone version?"
Hi all,

Quoting from [the WP plugin page](https://wordpress.org/plugins/glotpress/):

_GlotPress has two versions, a standalone version and this WordPress plugin version. At this time these two versions are functionally similar, but the plugin version is likely to start moving away from the standalone version in future versions._

I haven't been able to find any other information about the standa

[2017-09-11 07:58] pedro-mendonca commented on #99
Hi @ocean90

I have some suggestions to improve i18n.

- [x] Merge the following Priority labels (have [commit](https://github.com/GlotPress/GlotPress-WP/pull/813/commits/daa83f2ffdda7915c232592e5a7074ef72ed1874)):
 - `Priority of the original:`
-  `Priority:`

- [x] Move arrows outside of the following strings and merge similar (have [commit](https://github.com/GlotPress/GlotPress-WP/pull/813/com

[2017-09-11 08:17] swissspidy commented on #814
You can find the standalone version over at https://github.com/GlotPress/GlotPress, however, all efforts are put into the WordPress plugin version as the standalone one isn't supported or maintained anymore.

[2017-09-11 08:20] sandebert commented on #814
Thanks.

It might be a good idea to update that page, and the WP plugin page, to clarify that the standalone is not maintained anymore.

[2017-09-11 08:20] #814 closed, assigned to nobody

[2017-09-11 11:39] toolstack commented on #814
The standalone version is now officially retired, the plugin is the only version of GlotPress now.

We'll make sure to update the readme for the next release, thanks for pointing it out.

[2017-09-11 11:40] toolstack opened #815 "Readme.template is out of date"
The readme.template file used to generate the WordPress reaadme.txt is out of date and contains incorrect information.

[2017-09-11 11:42] toolstack commented on #815
And so is README.md.

[2017-09-11 15:05] toolstack opened #817 "Travis does supports PHP 5.3 on Trusty"
We can either force it to use percise as per the [docs](https://docs.travis-ci.com/user/reference/trusty#PHP-images) or remove 5.3 from the testing.

[2017-09-11 15:09] Mte90 commented on #817
Probably remove PHP 5.3 support that now have a low user base

[2017-09-11 15:19] toolstack commented on #817
I'd be fine with that as well, in fact I'd think that at this point 5.6 would probably be a reasonable minimum, at least it still has [security patches](http://php.net/supported-versions.php) for another ~year.

[2017-09-12 16:13] ocean90 commented on #817
Related #572

I wouldn't mind using 3.0 also to bump the minimum supported PHP version to 5.6.

[2017-09-12 16:20] toolstack commented on #817
That sounds like a plan, I'll create a new PR to drop the older versions from Travis and update the minimum version `define()`.

[2017-09-12 16:27] #815 closed, assigned to toolstack

[2017-09-12 16:49] #809 closed, assigned to toolstack

[2017-09-12 16:54] pedro-mendonca opened #820 "Format: Add support for CSV files"
Hi,

I would like to request the addition of CSV file format to the export options.
Is it possible?

Thanks

[2017-09-12 16:57] ocean90 commented on #820
Sounds interesting but I don't think that CSV is a good format for translations if you think of all the singular/plural handling. Do you have a specific use case in mind?

[2017-09-12 17:02] pedro-mendonca commented on #820
Yes, I use it myself for later import to TablePress for a translation search tool.
The plural is handled currently as a two line value, works fine, but I have to do it through some manual steps.
Example: wp-portugal.com/traducao/tabela/
The plural handling might be an issue for a bundled feature, maybe it can be done through an independent plugin.

[2017-09-12 17:05] toolstack commented on #817
Closed with the merge of #819.

[2017-09-12 17:05] #817 closed, assigned to nobody

[2017-09-12 17:08] toolstack commented on #820
Is there a standard that TablePress uses for the cvs files published somewhere?

[2017-09-12 18:19] pedro-mendonca opened #821 "Make warnings translatable"
As discussed in #[glotpress](https://wordpress.slack.com/archives/C02RP4R9F/p1505236092000119) slack channel, the warnings should be translatable and not inserted in the database, either in english or translated.
Examples:
https://github.com/GlotPress/GlotPress-WP/blob/develop/gp-includes/warnings.php#L229
`$expected_error_msg = "Expected $original_tag, got $translation_tag.";`
https://github.com/

[2017-09-12 21:09] pedro-mendonca commented on #820
It tries to guess the imported file format:

https://tablepress.org/faq/documentation-import-export-formats/

[2017-09-13 06:41] ePascalC commented on #820
I love TablePress, really! The way of how you can show tables with all sorting, filtring, headers, etc is just great. But I do not see it as a use case for exporting csv from GlotPress.

That said, I FULLY support the request for a CSV export. As plugin author I would just love to get a CSV file, import it into Excel or other and see where I'm missing context or comments.
I also saw over the years

[2017-09-13 06:44] ePascalC commented on #820
CSV standard: https://tools.ietf.org/html/rfc4180

[2017-09-13 07:50] pedro-mendonca commented on #820
@ePascalC

I agree, I'll probably go for an independent solution for my specific case, still, CSV would be a great adition as a generic export.

[2017-09-13 08:06] grappler opened #822 "Display all translations for a specific string"
When discussing making changes to strings it would be interesting to be able to see all of the translations for the specific string.

A specific example would be the string change in [#core-38545](https://core.trac.wordpress.org/ticket/38545) where `Archives: %s` is being changed to `Archives:`.

translate.wp.com already has this feature: https://translate.wordpress.com/projects/wpcom/-all-transla

[2017-09-13 08:23] ePascalC commented on #820
So I would say 'add it' !

[2017-09-13 11:07] SergeyBiryukov commented on #822
https://translate.wordpress.org has a [Consistency tool](https://translate.wordpress.org/consistency) that works in a similar way, but performs a search across projects instead of languages.

A tool to search for a translation across different languages would definitely be helpful as well.

[2017-09-13 11:18] Mte90 commented on #822
Uhm probably will helpful also of strings inside the projects itself. To see the history of the translation in the project itself.

[2017-09-14 11:03] tobifjellner opened #823 "Add parameter wp_locale for zh_SG"
Chinese (Singapore) zh_SG has been requested for activation on translate-wordpress-org.
Request URL: https://make.wordpress.org/polyglots/2017/07/13/chinese-singapore-gte-request/

Therefore, we need to add the parameter wp_locale for this locale.

Previous description:
When I tried to search for zh_SG at https://translate.wordpress.org/ I got no match.
The reason seems to be that the parameter wp

[2017-09-14 21:52] tobifjellner commented on #823
For the moment, we'll only update zh_SG.

[2017-09-14 22:37] toolstack commented on #823
Not all locales have `wp_locale` properties and I expect that will become more common in the future with CLDR support.

I believe the polyglot's team usually chooses the value for them when they are added.

[2017-09-14 22:46] tobifjellner commented on #823
In a comment on Slack, @ocean90 commented that this parameter is added when a locale gets activated on translate.wordpress.org.
We've got a request for zh_SG now, so that locale will be updated. (And several other domains are about to be added, too.)

[2017-09-14 22:49] toolstack commented on #823
That's one of the slightly weird interactions between GP and translate.w.org, as GP doesn't actually use the parameter.

[2017-09-19 17:26] pedro-mendonca opened #825 "Rename "Branch Project" and other "branch" related strings"
The term _branch_ is mostly related with translate.wp.org itself and general repository branches.
In GlotPress the _branches_ are generically called sub-projects, as they can have a multi-level hierarchy.

The *Branch Project* and other _branch_ related strings are about cloning, forking a project in GlotPress.

A better naming could be *Clone Project*, *Duplicate Project* or *Copy Project*.

[2017-09-19 21:11] Mte90 commented on #582
What is the best way foropen it? A button near Apply?

[2017-09-19 21:23] toolstack commented on #582
I would think F1 or Ctl-H.  Maybe a "link" in meta under "More links"?

[2017-09-20 09:59] Mte90 commented on #825
So probably we need a map of this strings so we can evaluate the better naming

[2017-09-20 10:34] pedro-mendonca commented on #825
## List of occurrences

**`Branch project`**
- [Link to _branch_ creation page](https://github.com/GlotPress/GlotPress-WP/blob/develop/gp-includes/template.php#L513)
- [Button to create _branch_](https://github.com/GlotPress/GlotPress-WP/blob/develop/gp-templates/project-branch.php#L33)

**`Branch project "%s"`**
- [Heading of _branch_ creation page](https://github.com/GlotPress/GlotPress-WP/blob/

[2017-09-20 10:39] Mte90 commented on #825
Uhm the labels are only in 2 files so maybe is better to use Duplicate or Clone everywhere and in the page of Branch change also the explanation (in case if needed).

I think that Duplicate is better because usually when someone duplicate is to start from something that already exist to alter it more quickly instead of clone that sometimes is something to update the parent project.

[2017-09-20 10:44] pedro-mendonca commented on #825
I agree @Mte90
Duplicate is a good choice.
Also, being a _branch_ wouldn't allow a sub-project to move around in the hierarchy, choosing another *parent* or moving it to the root.

The description **`Here you can branch out this project: everything will be duplicated into a new project for you.`** is quite clear and correct, and it's about making a duplicate at some point.

[2017-09-20 10:57] pedro-mendonca commented on #825
@Mte90 feel free to comment and suggest changes to the above mentioned PR https://github.com/GlotPress/GlotPress-WP/pull/826

[2017-09-20 21:19] Mte90 commented on #582
Ok where I can find the content for the modal? :-)

[2017-09-21 11:33] toolstack commented on #582
https://github.com/GlotPress/GlotPress-WP/blob/cfa1bf22e0eb14d5b10938059de05a41240973d4/assets/js/editor.js#L130

[2017-09-25 21:03] tobifjellner commented on #823
Issue description has been updated:
Chinese (Singapore) zh_SG has been requested for activation on translate-wordpress-org.
Request URL: https://make.wordpress.org/polyglots/2017/07/13/chinese-singapore-gte-request/

Therefore, we need to add the parameter wp_locale for this locale.

[2017-09-25 22:06] tobifjellner opened #828 "Add 7 locales: Pirate, Spanish (US), Luganda, Papiamento, Saraiki, Swati, Zulu"
Requests to add 7 locales to GlotPress for WordPress.org:
Request URL's:
Pirate, en_PI https://make.wordpress.org/polyglots/2017/01/05/hi-4/
Spanish (US), es_US https://make.wordpress.org/polyglots/2017/07/09/im-requesting-a-new-locale-be-added/
Luganda, lug https://make.wordpress.org/polyglots/2017/06/30/locale-lg_ug/
Papiamento, pap https://make.wordpress.org/polyglots/2017/06/20/hi-polyglots-18

[2017-09-26 17:10] #452 closed

[2017-09-26 17:33] #729 closed, assigned to SergeyBiryukov

[2017-09-26 17:54] #684 closed, assigned to yoavf

[2017-09-26 20:09] toolstack opened #829 "Glossary terms cannot contain UTF-8 characters"
Prior to GP 3.0, glossary terms could be saved with UTF-8 characters but they would never match due to the use of `preg_match()` without the `\u` modifier.

GP 3.0 will block all non-valid glossary terms from being created.

However glossary terms should be able to include UTF-8 characters.  Unfortunately, using `\u` has other side effects, like not supporting word break detection in patterns, tha

[2017-09-26 20:16] toolstack commented on #829
See also comments on [PR770](https://github.com/GlotPress/GlotPress-WP/pull/770).

[2017-09-26 20:23] #768 closed, assigned to toolstack

[2017-09-26 20:41] #460 closed

[2017-09-30 09:16] #823 closed, assigned to tobifjellner

[2017-10-03 10:24] ocean90 opened #833 "Make sure Travis CI builds are passing again 💚"
Example: https://travis-ci.org/GlotPress/GlotPress-WP/jobs/282662252 🔴

[2017-10-03 11:09] GaryJones opened #836 "Español de Costa Rica is missing part of label"
`wp_get_available_translations()` in WP Core shows "Español" as the native name for both `es_CR` (Costa Rica) and `es_ES`. This is only possible to see by looking at the markup. I believe that the first should be something like "Español de Costa Rica" (or whatever the suitably localised version would be).

https://github.com/GlotPress/GlotPress-WP/blob/a278bb001d99bc96c2e21e20002958a7c7d3d222/loca

[2017-10-03 11:12] ocean90 opened #837 "Extend our test suite with a memcached instance"
See https://core.trac.wordpress.org/ticket/31491 and https://core.trac.wordpress.org/changeset/35213.

This helps to test if changes like #799 are working correctly with a persistent object cache.

[2017-10-03 11:24] #790 closed, assigned to toolstack

[2017-10-03 12:26] ocean90 opened #838 "Travis: Switch to Trusty"
https://github.com/GlotPress/GlotPress-WP/pull/835/commits/5e0852f789220f96a6a9328bdb608bacc585e9cc changes the dist to Precise because Travis doesn't support xmllint on new Trusty environment which is used by wp-dev-lib. Once https://github.com/xwp/wp-dev-lib/issues/247 is fixed we can switch back to Trusty.

[2017-10-03 12:40] tobifjellner commented on #836
At the same time I´ll use the opportunity to add 639-3 labels for all Spanish locales.
Question: Would we break anything if you at the same time change the locale code es_CR to es_cr?

[2017-10-03 13:18] ocean90 commented on #825
GlotPress is a tool to translate software so branching sounds totally fine to me. I don't see the need for changing UI strings here since the code is still about "branching".

[2017-10-03 13:23] #836 closed, assigned to tobifjellner

[2017-10-03 13:28] pedro-mendonca commented on #825
Don't you think a _branch_ is somehow permantly related to its origin/superior?
The GotPress sub-projects can be moved around in the hierarchy structure, and after being _branched_, keep no relation with its origin.

[2017-10-03 13:50] ocean90 opened #841 "Fix risky tests"
[code]

[2017-10-03 14:13] pedro-mendonca commented on #822
A good addition would also be a link to the [Consistency tool](https://translate.wordpress.org/consistency) mentioned above, including the string itself.
Example: [Consistency for current locale](https://translate.wordpress.org/consistency?search=Archives%3A+%25s&set=pt%2Fdefault&search_case_sensitive=1) (for example string `Archive: %s`)

[2017-10-03 14:17] Mte90 commented on #822
Uhm can be not so very helpful because the translations can a single word or different phrases so the consistency will be not very useful.

[2017-10-03 14:23] toolstack commented on #822
The consistency tool is not part of GP, so that would be a meta addition.

[2017-10-03 15:44] ocean90 commented on #833
@tobifjellner Looks like locales.php has another locale (sq_XK) that doesn't follow the snake_case format for variables. https://travis-ci.org/GlotPress/GlotPress-WP/jobs/282757636#L765-L777

[2017-10-03 16:25] tobifjellner opened #843 "Change internal code sq_XK to all lowercase"
All letters in GlotPress internal locale codes are now, lowercase, except for sq_XK Shqip (Kosovo)
This code, too, should be changed to all lowercase.

[2017-10-03 16:31] tobifjellner commented on #843
At the same time, we can add iso 639-2 and iso 639-3 code = sqi

[2017-10-04 18:50] ocean90 commented on #843
sqi is only for https://github.com/GlotPress/GlotPress-WP/blob/504446cb16ab6a65fe87ed16f6cb6f7689359876/locales/locales.php#L1836-L1845

[2017-10-04 18:50] #723 closed, assigned to ocean90

[2017-10-04 18:51] #838 closed, assigned to ocean90

[2017-10-06 12:08] toolstack opened #846 "Patch scope comparing against master instead of dev"
Something has changed in the dev-lib that is comparing PR's against master instead of develop, the fix is to add `DIFF_BASE=develop` to the TravisCI build environment.

[2017-10-06 12:14] ocean90 commented on #846
Looks like it's this change https://github.com/xwp/wp-dev-lib/commit/fd0b392c8b5e0867010965cac769d69744a36ccb

Instead of `DIFF_BASE` it's `GITHUB_DEFAULT_BRANCH`.

[2017-10-06 12:15] ocean90 commented on #846
Hmm, looks like it got renamed to `DEFAULT_BASE_BRANCH`, see https://github.com/xwp/wp-dev-lib/commit/3620031de79f69ad0475c6d989f48733693d1eab.

[2017-10-08 10:43] #846 closed, assigned to toolstack

[2017-10-08 16:47] #843 closed, assigned to tobifjellner

[2017-10-08 22:52] #658 closed

[2017-10-10 08:50] #517 closed

[2017-10-13 14:59] SergeyBiryukov opened #849 "Provide access to obsoleted strings to allow for copying parts of previous translations"
When a new sentence is added to an existing string (too big a change for fuzzy matching), previous translation is lost, and you have to translate the whole string from scratch again.

See an example in http://meta.trac.wordpress.org/changeset/6023:

was changed to:

It would be helpful to copy the previous translation of the first part and just translate the new sentence.

[2017-10-14 12:58] tobifjellner commented on #849
This is an interesting proposal, but may be a bit hard to implement.
As I read Sergey's proposal, it's about using existing active and obsoleted strings as a translation memory, where partial matchings may be presented for reuse.
It could be possible, for instance, to apply a small penalty for matches from other projects, so that a 100% match from other, translated themes are presented as 99% fuzz

[2017-10-15 11:34] SergeyBiryukov commented on #849
It's more about convenient access (or any access, actually) to obsoleted strings, allowing to search for matches. Simply adding `Obsoleted` option to the Status filter should be enough for this purpose.

When a new sentence is added to a WordPress core string, I can open the previous `.po` files and find the translation there. That's not possible for projects where `.po` files are not available fo

[2017-10-17 17:14] #304 closed

[2017-11-14 17:33] ocean90 commented on #833
Closing as fixed for now.

[2017-11-14 17:33] #833 closed, assigned to ocean90

[2017-11-14 17:37] #793 closed, assigned to toolstack

[2017-11-14 17:43] sheilagomes opened #852 "Add comment field or button triggering an automated message for editors"
I am a GTE and sometimes it would be helpful to leave comments for the translators, as it is not always clear why some translations are rejected (there may be more than one mistake, for example). If they don't know exactly what's wrong, they will keep making the same mistakes. I saw there's a [Feature Request for comments for translators](https://github.com/GlotPress/GlotPress-WP/issues/209), mayb

[2017-11-14 17:44] Mte90 commented on #852
This field will be available for everyone with permissions to review strings :-)
For automatic notifications there is another ticket but actually there are no updates for that.

[2017-11-14 17:44] #852 closed, assigned to nobody

[2017-11-14 17:48] toolstack commented on #852
Duplicate of #209.

[2017-11-14 17:51] ocean90 commented on #582
GitHub uses <kbd>Shift</kbd> + <kbd>?</kbd>. We could also have a button link in the footer called "Shortcuts".

[2017-11-14 19:15] ocean90 commented on #441
See https://github.com/GlotPress/GlotPress-WP/pull/747/files#diff-cc3a0a0b0ae05f7fe2edbc0f4d3ca8d8R217 and https://wordpress.slack.com/archives/C02RP4R9F/p1510686477000328.

We should add an default order which doesn't harm the query performance.

[2017-11-14 19:29] garretthyder opened #853 "Blocked from fixing Waiting translation"
Hello,

Not sure what's most appropriate here but I'll explain circumstances before potential fixes.
So there was an original 'correct' translation of a string, now the string is Waiting but is incorrect, so I correct the string and attempt to submit which fails with error;
![screen shot 2017-11-14 at 11 21 11 am](https://user-images.githubusercontent.com/8726005/32800255-ae484d26-c92e-11e7-92a7-0

[2017-11-14 19:31] ocean90 commented on #853
Did you click on "All translations of this original" before submitting your translations?

[2017-11-14 19:42] garretthyder commented on #853
Yes, that's where I found there was another instance before the Waiting string that was correct and blocking the translation submission. So I had to approve the incorrect Waiting string in order to correct it.

[2017-11-14 19:46] ocean90 commented on #853
So why didn't you approve the correct instance?

[2017-11-14 19:59] garretthyder commented on #853
That option didn't seem to be available. There Waiting string that was submitted was more recent so was showing for the string. Is the proper workflow to reject the waiting string, go into All strings, find the correct and approve it?

From the GUI it wasn't very evident that there was any other strings than the one showing as Waiting

[2017-11-14 20:22] garretthyder commented on #853
Closing for now after discussion with @ocean90 it was suggested I reject the waiting string and it should revert to the previously accepted version. Will reopen if testing doesn't allow this workflow. Cheers

[2017-11-22 03:53] iagobruno opened #854 "The plugin is not working on my sites"
I installed the plugin on 2 different sites (one location and the other hosted) and even then I can not use the plugin through url **<home_url>/glotpress/** as [explained in the official website](https://glotpress.blog/the-manual/installation/) and there is nowhere in the panel the name "GlotPress" with a link.
Do I have to do any configuration for the plugin to work?

[2017-11-22 13:50] toolstack commented on #854
Do you have pretty permalinks enabled on your site (they're required for GP)?

If you go to the WP plugins page are there any warning messages at the top related to GP?

[2017-11-22 18:05] garretthyder commented on #853
Alright @ocean90 I've found a reproduction candidate for this issue;
https://translate.wordpress.org/projects/wp/dev/admin/en-ca/default?filters%5Bstatus%5D=either&filters%5Boriginal_id%5D=3852&filters%5Btranslation_id%5D=52836067

So as can be seen the waiting translation is incorrect as it's using a different word than the original string. If you Copy from original on both singular and plural an

[2017-11-22 19:37] ocean90 commented on #853
It's worth to mention that the current (green) stays "active" until another translation gets approved. So in this case you'd reject (red) the waiting (orange) string which "deletes" the translation.

[2017-11-22 20:00] garretthyder commented on #853
Thanks Dominik, I think I got confused last time as when I 'reject' the item changes to red and stays in view which I have filtered to untranslated so had assumed I then had to go translate it. But refreshing the untranslated view has it disappeared.

I think my confusion was that it stayed around, I understand why now, might be a good call to have a notice or something to go along with reject esp

[2017-12-04 10:01] farhadsakhaei opened #857 "Problem in suggesting first word based on glossary"
Hi,

I created a glossary, But suggestions based on glossary doesn't work on first word of sentence
Because of first capital letter, if I put that word in first capital format in glossary, It works for suggestion
But we add all words in all lowercase letters
It is better to make all letters to lowercase and check for any suggestion

[2017-12-04 13:41] toolstack commented on #857
Duplicate of #703, glossary terms will be case insensitive in the next release of GP.

[2017-12-04 13:41] #857 closed, assigned to nobody

[2017-12-14 19:42] garretthyder opened #858 "Update filter counts via javascript while strings being affected"
Original Meta Ticket - https://meta.trac.wordpress.org/ticket/3333

[2018-01-13 12:36] Zodiac1978 opened #859 "Add warning if the interpunctation differs"
For example: If the the original strings ends with a period a the translation not, add a warning.

PoEdit does that too.

[2018-01-13 12:41] Zodiac1978 opened #860 "Include option for search Original or Translations only"
If you want to find a bad translation and correct it, it would be very helpful to filter just the translations or Original strings.

For example "email" is translated to "E-Mail" in German, but many people use words like "email" or "Email" or "e-Mail". If I want to correct this, the "Any" filter is no help, because it is searching in the original string too, which gives me all strings which contai

[2018-01-13 12:43] Zodiac1978 commented on #702
Related: https://glotpress.trac.wordpress.org/ticket/334

[2018-01-13 12:47] Zodiac1978 opened #861 "Add more statistics"
https://glotpress.trac.wordpress.org/ticket/81 has some ideas about more stats:

-     Translation progress;
-     Number of translations per user;
-     Text that has been translated to often;
-     Most rejects/approvals per user;
-     See which user has been corrected much.

Some things from this list are already implemented, but I think some of them could be added.

Especially the second one

[2018-01-13 12:54] Zodiac1978 opened #862 "Add a flag to show that a string has a history of translations (or hide link if not)"
If a translation editor is approving strings he/she have to check the "All translations of this string" link all the time, to see if there are more translations of the same strings waiting. Even if there are no translation.

We could show all translations on that page (so I don't have to click the link) and hide the link completely if it would show "no translations".

First reported in these two t

[2018-01-13 12:57] Zodiac1978 commented on #590
Like mentioned in https://glotpress.trac.wordpress.org/ticket/432 this could be more flexible: We could copy from other locales too (imagine copying from `es_ES` to `es_CO` instead of copy from `de_DE` to `de_DE-informal`.

[2018-01-13 13:00] Zodiac1978 opened #863 "Highlight trailing spaces"
PoEdit highlights the space if it is (non-visible) after the end of the text:

![bildschirmfoto 2015-10-19 um 11 09 17](https://user-images.githubusercontent.com/870475/34906254-04945b7e-f86a-11e7-95c4-d5b74f7b32c6.png)

If this is not working technically. We could add an warning in this case (if we don't do this already).

Related: https://github.com/GlotPress/GlotPress-WP/issues/801

[2018-01-13 13:02] itssimple commented on #863
Yeah, I'd like to see if the actual phrase has trailing spaces too. But regarding the styling, normal textareas can't handle that, but there are other editors that could handle this.

[2018-01-13 13:03] Mte90 commented on #863
Glotdict support that :-)

[2018-01-13 13:04] Zodiac1978 opened #864 "Do not allow partly empty singular/plural translations"
If you have a string which has Singular and Plural and you have just translated the Singular or the plural of the string, the whole string is marked as translated (green).

It should remain untranslated until the second part is translated too.

First reported here: https://glotpress.trac.wordpress.org/ticket/149

I'm not sure if this is still the case ... but I think yes, so I leave it here. If so

[2018-01-13 13:50] audrasjb commented on #863
Hi,
I'll kindly disagree @Mte90 :)
GlotDict supports non-breaking spaces visibility as seen in https://github.com/GlotPress/GlotPress-WP/issues/801 but we dont support strings ending up with a classic space char. I Guess this is a real issue for GlotPress, not for GloDict. I can work on a patch this week if you confirm my opinion about this issue :)

[2018-01-13 13:51] Mte90 commented on #863
You are right and the boss about that is you :-)

[2018-01-13 13:51] audrasjb commented on #863
Great, lets roll then :)

[2018-01-13 14:02] audrasjb commented on #863
@Zodiac1978 please can you give me a link to an example string?

[2018-01-13 17:59] toolstack commented on #859
This would only work for English like languages that have similar punctuation.  Not something that would be very useful for languages like Japanese or Chinese.  Not something I would be in favour of including in core.

[2018-01-13 18:04] toolstack commented on #862
Related to #623.

[2018-01-13 18:06] toolstack commented on #590
See the variants isssue #226 and PR #747 which address much of this.

[2018-01-13 18:14] toolstack commented on #864
This was fixed in a previous release, you can no longer save a plural translation without filling in all plurals for it.

[2018-01-13 18:14] #864 closed, assigned to nobody

[2018-01-14 09:12] audrasjb commented on #863
@Mte90 I'm sorry I said nonsense. I was wrong because this is strongly Glotdict related 😝
We dont have to highlight chars in the textarea. We can highlight them in the preview and add a warning if an ending space is missing on validation. I will move my work into Glotdict repo ^^

[2018-01-14 12:30] ocean90 commented on #863
Also mentioned in #166.

[2018-01-14 17:06] Zodiac1978 commented on #859
Opt-out for Japanese/Chinese is not an option? How many languages have those different punctuation?

[2018-01-14 17:11] Zodiac1978 commented on #862
I missed #623 - we could close this one or do you think this one adds an additional thought that should be thought of?

[2018-01-14 17:12] toolstack commented on #859
Lots of languages have different punctuation rules, trying to track which ones are or are not supported seems like a lot of work for little actual benefit.

[2018-01-14 17:15] toolstack commented on #862
I would tend to close it as the performance hit of loading "all translations" for each string on the page could be significant.

[2018-01-14 17:25] Zodiac1978 opened #865 "Better export filenames"
At the moment I get this filename if I export all translation from a stable version of a WordPress plugin (for example):
`wp-plugins-advanced-ads-stable-de.po`

It would be great if this could be using the plugin slug and the correct locale, so I can use the file directly:
`advanced-ads-de_DE.po`

If the suffix `-stable` or `-dev` is necessary - this would be okay, but I don't know why we should a

[2018-01-14 17:32] toolstack commented on #865
You can always do a "save as" when you download the translation.  Or if your running your own GP, then you can use my [GP Download Name](https://wordpress.org/plugins/gp-download-name/) plugin to solve this issue.

[2018-01-15 19:24] garretthyder opened #866 "Fuzzied strings that are also waiting cause confusion"
Hello,

Not sure if this is expected behaviour, but if a plugin update causes a string to become fuzzy and then someone supplies a waiting string for it then both versions are available through their respective filters (Fuzzy and Waiting). If you attempt to update the Fuzzy version you get blocked because there's an existing waiting string. At first I didn't realize there was the Waiting string so

[2018-01-17 22:34] tobifjellner opened #867 "“Case insensitive” filter currently only works for English"
If you try to use the filter function to find some strings and leave the option "Case sensitive" unchecked, then search still is case sensitive for those letters in the Swedish alphabet that aren't present in the English alphabet (Specifically åäö – ÅÄÖ).
Most probably the filter function for "case insensitive" ought to be expanded to work correctly for at least some languages.
In addition, a disc

[2018-01-17 22:45] ocean90 commented on #867
What database character set and collation are you using?

[2018-01-17 22:54] tobifjellner commented on #867
Whatever is used on translate.wordpress.org

[2018-01-17 22:58] tobifjellner commented on #867
Got. So this is simply a parameter for the query, and the result depends on the settings in your database. Then perhaps some kind of "warning" might be relevant.

[2018-01-17 23:00] ocean90 commented on #867
https://meta.trac.wordpress.org/ticket/1063

[2018-01-17 23:00] #867 closed, assigned to nobody

[2018-01-27 08:23] audrasjb commented on #863
Hi,
This issue is referenced (and can be partially fixed) in this PR on GlotDict: https://github.com/Mte90/GlotDict/pull/129

Cheers,
Jb

[2018-01-28 16:49] ocean90 opened #869 "prepare_original() mangles HTML tags if glossary entry for & exists"
Original report: https://meta.trac.wordpress.org/ticket/3344

Example: https://translate.wordpress.org/projects/wp-plugins/insert-headers-and-footers/dev/sv/default?filters%5Bstatus%5D=either&filters%5Boriginal_id%5D=693346&filters%5Btranslation_id%5D=53182480

Screenshots:
<img width="539" alt="" src="https://user-images.githubusercontent.com/617637/35484678-753f94fc-0453-11e8-9ed2-9f5592088c00.p

[2018-01-30 08:43] tobifjellner opened #870 "Correct native locale name for Uighur"
Request from locale:
https://make.wordpress.org/polyglots/2018/01/30/hi-27/
We want to change the Locale Box “Native” value from

    Uyƣurqə

to

    ئۇيغۇرچە

[2018-02-13 22:01] audrasjb opened #875 "Very long words in strings are breaking UI"
Hello,

A french team contributor noticed very long words can break GlotPress UI.

Example: https://translate.wordpress.org/projects/wp-plugins/duplicate-page/stable-readme/fr/default?filters%5Bstatus%5D=either&filters%5Boriginal_id%5D=5633108&filters%5Btranslation_id%5D=53864572

![capture d ecran 2018-02-13 a 22 56 18](https://user-images.githubusercontent.com/1590998/36176068-bc7138e2-1111-11e8

[2018-02-14 10:00] #870 closed, assigned to nobody

[2018-02-14 12:27] fr-laurentn commented on #875
@audrasjb Thanks for reporting the issue.

Actually, the issue I noticed was when the editor is closed.
So it seems that you only fixed part of the issue.

Example:
![bug_glotpress](https://user-images.githubusercontent.com/15927630/36204089-27c45aa2-118a-11e8-9fcf-0a8d354ec342.png)

If you look at the CSS, there's an invalid property:
[code]

If you replace  `word-break: break-word;` with  `word-

[2018-02-26 21:16] mobby2561 opened #878 "Translation contributors don't know that they can reject their own translation suggestions"
Maybe it would be great to give them one more button to more easily suggest new translation and reject the previous one e.g. with typo, or some different mistake, without taking them the ability to make more than one suggestion to the string.

[2018-02-28 09:11] ocean90 opened #879 "gp_delete_meta() is unnecessarily tagged with @internal"
Introduced in https://github.com/GlotPress/GlotPress-WP/commit/b8c70b4572603644cbb2d36c5b4e23db88bbbff0 where all meta functions have been marked as internal.

Related: #422, c1fddbb33a50d41c5d806a54db7ea7a31d7ee7eb

[2018-02-28 10:03] #879 closed, assigned to ocean90

[2018-03-13 08:21] davidperezgar opened #881 "When a translation is marked Fuzzy, you cannot find it"
Hello,
I did find that when a translation in marked fuzzy, you cannot find it in the filters, and it should be in the  Untranslated filter, becouse that translation won't be definitive until you approbe it.

Regards.

[2018-03-13 10:29] Mte90 commented on #881
An example link to test and replicate the issue?

[2018-03-13 17:17] toolstack commented on #881
I can reproduce this, though I'd say that it shouldn't be in the "Untranslated" filter, but that we're missing a "Fuzzy" filter instead.

[2018-03-15 14:53] Zodiac1978 commented on #859
But if this is just comparing original string and translation this wouldn't be necessary, because the Japanese/Chinese original string wouldn't have any period at the end. It would be a warning like a missing placeholder or a link which is different in the translation ...

[2018-03-15 15:18] toolstack commented on #875
There are a few places long words break the display of the wrapping (including in context strings as well), I think I've caught them all in #877.

[2018-03-15 15:23] toolstack commented on #859
Unlike missing placeholders or link differences, this would effect an order or magnitude more strings, as for non-english languages a large percentage would be flagged incorrectly with the warning.

[2018-03-16 22:40] Zodiac1978 commented on #859
I still don't get why this should happen. If the original string does not end with a period the translation shouldn't end with a period (for example). This should work in all languages and without any false positives. Or am I missing something?

[2018-03-16 23:19] toolstack commented on #859
Your missing something... it's not that both don't have interpunctation, it's that the original does and the translation doesn't.

For example if the original is:

```This is a test.```

 Then the Japanese translation might be:

```これはテストです。```

There's no period at the end of that string (well, at least nothing that looks like a period from the original at least).  Non english-like languages may

[2018-03-18 21:41] La-Geek commented on #789
I don't know how far this has evolved. Just a short idea, how about inserting short linked references to existing translations? Like:  rejected 2, waiting 0, fuzzy 1

[2018-03-18 21:51] La-Geek commented on #621
related: #789

[2018-03-18 22:00] La-Geek commented on #589
This would be great!

[2018-03-18 23:49] La-Geek opened #883 "Better UI - Part 1 Breadcrumb"
Especially new translators are confused about the navigation (in this case breadcrumb) in Glotpress.

You start with
![breadcrumb_start](https://user-images.githubusercontent.com/1585416/37572434-43800f12-2b0b-11e8-8010-975187183bd5.jpg)
you click on **Development (trunk)**
and you expect to see
![breadcrumb_shouldbe](https://user-images.githubusercontent.com/1585416/37572517-84b6803c-2b0c-11e8-9c

[2018-03-18 23:56] La-Geek opened #884 "Better UI - Part 2 Hint to locale translation rules instead to handbook"
In Glotpress you see this hint:
![hinweis_englisch](https://user-images.githubusercontent.com/1585416/37572729-b4f4cb8e-2b0f-11e8-8fed-095712fad96b.jpg)

It would be absolutely helpful for the entire translation process if the local rules, glossaries and slack channel were linked. Something like this:
![hinweis](https://user-images.githubusercontent.com/1585416/37572750-fe1d92c8-2b0f-11e8-8ac8-676

[2018-03-19 00:16] La-Geek opened #885 "Option to switch between translation sets on every page"
If you translate  e. g. german default,you will see **no information whether you are editing the standard or informal strings** (screenshot point 3).

## Also, it would be great if you could switch between formal and default on each page (screenshot point 4)
![better_ui](https://user-images.githubusercontent.com/1585416/37572905-4ec914fc-2b12-11e8-9df3-94c601f28f3b.jpg)
(Screenshot Point 2 was men

[2018-03-19 12:18] ocean90 commented on #884
The help hint is a custom extension on translate.w.org. I actually like the idea to re-use the banner for locale specific resources. We can use the same list as in the email for new editors.
Would be good to have a ticket for that on meta.trac. https://meta.trac.wordpress.org/newticket?component=Translate+Site+%26+Plugins&type=enhancement

Although it's invalid in the first place I'm closing it as

[2018-03-19 12:18] #884 closed, assigned to nobody

[2018-03-19 12:20] ocean90 commented on #885
Default/formal/informal/etc are translation sets, changed the title to reflect that.

[2018-03-19 12:22] ocean90 commented on #883
Closing as invalid since this is caused by the custom templates on translate.w.org. There's already a ticket for that: https://meta.trac.wordpress.org/ticket/3021

[2018-03-19 12:22] #883 closed, assigned to nobody

[2018-03-19 13:39] Zodiac1978 commented on #862
I don't know what you mean, because these two tickets have **exactly** the same goal. We can close this one here, because #621 is referencing the same old tickets:
https://glotpress.trac.wordpress.org/ticket/228
https://glotpress.trac.wordpress.org/ticket/338
And they have the same goal.

[2018-03-19 13:39] #862 closed, assigned to nobody

[2018-03-22 07:33] jyourstone commented on #869
Any progress on this?

If it can't get fixed in the near future I'll remove the glossary entry for "&" in the meantime.

[2018-03-22 13:23] La-Geek commented on #884
https://meta.trac.wordpress.org/ticket/3522

[2018-03-22 15:46] toolstack commented on #825
I don't see a lot of benefit to changing the terminology in this case, branching doesn't always have a relationship back to the original (ie. git) and changing it now would only confuse things.

I'm leaning towards closing this as a ```wontfix``` unless someone can provide a more tangible benefit to changing it.

[2018-03-22 15:57] toolstack commented on #869
No motion at this time, I'd remove the glossary term for now.

[2018-03-29 15:38] #875 closed, assigned to toolstack

[2018-04-08 14:10] #828 closed, assigned to nobody

[2018-04-08 14:18] ocean90 commented on #825
Closing as _wontfix_ based on above discussion.

[2018-04-08 14:18] #825 closed, assigned to nobody

[2018-04-08 14:22] ocean90 commented on #750
We could just add an `Insert`/`Use` button/link next to the term. Clicking on it will insert the term into the editor.

[2018-04-08 14:48] ocean90 commented on #881
The filter is already there, only hidden for regular translators. #886 makes them visible to everyone.

[2018-04-08 14:58] ocean90 commented on #226
Moving this out of 3.0 pending further discussions and to give us more time to focus on CLDR first.

[2018-04-09 11:28] toolstack commented on #226
Note sure more time is what's needed here, the PR has been sitting for months without further discussion taking place.

I'd rather delay 3.0 and land this than just put it off.

[2018-04-09 21:50] Mte90 commented on #881
So we have to wait for the approval of #886?

[2018-04-10 07:08] davidperezgar commented on #881
It should be nice to have it for regular translators, becouse we could use it to contribute for translation...

[2018-04-10 07:08] #881 closed, assigned to nobody

[2018-04-10 15:52] Mte90 commented on #750
Ok so you suggest to add a button near the term and avoid the right click.
Seems not a bad idea, with copy from original we can avoid people that doing manually a copy and paste.
I will work on that.

[2018-04-10 16:17] Mte90 commented on #750
The problem mainly is about a term with multiple translation so an idea can be a view with the list of terms and on click insert in the textarea.

[2018-04-15 08:48] meglio commented on #299
My permalink setting is to use the post name, but I can't access `/glotpress` either.

UPD. I just realized I have to use `/projects/` and not `/projects`.

[2018-04-15 11:16] Presskopp opened #888 "Error shows up for a second when saving, but saving still works"
![glotpress-error](https://user-images.githubusercontent.com/18373563/38777852-28ad4894-40af-11e8-8e61-b79f655fe8e1.gif)

Let me know if more details are needed

[2018-04-15 11:43] ocean90 commented on #888
Can you reproduce this with all browser extensions disabled? What's the link to the project? What browser are you using?

[2018-04-15 15:17] Presskopp commented on #888
You're right, it's the browser extensions. The funny thing is, I disabled them all, enabled them one by one and now the issue is gone. I thought it could be Glotdict causing it and disabled only this one before. This happens on chrome. So feel free to close the issue as resolved.

[2018-04-18 13:02] #888 closed, assigned to nobody

[2018-04-19 19:18] tobifjellner opened #889 "Automatically reject other pending strings from same user when a new suggestion is entered"
If a user finds an error in his own submitted string, then he will typically not click on the reject button, but instead simply submit a corrected string.
This can sometimes create a hard time for the editor, since there may be several pending strings from the same user for a particular string, and one has to check carefully to approve the correct one (and afterwards not approve the incorrect stri

[2018-04-20 07:40] lenasterg opened #890 "Enhancement: Display if a project has translation validators in the editors waiting projects page"
Hi.
It would be useful for the locale's traslation editors if the waiting projects page had a mark for the project which have translation editors.
Something like the https://ibb.co/mU7obn draft screenshot.

[2018-04-20 07:42] ocean90 commented on #890
Since this is a specific request for translate.w.org it needs to be requested on https://meta.trac.wordpress.org/newticket?component=Translate+Site+%26+Plugins&type=enhancement.

[2018-04-20 07:42] #890 closed, assigned to nobody

[2018-04-20 07:44] ocean90 commented on #889
Related: #878, #621.

[2018-04-20 09:03] akirk commented on #731
![](https://github.trello.services/images/mini-trello-icon.png) [Add a warning if a glossary term is not used in the translation](https://trello.com/c/qq2w6Rr4/6-add-a-warning-if-a-glossary-term-is-not-used-in-the-translation)

[2018-04-20 13:12] lenasterg commented on #890
@ocean90 , thanks for the heads up. I open the request there.

[2018-04-25 14:51] Presskopp commented on #324
We discussed in our last german #polyglots meeting how the workflow in Glotpress could be improved for PTEs when strings need to be rejected. In result we would explicitly support the idea of 'rejecting with feedback'. There's a mockup on https://github.com/GlotPress/GlotPress-WP/issues/323#issuecomment-195285569. We'd like to suggest the following changes, see image:

![reject](https://user-image

[2018-04-25 14:51] Presskopp commented on #323
We did another mockup, in connection to give feedback when rejecting, please see: https://github.com/GlotPress/GlotPress-WP/issues/324

[2018-04-25 19:21] Mte90 commented on #324
It is not a bad idea of a preset for feedback but maybe we can do it after the release of the first implementation?

[2018-04-26 17:22] La-Geek commented on #324
This is a **must have** feature (with the greatest respect to all your development work, but I would call it a bug, not to have it, that is no claim).

What we (users with global permissions to approve) have at the moment is:

- see an error and reject this string without comment.
- The translator sees a rejected string if he notices it at all.
- Hopefully he'll recognize the mistake, if he doesn'

[2018-04-26 17:26] Mte90 commented on #324
As we written on slack, GTE/PTE is not glotpress but WordPress Meta that is another team and has their channels for suggest that.

The first implementation is https://github.com/GlotPress/GlotPress-WP/pull/804 with few screenshots that I made during the development.
We are getting slow for 3.0 that until the release is blocking on develop new feature (this pr has a lot of conflicts that i want to

[2018-04-26 17:29] La-Geek commented on #324
We are asking for a feature in GlotPress, nothing more. And this seems to be the right place for this. Sorry, I don't understand, I will ask you in Slack what you mean.

Thank you for clarification at Slack. We are looking forward to the further steps in the development :)

[2018-04-26 22:39] Presskopp commented on #324
didn't notice https://github.com/GlotPress/GlotPress-WP/pull/804 - great to see there's already a history of progress on that

[2018-04-28 09:29] Mte90 commented on #881
The next version will have this feature as written by dominik :-)

[2018-04-28 11:12] ocean90 opened #891 "Slug of Pirate locale doesn't fit into `locale` column size"
The `locale` column of the translation set only allows 10 characters. Pirate has 11 with `art-xpirate` so it only gets stored as `art-xpirat`.

Two options: Increase column size of `locale` field or change the `slug`  property of the `GP_Locale` to something shorter like `pirate`.

[2018-04-30 07:52] danieltj27 opened #892 "Word wrapping makes translation strings difficult to read"
In PR #882 word wrapping was adding to ensure that long words didn't break the UI, but I've found since this change, every word is being broken making strings very difficult to read.

For example:

![Uploading glotpress-translation-string-break.png…](https://user-images.githubusercontent.com/8491069/39418702-d043d69a-4c53-11e8-8725-bd1c426d2c91.png)

It's even breaking up small words. A better fix

[2018-04-30 08:12] Presskopp commented on #892
This is indeed disturbing, @danieltj27 , don't you have a patch?

[2018-04-30 08:43] danieltj27 commented on #892
No, I haven't had the time to look into a word-around for this. If I do, I'll try and submit something but for now it's open to anyone that'd like to.

[2018-04-30 09:46] Mte90 commented on #892
We wasusing `break-word` and now is `break-all` https://developer.mozilla.org/en-US/docs/Web/CSS/word-break so maybe we need a more advanced solution.

[2018-04-30 19:13] garretthyder commented on #892
I just ran into this myself and found it harder to validate translations as each columns breaks differently so sometimes you feel there's a difference when there isn't;
<img width="954" alt="screen shot 2018-04-30 at 12 04 19 pm" src="https://user-images.githubusercontent.com/8726005/39445285-7067e9b6-4c6f-11e8-83b4-312bc447f498.png">
*In this screen I thought memory was broken on the right, but t

[2018-05-01 07:33] danieltj27 commented on #891
Ah it was automatically referenced above, that's handy.

In PR #894 I've changed the code and slug to remove `art` from it so it's sorter. It may be worth making the column longer in the long run, but considering most locales don't stray away from roughly four letter codes, it seems a bit more work to increase the column size.

It still uses `xx` as a prefix to denote the nature of the locale.

[2018-05-02 13:00] Mte90 opened #895 "Wrong detection of localizable method in case of class"
The example is: https://translate.wordpress.org/projects/wp-plugins/vikbooking/dev/it/default?filters%5Bterm%5D=keepalive&filters%5Buser_login%5D=&filters%5Bstatus%5D=current_or_waiting_or_fuzzy_or_untranslated&filter=Filter&sort%5Bby%5D=priority&sort%5Bhow%5D=desc

Code example: https://plugins.trac.wordpress.org/browser/vikbooking/trunk/admin/views/dashboard/tmpl/default.php#L82

Just for refere

[2018-05-02 13:05] ocean90 commented on #895
GlotPress doesn't extract strings, it only gets its data from an import of one of the supported formats.

[2018-05-02 13:05] #895 closed, assigned to nobody

[2018-05-02 13:12] toolstack commented on #895
That's a bug in the makepot code, which is part of meta-i18n/wp core, probably opening a ticket over there would get the right people looking at the code.

[2018-05-02 13:14] Mte90 commented on #895
The plugin author say that they never imported anything but automatically glotpress found this strings and they tried to remove it with a manual import with the only right string but glotpress not removed them.

[2018-05-02 13:17] toolstack commented on #895
You can't update originals to translate.w.org so there's no way for a user to remove strings.

It's the automated extraction that needs to be fixed on translate.w.org.  As makepot is designed to run against PHP files, the most likely solution would be to ignore javascript files during the extraction.

[2018-05-02 13:19] Mte90 commented on #895
That code that generated this wrong strings is PHP.
I will open a ticket to meta for https://i18n.svn.wordpress.org/tools/trunk/makepot.php

[2018-05-02 13:21] Mte90 commented on #895
Opened https://meta.trac.wordpress.org/ticket/3601#ticket

[2018-05-02 21:50] garretthyder opened #896 "Allow access without trailing slash for site-url/glotpress"
Hello,

I just installed the plugin and was trying to access Glotpress and got a 404 until I added the trailing slash.

So this url - http://glotpress.eclipsedev.tk/glotpress
Loads the WP 404

But if I supply the trailing slash - http://glotpress.eclipsedev.tk/glotpress/
Then it redirects to - http://glotpress.eclipsedev.tk/glotpress/projects/

Can the redirect logic be updated to function when no

[2018-05-02 21:51] garretthyder opened #897 "Provide link to GlotPress from WP-Admin"
Hello,

As a first time user it was hard to find the actual GlotPress instance, only after reading the installation instructions did I realize there's no link and I have to navigate directly.

It would be nice to provide a link in the plugins list like many other plugins do linkign to their settigns or tools pages. Or might be nice to provide an onboarding alert with the link or even have it in th

[2018-05-02 21:53] ocean90 commented on #897
Duplicate of #259.

[2018-05-02 21:53] #897 closed, assigned to nobody

[2018-05-02 22:04] garretthyder commented on #897
Thanks @ocean90 srry I overlooked that. Subscribed to it

[2018-05-02 22:48] toolstack commented on #897
And there's a [plugin for that](https://wordpress.org/plugins/gp-additional-links/).

[2018-05-02 22:50] garretthyder commented on #897
Thx @toolstack got it hooked up here

[2018-05-02 22:51] toolstack commented on #896
It could, but we follow whatever the user has configured for WordPress in the permalinks.

So if your permalink setting ends in a trailing slash we require GP to as well.  If it doesn't, GP doesn't require one either.

That way we keep consistent with other content on the site.

[2018-05-02 22:56] garretthyder commented on #896
Thanks @toolstack that makes sense.
Looking at WP it seems to redirect automatically to append the slash for you if it's a valid page.
So http://glotpress.eclipsedev.tk/sample-page will redirect to http://glotpress.eclipsedev.tk/sample-page/
So should we follow that approach to avoid the 404?

[2018-05-02 23:01] toolstack commented on #896
It's possible, I would see that more as a plugin at the moment as we don't get too many complaints about it in general.

[2018-05-02 23:15] garretthyder commented on #896
No worries, thank you

[2018-05-03 07:36] ocean90 commented on #896
Reopening. We should follow WordPress here and do a canonical redirect to improve the initial experience since appending `glotpress` is currently the only way to get to the GlotPress pages,  see #259.

[2018-05-04 17:39] ocean90 commented on #892
See https://meta.trac.wordpress.org/changeset/7180 for what I'm testing on translate.w.org to solve this.

https://translate.wordpress.org/projects/wp/dev/en-gb/default?filters%5Bterm%5D=tain&filters%5Buser_login%5D=&filters%5Bstatus%5D=current_or_waiting_or_fuzzy_or_untranslated&filter=Filter&sort%5Bby%5D=priority&sort%5Bhow%5D=desc is a good example with the string for `wptexturize()`.

[2018-05-04 17:43] #891 closed, assigned to nobody

[2018-05-04 21:54] garretthyder commented on #892
Nice @ocean90
That seems to be a better cross-browser fix from my testing so far. I'd played with the `overflow-wrap: break-word` before but it looks like I just needed the `table-layout: fixed` on the table itself for columns to adhere to the width settings.
Nicely done, tested Chrome, Firefox and Opera with success
But sadly testing on Safari and Edge I found text didn't break and would overflow

[2018-05-05 08:27] ocean90 commented on #892
@garrett-eclipse Thanks for testing, updated in https://meta.trac.wordpress.org/changeset/7182.

[2018-05-05 18:21] garretthyder commented on #892
By George, I think you've got it ;)

Testing this link;

I tested Safari, Opera, Chrome, Edge, Firefox successfully, that's not to say older browsers might have issues but with all the latest you're looking good.

Cheers

[2018-05-06 05:44] garretthyder commented on #748
I use this excessively while scanning through waiting strings. The border is subtle but very helpful.

[2018-05-06 05:47] garretthyder opened #899 "Highlight Glossary terms on collapsed rows"
Hello,

While scanning through waiting strings it's mostly the glossary terms I'm looking for and it would be nice if they were underlined like they are when you expand the row to edit.

Collapsed;
<img width="875" alt="screen shot 2018-05-05 at 10 41 48 pm" src="https://user-images.githubusercontent.com/8726005/39670297-40d8a00a-50b6-11e8-99e6-d857cbc54dc3.png">

Expanded w/ Glossary underline;
<

[2018-05-14 17:02] garretthyder opened #901 "New Bulk Actions in footer shouldn't appear for logged out users"
Original Trac Ticket - https://meta.trac.wordpress.org/ticket/3618

![screen shot 2018-05-11 at 4 05 11 pm](https://user-images.githubusercontent.com/8726005/40011832-d640cf02-575d-11e8-8d92-567a724bfe74.png)

Quoting @ocean90

[2018-05-14 17:07] garretthyder commented on #892
Hey @ocean90
Coming back to this as I was translating a bit this morning and found when you open a row the current translation has the wrap on small words, not sure if that can be addressed with the same fix you put for other places.
![screen shot 2018-05-14 at 10 04 52 am](https://user-images.githubusercontent.com/8726005/40012072-6d771ac0-575e-11e8-917f-6410aa963d09.png)

The selector seems to b

[2018-05-14 17:17] ocean90 commented on #892
Updated in https://meta.trac.wordpress.org/changeset/7205.

[2018-05-14 17:29] garretthyder commented on #892
Thanks @ocean90 it's looking pretty good there ran it through Safari, Opera, Chrome, Edge, Firefox successfully. Cheers

[2018-05-15 15:01] Presskopp opened #902 "Feature request: indicate visually if an untranslated string has a rejected translation"
When you reject a single translation of a not yet approved string it becomes 'untranslated'. As long as a waiting string persists it will be 'translated'. I'd like to see if an 'untranslated' string has a rejected translation, sometimes it's just a missing comma in that rejected string and it can still be useful looking at it. I ask myself how this could be done in an appropriate way, I have no cl

[2018-05-15 16:06] LucaFagan opened #903 "iOS .strings file incorrectly assumes UTF16-LE encoding"
I've installed the plugin, created the project and then imported a .strings file.

Translation list is empty.

Someone can help me to solve this problem ?

[2018-05-16 13:18] toolstack commented on #903
Did you import the originals or just a translation set?

[2018-05-16 14:15] LucaFagan commented on #903
The originals, i.e. source strings that I want to translate in other languages.
The list of strings to translate is empty.

[2018-05-16 17:02] toolstack commented on #903
Yes, but have you imported the originals in to the project, aka Project->Project actions->Import Originals?

After that you have to create a translation set for each language you want to translate to, Project->Project actions->New Translation Set.

[2018-05-16 19:47] LucaFagan commented on #903
I've done those things but in the list there are no strings to translate.

<img width="775" alt="schermata 2018-05-16 alle 21 34 07" src="https://user-images.githubusercontent.com/7376037/40139772-4a7b36ba-5951-11e8-994c-89d08dea080e.png">

It seems the "import originals" does not work, the table wp_gp_originals is empty.

<img width="945" alt="schermata 2018-05-16 alle 21 34 24" src="https://user

[2018-05-17 11:32] toolstack commented on #903
Can you check to make sure your string file is UTF16-LE encoded before you import it?

[2018-05-17 11:50] LucaFagan commented on #903
It's a normal txt file.

If you want to try, here is the file:

[localizable.strings](https://drive.google.com/file/d/1vMC1A1lpTyisuUNx-OENUFp5p0YruxbW/view?usp=sharing)

[2018-05-17 12:04] toolstack commented on #903
That's the problem, not sure why but the .strings format assumes the file is in UTF16-LE format and then converts it to UTF8.  If it's already in UTF8 it will garble the file and no strings will be imported.

This seems to be a hold over from the standalone code and not the [current recommendation](https://developer.apple.com/library/content/documentation/Cocoa/Conceptual/LoadingResources/Strings/

[2018-05-17 12:18] toolstack commented on #901
The bottom bulk action bar is missing the check for 'can_approve' which causes this.

[2018-05-17 12:45] LucaFagan commented on #903
Thanks, converting the file works.

Waiting for the PR.

Regards

[2018-05-17 12:55] toolstack commented on #903
We'll just leave the issue open and let the PR close it automatically so we can keep track of it.

[2018-05-17 13:17] LucaFagan opened #906 "Multiplatform translator"
Hi,
I've just discovered this useful plugin and tested it with an iOS app.

Is it possible to manage multiplatform? I mean:
- create a project for an iOS app
- translate strings in the iOS project
- create a second project or subproject for Android app
- auto-translate automatically strings in the Android project taking translatrion from the iOS one.

[2018-05-17 13:20] chantalcoolsma opened #907 "Only export selected translations"
There is no option in GlotPress to select some strings and export those to an export file:

![schermafbeelding 2018-05-17 om 15 16 43](https://user-images.githubusercontent.com/867632/40179794-70cd06b0-59e5-11e8-91a7-3819bfb8109d.png)

So select some translated and approved strings (see above) and then choose Export "only selected".

This would make copying strings between informal and formal tran

[2018-05-17 13:33] #901 closed, assigned to nobody

[2018-05-17 13:36] toolstack commented on #906
Yes, you can create projects for as many different projects as you have and export them to the desired formats.

You can't "auto translate" between projects but you could export from one and import to the other assuming they had (mostly) the same originals.

[2018-05-17 13:41] LucaFagan commented on #906
When you say "the same originals" do you mean the 2 projects must have the same string IDs ?

[2018-05-17 13:42] toolstack commented on #907
#747 will make formal/informal easier and not require the export/import hack.

[2018-05-17 13:51] toolstack commented on #906
Yes, for the translations to import correctly they have to be able to match between the two projects.

In general, this kind of import/export is frowned upon as it tends to be error prone.  Once the projects are setup in GP, it easier just to do the translation in both projects as you would have some unique strings to each project anyway.

[2018-05-17 13:51] #906 closed, assigned to nobody

[2018-05-17 13:54] LucaFagan commented on #906
Ok, thanks

[2018-05-17 13:54] ocean90 commented on #906
You can take a look at https://github.com/GlotPress/gp-translation-propagation. It copies translations to other projects if the original string matches.

[2018-05-17 13:58] LucaFagan commented on #906
Very good! I'll try it.

[2018-05-17 14:12] LucaFagan commented on #906
Installed right now but I don't understand how to use it.

[2018-05-17 16:11] garretthyder commented on #901
Thanks @toolstack

[2018-05-18 15:27] toolstack commented on #903
I reached out to the WP mobile folks on Slack to get some feedback on UTF8 vs UTF16LE and updated the PR to continue to support UTF16LE for imports (UTF8 is also now supported) as some of the Apple tools output it by default.

https://wordpress.slack.com/archives/C02RQC4LY/p1526569592000356

[2018-05-18 21:28] davidperezgar commented on #881
Nice!

[2018-06-01 17:26] garretthyder opened #908 "'Copy from original' broken on Rejected row"
Hello,

Came across an issue with recently Rejected rows and the 'Copy from original' action.

When you reject a row, reopen it and click 'Copy from original' the page goes to the top and an error appears in JS console;

Cracking open the file it's for this line in the copy action;
var e = d.parents(".textareas").find("textarea").attr("id").split("_");

Inspecting I tried to follow the path and al

[2018-06-01 23:14] toolstack commented on #908
I don't seem to be able to reproduce the issue, could you provide a few more details:

- Browser Version
- GP Version
- Standalone or on translate.w.org?

[2018-06-04 23:15] garretthyder commented on #908
Thanks @toolstack
You're right I disable GlotDict and the issue goes away so I've opened a clone of this over on GlotDict here;
https://github.com/Mte90/GlotDict/issues/148

[2018-06-04 23:15] #908 closed, assigned to nobody

[2018-06-14 15:04] ocean90 opened #909 "Add Mauritian Creole locale information"
https://make.wordpress.org/polyglots/2016/12/25/locale-request-for-kreol-morisien/

[code]

[2018-06-14 17:45] akirk opened #910 "Android Strings: Escaped Unicode is imported mangled"
When an Android strings file contains an entry like this:
[code]

the import of this creates a mangled original with the text `No posts saved u2014 yet!`. As we can assume that translators can display UTD-8, it should actually be `No posts saved — yet!`.

[2018-06-16 14:29] #909 closed, assigned to ocean90

[2018-06-28 19:55] superdav42 opened #914 "Customizing translation-row template is difficult"
Working on the plugin https://github.com/superdav42/gp-reject-feedback I ran into difficulty related to the translation-row template. Overriding this template to make a few small changes required duplicating the entire large and complex template. Doing so made my plugin dependent on the most recent version of GlotPress as older versions didn't have some newer functions used in the template.

I sug

[2018-07-03 19:18] garretthyder opened #915 "Multiple Identical Terms get stacked in Glossary tooltip"
Hello,

Came across a minor doubling up that occurs in the Glossary Tooltips if there's multiple identical terms in the string.
Screenshot;
![screen shot 2018-07-03 at 12 13 59 pm](https://user-images.githubusercontent.com/8726005/42240147-35e86396-7ebb-11e8-8097-d1ff7e8a423f.png)

Example - https://translate.wordpress.org/projects/wp-plugins/poptin/dev-readme/en-ca/default?filters%5Bstatus%5D=eit

[2018-07-03 19:47] toolstack commented on #915
That's mostly on purpose as you can have different glossary entries for the same term (aka noun, verb, etc.).

We don't do any double checking for duplicates of the same type/identical descriptors though.

[2018-07-03 20:56] garretthyder commented on #915
Hi @toolstack, sorry I should clarify to remove any confusion here.

The issue isn't that there's two entries of 'program' in the en_CA Glossary, but rather that when the term exists within the source string twice or more then each instance in the source string will have a tooltip containing multiple entries of the term info, one per instance of the term.

So if we compare two entries that contain

[2018-07-03 21:00] garretthyder opened #916 "Glossary UI Improvements - Spacing & Overlap"
Hello,

I just wanted to suggest two minor improvements to the Glossary UI.
![screen shot 2018-07-03 at 1 57 32 pm](https://user-images.githubusercontent.com/8726005/42244296-599eb156-7ec9-11e8-8e95-da522ffab49f.png)

1. All the fields and buttons seem quite tight and could use some padding.
2. The Meta box overlaps the Comments field.

All the best,
Cheers

[2018-07-03 21:10] toolstack commented on #915
Ah, yes, that makes more sense, definitely a bug then ;)

[2018-07-03 21:23] toolstack commented on #916
I can't reproduce the overlap issue, which browser and GP version are you running?

[2018-07-03 22:35] garretthyder commented on #915
Awesome thanks for the PR @toolstack

[2018-07-03 22:40] garretthyder commented on #916
Hi @toolstack

Not sure how to determine GP version of translate.wp.org but that's where I'm seeing the overlap;
https://translate.wordpress.org/locale/en-ca/default/glossary

As to browser I just checked Chrome, Opera, FF and Safari and they all have the same issue. Version info;
Chrome - Version 67.0.3396.99 (Official Build) (64-bit)
Opera - 53.0.2907.99
FF Quantum - 61.0 (64-bit)
Safari - Versi

[2018-07-04 13:02] toolstack commented on #916
The overlap issue is probably a bug in the GP theme that translate.w.org uses, probably need to open a Trac ticket for that.

[2018-07-04 15:44] garretthyder commented on #916
Thanks @toolstack I've moved this to Meta Trac here;
https://meta.trac.wordpress.org/ticket/3697#ticket

[2018-07-04 15:44] #916 closed, assigned to nobody

[2018-07-05 12:25] #915 closed, assigned to toolstack

[2018-07-10 09:36] Zodiac1978 opened #918 "Add GP account info to the WP users screen"
For example we could add a true/false info if this user has GlotPress admin privileges.

And we could add all locales/projects for which this user has validator rights. Like seen on https://de.wordpress.org in the entry "Translation Editors".

Maybe this is better optional to not clutter this table or we can use a custom field to store this information. Then we could use something like Admin Colum

[2018-07-10 11:17] toolstack commented on #918
All of that information is already contained in the gp_permissions table.

Modifying the base WP tables would not be a good idea.

[2018-07-10 12:10] ocean90 commented on #918
I think this is about the list tables in wp-admin and not database tables?

[2018-07-10 12:13] Zodiac1978 commented on #918
Yes. I'm obviously failing in writing understandable issues here. :/

[2018-07-10 12:23] toolstack commented on #918
Ah, in that case yes, it would be doable.

[2018-07-11 12:44] #903 closed, assigned to nobody

[2018-07-21 12:31] ocean90 opened #919 "Warnings count and filter view for warnings differ"
This is due to a different query when counting the translations and when fetching them for display.

`GP_Translation_Set::update_status_breakdown()` uses `warnings IS NOT NULL`
https://github.com/GlotPress/GlotPress-WP/blob/2.3.1/gp-includes/things/translation-set.php#L464

`GP_Translation::for_translation()` uses `warnings IS NOT NULL` **and** `warnings != ""`
https://github.com/GlotPress/GlotPre

[2018-07-25 07:57] michakrapp commented on #259
Maybe the link in the WordPress admin could / should be added under the "Tools" menue item?

[2018-07-25 16:26] toolstack commented on #259
It's not really a WP tool like the import/exporter, so probably not a good fit there.

[2018-08-16 06:53] davidperezgar opened #920 "Comments from reviewing or rejecting a Translation"
Hello, in our community in Spain, I've detected that when a user translated strings in wordpress.org, we cannot send messages or comments about the translation to the user, in order to teach how to translate correctly.

So in Glotpress, there is no way to send to the translator that the translation was rejected or changed due a reason. Even, the reasons could be a list that the administrators coul

[2018-08-16 07:06] Presskopp commented on #920
see #324, #323, #804

[2018-08-16 07:12] davidperezgar commented on #324
Yes! It's a must feature!

[2018-08-16 11:18] toolstack commented on #920
Closing as duplicate.

[2018-08-16 11:18] #920 closed, assigned to nobody

[2018-08-30 15:59] etoledom opened #921 "Long strings are truncated on export"
Reference: [This ticket](https://github.com/wordpress-mobile/WordPress-iOS/issues/10006) in the iOS WordPress App.

We have an issue with a long string:

It uploads correctly. when we retrieve the translations, the translated part is correct but the key part (at the left side) is truncated:

You can see it exporting this file with this url:
[https://translate.wordpress.org/projects/apps/ios/dev/fr

[2018-08-30 16:16] toolstack commented on #921
Yep, that's because the  export code uses the context key, which is limited to 255 characters, instead of the original string, which isn't.

Should be an easy fix.

[2018-09-04 08:41] #854 closed, assigned to nobody

[2018-09-12 22:43] ramonjd opened #924 "Glossary view page contains unclosed dt tag"
The template `gp-templates/glossary-view.php` [contains an unclosed](https://github.com/GlotPress/GlotPress-WP/blob/develop/gp-templates/glossary-view.php#L71) `<dt`> element, which has the potential to causing rendering issues in some browsers.

**Note**: Addressed in PR: #923

Thanks!

[2018-09-13 13:17] #924 closed, assigned to nobody

[2018-09-20 07:59] garretthyder opened #925 "Provide count when filtering"
A request was originally made on GlotDict to provide a count of the strings returned when filtering;
https://github.com/Mte90/GlotDict/issues/179#issuecomment-419765363

I looked into this for GlotDict but when the results are paginated the information isn't available to javascript without unnecessary requests.

It would be nice to have a notice appear when the filter is run with the results count

[2018-09-20 14:06] toolstack commented on #925
How about we add a "Current Filter" count to the end of the standard count list when a filter is active.  Something like:

![current filter](https://user-images.githubusercontent.com/9053749/45823918-c765a100-bcbc-11e8-82ac-94078e05a1c4.png)

[2018-09-20 16:17] garretthyder commented on #925
Thanks @toolstack

That could suffice, although we might want to make it not look like a link or users could be confused and try clicking at it.

I posted a quick thought in Slack - https://wordpress.slack.com/archives/C02RP4R9F/p1537459419000100

Thanks

[2018-09-20 16:22] toolstack commented on #925
It will be a link, and you can click on it ;)

That way you can refresh the current filtered view.

The problem with ranges is that it makes the pagination control much larger, which isn't good on small displays.

[2018-09-20 16:26] garretthyder commented on #925
That's a good point @toolstack I hadn't thought of a need to refresh but as you can affect strings in view to have them removed from the filter a refresh is a useful thing.
And I agree the count in pagination could be overbearing there.
Let's go with your initial proposal there, thanks for providing a use case for why making it a link is helpful

[2018-09-24 20:40] ePascalC commented on #648
It seems the 'rightwards arrow' → cannot be added into a translation.
However the 'long rightwards arrow' ⟶ seems to work fine.

How about changing the '→' to '⟶' during the "copy from original" as a workaround?

Permalink: https://translate.wordpress.org/projects/wp-plugins/gutenberg/dev/nl-be/default?filters%5Bstatus%5D=either&filters%5Boriginal_id%5D=5746655&filters%5Btranslation_id%5D=57333643

[2018-09-25 12:29] toolstack commented on #648
See my previous comment, we should just fix the core issue and not try and replace the characters in the first place.  I have 90% or a PR done for it, should have it posted later today.

[2018-09-25 14:48] #914 closed, assigned to nobody

[2018-09-26 18:55] garretthyder opened #929 "Suppress Duplicate Comments"
When a string is found numerous places in the project it can be supplemented with a comment.

If those comments are all identical it would make sense to suppress them instead of repeating numerous times;
![screen shot 2018-09-26 at 11 38 24 am](https://user-images.githubusercontent.com/8726005/46101418-b3b8af80-c180-11e8-9643-381d6ac508f0.png)

The above string is here - https://translate.wordpres

[2018-09-26 19:11] garretthyder opened #930 "Duplicate strings with unique comments should be separate rows"
Hello,

When a string with multiple instances has a comment supplied that's unique for each instance those instances should all be unique rows instead of a merged instance as those comments can provide context which may lead to alternate translations.

Some examples;
https://translate.wordpress.org/projects/wp/dev/admin/en-ca/default?filters%5Bstatus%5D=either&filters%5Boriginal_id%5D=2357863&filt

[2018-09-27 11:43] toolstack commented on #929
GP doesn't really handle the comments, we just use whatever the WP PO/MO code gives us, which really just uses whatever is in the source POT file.

Ideally the duplicates should be removed before they are imported in to GP.

[2018-09-27 11:46] toolstack commented on #930
They actually already are, they each have a newline at the end of them, they just haven't been html formatted ;)

[2018-09-27 12:20] toolstack commented on #929
I took a deeper look at this and am going to close it as `wontfix` for two primary reasons:

- If we try and detect duplicate entries after the import/display as part of GP, then we may get in to the situation where we inadvertently change the mean of a comment due to removing a "duplicate" line that is actually important.  It would seem like a better idea to err on the side of caution in this sit

[2018-09-27 12:20] #929 closed, assigned to nobody

[2018-09-27 14:48] toolstack commented on #866
Yes this is expected behaviour, perhaps though not the best UX.

[2018-09-27 14:48] #866 closed, assigned to nobody

[2018-09-27 17:13] toolstack commented on #176
This was complete in a previous release.

[2018-09-27 17:13] #176 closed

[2018-10-01 12:38] #919 closed, assigned to nobody

[2018-10-01 12:38] #930 closed, assigned to nobody

[2018-10-02 21:41] garretthyder commented on #853
Oops forgot to re-close this. Thanks for the explanation @ocean90

[2018-10-02 21:41] #853 closed, assigned to nobody

[2018-10-02 21:49] garretthyder commented on #866
Thanks @toolstack I wonder if the data about there being a waiting string is available to the fuzzy row, in which case it would be nice to disclose that in the meta so users are aware they should look at the waiting string instead of the fuzzy one. Maybe something as simple as adding into the 'Status'
![screen shot 2018-10-02 at 2 48 36 pm](https://user-images.githubusercontent.com/8726005/4637900

[2018-10-02 21:57] garretthyder commented on #929
Thanks @toolstack I've opened this on Meta Trac to address for translate.wp.org, if you have any additional thoughts or pointers please add to the ticket.
Meta Trac Ticket - https://meta.trac.wordpress.org/ticket/3856

[2018-10-02 22:12] toolstack commented on #866
As I recall it's not directly available at that time, it would require another query to the database.

[2018-10-02 22:12] garretthyder commented on #930
Thanks @toolstack
I was more meaning completely segregated translations rather than just the new lines.
But it sounds like that's more of a POT source issue than GP so to separate them into unique strings would be a string extractor issue so created a Meta ticket;
https://meta.trac.wordpress.org/ticket/3857
Feel free to add any additional thoughts.

[2018-10-03 15:34] toolstack commented on #869
The mangling is caused because we escape the translation before processing the glossary entries.  The causes some of the html entities to get identified as a term instead of being left alone.

The obvious solution (of not escaping until after the glossary terms have been added) doesn't work as we would then escape the spans used for the glossary terms, breaking the popups.

The solution is to proc

[2018-10-03 17:48] toolstack commented on #869
The PR will now show the original as:

![andpersand](https://user-images.githubusercontent.com/9053749/46427803-4f619700-c710-11e8-8abd-d73092144755.png)

Note the ampersand near the end is correctly highlight without mangling the code tags.

And by correctly I mean that since the original contains html entities, and the `&` is a valid word break character (think of something like Proctor&Gamble)

[2018-10-03 17:52] garretthyder commented on #866
Thanks @toolstack I wonder if running that additional query to find all related translations would not only be useful in this case but also for #902 and could surface the information about this item having other variants to translators to assist them?

[2018-10-03 19:05] toolstack commented on #866
Yes, it would be required for #902 as well so it may make sense to handle as part of that ticket.

[2018-10-04 05:29] garretthyder commented on #866
Thanks @toolstack added a related there

[2018-10-04 05:31] garretthyder commented on #902
Related - https://github.com/GlotPress/GlotPress-WP/issues/866#issuecomment-426760132
*If the extra query for variant translations is added it should also surface the fact there are waiting strings on the existing fuzzy one so as to avoid wasting time re-translating and getting 'duplication' errors.

[2018-10-04 13:28] toolstack commented on #859
Closing as won't fix.

[2018-10-04 13:28] #859 closed, assigned to nobody

[2018-10-04 14:50] toolstack commented on #841
It looks like the above 4 risky tests have been fixed at some point as they no longer report.

However looking at the 2 skipped tests there is a bug in one of them and the second shouldn't really be reported as a skipped test but is due to an artefact on extending the PO test class as a base for the MO test class.

PR #937 fixed the two above skipped tests and produces a clean output from PHPUnit.

[2018-10-04 15:09] toolstack opened #938 "Add PHP 7.2 to Travis"
PHP 7.2 has been released so we should test against it.

[2018-10-04 15:20] #841 closed, assigned to nobody

[2018-10-04 16:36] #938 closed, assigned to toolstack

[2018-10-04 18:44] toolstack opened #941 "Replace deprecated functions test cases for PHP 7.2"
There are sevearal test cases that use deprecated functions and cause errors during the phpunit test run:

[code]

[2018-10-04 19:17] garretthyder opened #942 "UI Improvement: Place filters on new row to avoid displacement and inconsistencies"
Currently the Filter/Sort/StatusFilters are on the same row as the Bulk Actions which causes the Filter and Sort drawer panels (when open) to appear displaced;
![screen shot 2018-10-04 at 12 15 35 pm](https://user-images.githubusercontent.com/8726005/46497375-39ff7200-c7cf-11e8-9aa7-6adb59d1bb29.png)

This changes at smaller screens, and I feel when it's on it's own row it's easier to use and does

[2018-10-04 23:05] toolstack commented on #344
Closing as it has not come up since the initial report.

Can reopen if it re-occurs.

[2018-10-04 23:05] #344 closed

[2018-10-05 12:49] swissspidy opened #944 "PHP Notice when loaded in CLI context"
For https://github.com/wearerequired/traduttore we use some GlotPress functions via WP-CLI.

When running `wp help …` with the plugin active, I'm getting the following PHP Notice:

[code]

This is the code in question:

https://github.com/GlotPress/GlotPress-WP/blob/85559b470dcec26afde46b67dd1429239113f43a/gp-includes/rewrite.php#L92-L99

The solution would be to first check whether `$wp` exists a

[2018-10-08 17:08] #944 closed, assigned to toolstack

[2018-10-10 10:02] michakrapp commented on #590
I think it would be better to reverse the original idea.

When (local variants #226 is ready and) you edit a translation for a variant (ie. german formal) there could be a new link beside "Copy from original" named "Copy from parent variant" or something like that which copies the translation from the parent variant (ie. german).

Then you could easily save it or adjust the words for the variant.

[2018-10-10 16:02] toolstack commented on #590
The variants PR above simplifies the entire process by inheriting all strings from the parent and presenting them as if they were part of the variant.  That way, as the parent translations change, they are automatically inherited by the variant.  Simply modifying any of the inherited translations creates them in the variant so that they are no longer inherited.

Closing this ticket as it is really

[2018-10-10 16:02] #590 closed

[2018-10-12 13:08] khoipro commented on #925
+1 (like)

[2018-10-12 19:14] garretthyder opened #946 "Blocking Glossary Term duplicates shouldn't block on $part_of_speech"
Hello,

With the introduction of blocking duplicates in the Glossary the $part_of_speech was included in the block which introduces issues in romance languages that have multiple translation for nouns, etc.

@Mte90 flagged this in #glotpress slack here;
https://wordpress.slack.com/archives/C02RP4R9F/p1539342539000100

The original ticket for blocking duplicates was #745 which was to block on trans

[2018-10-12 20:41] #941 closed, assigned to toolstack

[2018-10-12 20:50] garretthyder commented on #946
Reopening due to @ocean90 comments in slack;
https://wordpress.slack.com/archives/C02RP4R9F/p1539376615000100

[2018-10-14 19:31] Mte90 opened #950 "Block to add strings that alread exist as rejected"
A little bit of background:

- User A do a translation
- User B rejected it
- [pass a long of time]
- User C add a new translation that is the same of User A and got uploaded

This take to a lot of multiple localizations in the DB never used that are right and the original one that uploaded also if rejected can complain "why you reject mine and approved the other one?"
I think that this can help o

[2018-10-15 15:02] #812 closed, assigned to nobody

[2018-10-15 20:21] #946 closed, assigned to nobody

[2018-10-15 20:22] #869 closed, assigned to ocean90

[2018-10-16 01:55] #899 closed, assigned to nobody

[2018-10-16 02:06] #925 closed, assigned to nobody

[2018-10-16 02:58] toolstack commented on #950
I'm not sure if this is a good idea, it may block strings that are valid, for example:

- User A does a Translation1 of Orig1
- User B rejects it
- User C add the correct Translation2 of Orig1
- User B accepts it
- New originals get imported and Orig1 gets updated, Trnslation2 is marked as fuzz
- Translation1 is now the correct translation but has rejected
- User C re-submits the same translation

[2018-10-16 03:00] #921 closed, assigned to nobody

[2018-10-16 09:41] Mte90 commented on #950
Well, for me is better that if the right translation is already in the db use it instead add a new one. This happen often when there are changes with glossaries and people cleanup with legacy stuff.
Also this can automatize a little the process. Maybe we can find a better workflow like if you are a contributor there is an alert about existing string and we move that to fuzzy automatically so revie

[2018-10-16 15:36] Mte90 opened #952 "Create sample data"
This can help new contributors on joining the project and also to use to specifiy a test data that contain the majority of combination of cases that can create issues.
I think that we can use the WordPress files and do a light version with a glossary.

[2018-10-16 15:45] toolstack commented on #950
It's something to think about, for the time being I'm going to close this one as `maybelater` if we can come up with a compelling reason for it.

[2018-10-16 15:45] #950 closed, assigned to nobody

[2018-10-16 16:09] #648 closed

[2018-10-16 16:10] #860 closed, assigned to nobody

[2018-10-17 06:36] garretthyder opened #954 "Keep translation attribution in export/import"
From Polyglots chat, the original translator should be carried over in the export import process so as to maintain attribution.
https://wordpress.slack.com/archives/C02RP50LK/p1539755135000100

On export if the original author could be carried over to the import then a GTE can export others translations and keep the props.

[2018-10-17 15:47] toolstack commented on #954
That would be challenging as the file formats don't natively support "author" information for translations so it would have be done in comments somehow.

It's also a very small edge case, as the only time it would be useful would be when you are moving strings from one project to another project.

It might be easier to write a one time plugin to do the string copy between projects and avoid the ex

[2018-10-17 15:56] pedro-mendonca opened #955 "UI improvement: Search filter with mixed scope/status/options"
As discussed in https://github.com/GlotPress/GlotPress-WP/pull/936, I suggest creating a much more flexible search tool alowing to mix each different search scope/status/option.

This should have some checkboxes pre-checked for most used options.

![screenshot 2018-10-17 16 50 47](https://user-images.githubusercontent.com/7371591/47099291-e4927e80-d22c-11e8-8d2c-5acfdb708701.png)

[2018-10-17 21:00] Mte90 opened #956 "Create documentation about WP CLI support"
Right now GlotPRess has WP CLI but there isn't documentation about it and this is bad.
[code]
All this commands have documentation but this is not avalaible online that explain with more information what they are doing.

[2018-10-18 07:59] loremattei opened #957 "iOS Strings: support for UTF-8 string format"
When strings files are imported into GlotPress, it assumes they're UTF-16LE encoded, but the recommended encoding is UTF-8, as per this doc:
https://developer.apple.com/library/archive/documentation/Cocoa/Conceptual/LoadingResources/Strings/Strings.html

Since UTF-8 seems to be the widely accepted and used standard, support for it in GlotPress import/export would be very useful.

[2018-10-18 08:04] ocean90 commented on #957
Support for UTF-8 was added in #903 via #905.

[2018-10-18 08:04] #957 closed, assigned to nobody

[2018-10-18 14:03] Mte90 commented on #956
Also the docs should explain that use `project/subproject` as project in the commands will enable to do stuff on the subproject.

[2018-10-18 14:04] Mte90 commented on #956
The command `regenerate-paths` and `remove-multiple-currents ` doesn't have any docs

[2018-10-18 14:04] Mte90 opened #958 "WP CLI commands that are missing"
Right now this commands are missing:

- Upload a localized po to a specific project
- Create all the locales for a specific project

[2018-10-18 14:34] #910 closed, assigned to nobody

[2018-10-18 14:48] toolstack commented on #681
Resolved as part of #928.

[2018-10-18 14:48] #681 closed, assigned to yoavf

[2018-10-20 06:24] garretthyder opened #959 "Add 'With plural' to the filter"
On the filter (inline dialog) it would be nice to add a 'With plural' option along with the 'With comment', 'With context', 'Case sensitive'.

This would allow GTEs to more easily find and correct invalid pluralization in the project.

Also with old projects that switched to plural strings allows to filter the fuzzy strings down to focus on that specific change.

[2018-10-21 19:27] sfsmfc opened #960 "Support for xlf/xliff-Files (Import/Export)"
In order to manage the translation with translation management system/tools (like SDL Trados, Kilgray memoQ,...), it would be good to support xlf/xliff files as exchange format for these tools.

[2018-10-21 19:28] toolstack commented on #960
Do you have a link to the file specs?

[2018-10-21 19:31] sfsmfc commented on #960
Yes, of course.

See https://en.wikipedia.org/wiki/XLIFF.

If you have any question, please let me know.

[2018-10-22 10:56] pedro-mendonca commented on #955
Add plural to the filter options as asked in the related issue https://github.com/GlotPress/GlotPress-WP/issues/959

[2018-10-26 07:45] naokomc opened #961 "Idea: warning for locale-specific rules"
This is just an idea, but I've been mulling over this for a while so I thought I'd document it.

When I review translations of others (especially new contributors), I often find myself spending time correcting & telling about the same issues that are against the rules in [our style guide](https://wpdocs.osdn.jp/WordPress_の翻訳/翻訳スタイルガイド).

Here are some examples:

**Warning** (if these are violated,

[2018-10-26 13:11] toolstack commented on #961
This would be site specfic, for example the style guide mentioned is for translate.w.org, so not something we'd include in the coe GlotPress code base.

You might want to open a ticket on [trac](https://meta.trac.wordpress.org/query?status=!closed&component=Translate+Site+%26+Plugins) forit.

[2018-10-26 13:11] #961 closed, assigned to nobody

[2018-10-30 06:51] naokomc commented on #961
Thanks for pointing me to the right place.

Edit: Now reported on https://meta.trac.wordpress.org/ticket/3891

[2018-10-30 20:52] toolstack opened #962 "Update ruleset name in phpcs.xml"
The `WordPress.XSS.EscapeOutput` rule set has been renamed in a recent version of PHPCS so we need to update our phpcs.xml file to use `WordPress.Security.EscapeOutput`.

[2018-10-30 20:57] toolstack commented on #962
This is why we have been getting errors for escaped output lately when we shouldn't.

[2018-10-30 21:59] #962 closed, assigned to toolstack

[2018-10-30 22:20] garretthyder commented on #415
Reopening as PR #934 broke the Glossary entry form as it contained the '//' prefix workaround. Will have a fix for this shortly.

For reference when on the Glossary entry form the $project_or_path supplied to gp_url_project is '//languages' which when urlencoded becomes %2F%2Flanguages causing it to be overlooked in the following checks as well as making it an invalid URL.
Upon submitted you get a

[2018-10-31 01:11] toolstack opened #967 "Prepare for 3.0 release"
Placeholder for release tasks.

- [x] Clear all [issues](https://github.com/GlotPress/GlotPress-WP/milestone/8)
- [x] Update changelog
- [x] Create release branch
- [x] Cherry pick commits for the 3.0 milestone into release branch
- [x] Bump versions

[2018-10-31 11:48] #415 closed

[2018-11-02 10:40] swissspidy opened #969 "Make it easier to extend templates"
Right now there's no easy way to edit templates like the project edit form (https://github.com/GlotPress/GlotPress-WP/blob/99d0799ab378d16eb0c5cb63be0fead7f06c201d/gp-templates/project-form.php) without completely overriding the templates on your site.

An action hook in `project-form.php` to allow plugins to print additional settings fields would already be of great help.

[2018-11-02 14:41] toolstack commented on #969
You'd also need a hook on the route to be able to do something with the added fields, as otherwise they would just be dropped when the project was saved to the database.

[2018-11-07 10:33] vlood opened #970 "Improved concurrent translation on the same project"
A couple of things would improve tremendously the productivity of group efforts in translating core, plugins and themes, preventing double translations and conflicts:

- ajaxified lock for currently translated strings, so that none is attempting to translate them at the same moment;
- ajaxified check whether a string was translated after the user has loaded the list of strings for translation;

[2018-11-07 13:06] toolstack commented on #970
I don't see these as a good idea, locking a string during translation (ignoring the complexity how you define that) assumes that two people would submit the same translation.  If that was the case then the second translation would be blocked anyway.  If that's not the case then you get two different translations and get to choose which is best.

The second point is just a result of the current des

[2018-11-11 11:38] yoavf commented on #689
Was done with #913

[2018-11-13 18:33] toolstack opened #972 "Add local date display to editor"
Currently in meta we display the date a translation was added to GP in GMT, which is fine but we should also display it in the local time as well to make it easy for the user.

Something like this:

![meta](https://user-images.githubusercontent.com/9053749/48434758-a6637e80-e748-11e8-925e-a88542a07b29.png)

[2018-11-14 09:14] ocean90 commented on #972
Why does it need to be a second row instead of showing the local date by default? See https://make.wordpress.org/meetings/ for an example.

[2018-11-14 09:16] ocean90 commented on #958
See https://meta.trac.wordpress.org/browser/sites/trunk/wordpress.org/public_html/wp-content/plugins/wporg-gp-customizations/inc/cli/class-mass-create-sets.php for a `mass-create-sets` command.

[2018-11-14 09:54] Mte90 commented on #972
Well in that way we are adding a link to an external website to see the time (or require mouse hover but is not easy to discover).
So in the pr proposal we have the time on gmt and based on the timezone of how visit without any other interaction, more fast and simple. Also is not blocking the UX because you have everything in the page.

[2018-11-14 09:59] Mte90 commented on #958
Probably we can migrate all this wp cli scripts inside glotpress https://meta.trac.wordpress.org/browser/sites/trunk/wordpress.org/public_html/wp-content/plugins/wporg-gp-customizations/inc/cli?order=name that right just for docs:

- generate a language pack
- generate the pot file of wordpress core
- copy the translation set to a project to another one
- export core translation

[2018-11-14 12:11] toolstack commented on #958
@mte90 don't forget that GP is not WP specific, so some of those functions would not become part of GP.

[2018-11-14 12:22] toolstack commented on #972
@ocean90 it doesn't need to be on a second row, but it seemed like the best way to provide both to make it easy for the user to decide which one they wanted.

As @mte90 mentioned, using a title/mouseover event to provide the original data is hard to discover and on non-mouse devices doesn't work most of the time.

I did consider doing something like:

```Date Added (GMT/Local): 2017-09-05 14:26:17

[2018-11-14 12:34] ocean90 commented on #972
I'm assuming you are talking about title/mouseover because you want to see the UTC time as well? Not sure if that's actually needed. Just show the local time...

[2018-11-14 12:37] toolstack commented on #972
I didn't want to assume one way or the other quite honestly, if people are use to GMT and want to continue to use it I don't see a reason to remove it.

[2018-11-14 13:40] Mte90 commented on #972
![immagine](https://user-images.githubusercontent.com/403283/48486131-eb57e580-e81a-11e8-8cff-1867af05d2f0.png)
In that page I see in that way but is not clear a lot for who doesn't know that CET is like GMT and doesn't know that there is a timezone problem with the meeting.
Not everyone think that the message is written in the same time but is converted for timezones.
For us more techie is quite

[2018-11-14 13:43] Mte90 commented on #958
Yes, was just to document in the ticket to have an idea about we have already as code available and what we need to do from scratch.

[2018-11-14 13:44] toolstack commented on #972
Leaving the GMT time displayed also helps with collaboration as if two translators in different timezones are looking at the same string and chatting, they can both verify the timestamp via the GMT value.

[2018-11-17 13:31] Mte90 commented on #958
For ClassicPress I done a forked version of the command that generate language pack by project.
It is quite ready (I have to change the path where generate them and probably also add a parameter for that) and I think that we can integrate it in Gp because is general purpose: https://github.com/Mte90/ClassicPress-Network/blob/gp-cli/wp-content/plugins/cp-gp-cli/inc/class-language-pack.php

Probably

[2018-12-11 16:17] toolstack opened #976 "Add PHP 7.3 to TravisCI"
As PHP 7.3 has now been officially released, we should add it to our TravisCI builds.

[2018-12-11 16:26] #976 closed, assigned to toolstack

[2018-12-11 16:29] toolstack opened #978 "Remove XDebug IF condition check in TravisCI for PHP 7.3"
XDebug support is not yet ready for PHP 7.3 and so it does not need to be disabled.  For the time being, to avoid TravisCI throwing an error, an additional IF has been added to the before_scripts section of .travis.yml.

This is a placeholder ticket to remember to remove this IF statement once XDebug is supported in PHP 7.3 and on TravisCI.

[2018-12-13 19:58] garretthyder opened #979 "Multi-check functionality only works forward and not backwards"
Hello,

The multi-select function of checkboxes only works going down the page and not back up. By the multi-select function I speak on when you check a checkbox and then skip a few rows and check another checkbox then all checkboxes in between become checked. The code for this;
https://github.com/GlotPress/GlotPress-WP/blob/43bb5383e114835b09fc47c727d06e6d3ca8114e/assets/js/translations-page.js#L

[2018-12-13 20:30] toolstack commented on #979
Seems like an easy fix, just add the following after first/last are calculated:
[code]

Of course there is the note above that the code was taken from WP, so perhaps it's already been fixed there?

[2018-12-13 20:40] toolstack commented on #979
Just took a look, they have fixed it in WP:
[code]

[2018-12-14 19:17] garretthyder opened #981 "Introduce 'Checked All' code to check the global box"
With the multi-checkbox functionality in WP core there's a snippet to check the global checkbox when all inner checkboxes are checked;
https://core.trac.wordpress.org/browser/branches/5.0/src/wp-admin/js/common.js?#L565

This would be a nice simple update to continue parity with WP core for this area of functionality.

[2018-12-14 19:24] garretthyder opened #982 "Update the multi-checkbox click function to be delegated"
Comparing the code block [here](https://github.com/GlotPress/GlotPress-WP/blob/43bb5383e114835b09fc47c727d06e6d3ca8114e/assets/js/translations-page.js#L47-L68) with [latest WP source](https://core.trac.wordpress.org/browser/branches/5.0/src/wp-admin/js/common.js?#L543) you notice it was switched to delegate the click in ticket [core#37973](https://core.trac.wordpress.org/ticket/37973).

The delega

[2018-12-14 20:01] #979 closed, assigned to nobody

[2019-01-02 21:29] toolstack opened #983 "Notes testcase can fail with empty tables"
If the notes table is empty when a project is deleted then one or more of the testcases can throw the following error:

[code]

This is caused by an empty condition being passed to ```delete_many()```.

The fix is to make sure we don't pass empty lists during the deletion of a project.

[2019-01-03 12:20] #983 closed, assigned to toolstack

[2019-01-03 15:44] toolstack opened #985 "Update TableSorter Library"
We're using an old version of the tablesorter jquery plugin (2.17.8 from 2014), the current release is 2.31.1.

[2019-01-03 16:14] #978 closed, assigned to nobody

[2019-01-03 17:15] #985 closed, assigned to toolstack

[2019-01-03 17:16] #972 closed, assigned to nobody

[2019-01-03 17:32] #226 closed

[2019-01-26 13:07] ocean90 opened #988 "Add WP Locale for Kurdish (Kurmanji)"
Related request: https://make.wordpress.org/polyglots/2019/01/06/kurmanji-kurdish-translation-team/

[2019-02-08 06:24] tobifjellner opened #991 "How to view glossary terms when hover isn't available"
When translating on a mobile or a tablet you can't hover over highlighted glossary terms in the source text. It would be good to have some alternative way to visualize the translation hints.

[2019-03-01 22:35] garretthyder opened #992 "Glossary Meta missing 'Created by:' or 'Updated by:' prefix on user"
Hello,

Originally posted to Meta Trac here - https://meta.trac.wordpress.org/ticket/3737#comment:1

The Meta box on the Glossary items shows the user but would align better by providing a 'Created by:' or 'Updated by:' or 'Modified by:' prefix.

Current;
<img width="383" alt="screen shot 2019-03-01 at 2 32 13 pm" src="https://user-images.githubusercontent.com/8726005/53670322-2d246480-3c2f-11e9-9

[2019-03-23 11:49] qdinar opened #995 "new feature idea: share link for recent translations or search results"
i would like to translate next 15 strings, (there are 15 strings in page wordpress translations... ) and then, get a link for this page with 15 translations, to show it to some group of people in social networks. now, it is not possible, because:

- address bar link does not work, because after translation, same url show new untranslated strings.
- if to show translated strings, sorted by date, (m

[2019-03-23 12:13] tobifjellner commented on #995
The number of translation segments shown in one page is a setting per user.
In translate.wordpress.org you can hover over your username in the upper corner and select "Translate Settings" and adjust this.
Your suggestion might still be useful, as some kind of dynamic offset value.

[2019-03-23 17:11] qdinar commented on #995
i do not understand your comment at this place : "some kind of dynamic offset value" . "earlier than" date is not dynamic, and not offset. how and what dynamic offset value can be used for this? and now i have an idea: probably you say about to add an url argument, that gives how much strings to show. that would be dynamic, and would give offset value of the end of the list of strings to show...

[2019-03-23 18:33] toolstack commented on #995
Another way to do this would be to filter based on your userid, then sort by date added.  It would be a transient view of course as when you translated more items it would put those on the top of the list.

It would be a significant amount of work to add a newer/older filter option, I'm wondering how often this would really be used?

[2019-03-27 18:49] ocean90 opened #996 "Project API doesn't return 'all_count' and 'warnings_count' of translation sets"
[`project.api.php`](https://github.com/GlotPress/GlotPress-WP/blob/ccdebb9fddc9eebc8e3894817cc52a5a35024e85/gp-templates/project.api.php) uses `gp_array_of_array_of_things_to_json()` which calls `fields()` on the thing. [`fields()`](https://github.com/GlotPress/GlotPress-WP/blob/43bb5383e114835b09fc47c727d06e6d3ca8114e/gp-includes/thing.php#L605) merges `field_names` and `non_db_field_names`.

Sin

[2019-03-27 18:59] #988 closed, assigned to nobody

[2019-03-28 12:16] #996 closed, assigned to ocean90

[2019-03-28 17:48] ocean90 opened #998 "Notes: Don't escape notes when inserting, use sanitization"
Noticed that `esc_html()` is used before inserting the note in https://github.com/GlotPress/GlotPress-WP/blob/ffecc3c/gp-includes/things/note.php#L77.
Only the output should be escaped, when storing the data needs to be sanitized. More importantly, `GP_Route_Note::edit_post()` and `GP_Note::edit()` doesn't do both.

`wp_kses()` with a predefined list of allowed tags should be used. See also `wp_ks

[2019-03-28 17:56] ocean90 opened #999 "Notes: Don't ask the user to try again if they have no permissons"
https://github.com/GlotPress/GlotPress-WP/blob/ffecc3c1e1900f36570a48a2982ba88faeb2eee5/gp-includes/routes/note.php#L62

It doesn't make much sense to ask for a re-try if the user simply doesn't have enough permissions to perform the action. The message should be changed to "Sorry, you are not allowed to edit this note."

Same applies to when adding/deleting a note.

[2019-03-28 18:00] ocean90 opened #1000 "Notes: Check result of a delete request"
https://github.com/GlotPress/GlotPress-WP/blob/ffecc3c1e1900f36570a48a2982ba88faeb2eee5/gp-includes/routes/note.php#L98

The notice is added before the delete has happened.

It's also odd that it's using `delete_all()` in https://github.com/GlotPress/GlotPress-WP/blob/ffecc3c1e1900f36570a48a2982ba88faeb2eee5/gp-includes/routes/note.php#L99

* [ ] Change `$note_object` to `$note`
* [ ] Use `$note->

[2019-03-28 18:11] ocean90 opened #1001 "Notes: Delete notes in `GP_Original::delete()` when deleting an original"
https://github.com/GlotPress/GlotPress-WP/blob/8adf71b4fed2563c7e253715388a6bb505f87902/gp-includes/things/original.php#L519-L524 should happen in the `delete()` method like done in https://github.com/GlotPress/GlotPress-WP/blob/8adf71b4fed2563c7e253715388a6bb505f87902/gp-includes/things/glossary.php#L164-L175

Can we also change `$note_id` to `$note_ids` while we're here?

[2019-03-28 18:17] ocean90 commented on #1001
Actually, that method is passing an ID of an original while it's expecting an ID of a translation?

[2019-03-28 18:24] ocean90 opened #1002 "Originals: Deleting an original doesn't delete its translations"
Looks like this was missed in https://github.com/GlotPress/GlotPress-WP/pull/271.

Translations are currently only deleted when a translation set is deleted: https://github.com/GlotPress/GlotPress-WP/blob/a96f2988cf160563ea343012781064341116d37d/gp-includes/things/translation-set.php#L665-L678

The same should happen when an original gets deleted.

[2019-03-28 20:26] ocean90 opened #1003 "Translations in JSON files don't get imported"
Reported in https://meta.trac.wordpress.org/ticket/4341

Import of translations in JSON files (JSON or Jed 1.x format) is currently broken.
This reason for this seems to be that `translations` is not an array in
https://github.com/GlotPress/GlotPress-WP/blob/b8117d176084b4f926d63202b4e2215e41199564/gp-includes/formats/format-json.php#L107-L109

[2019-04-04 14:52] Mte90 commented on #998
So you are suggesting to sanitize also on https://github.com/GlotPress/GlotPress-WP/blob/ffecc3c/gp-includes/things/note.php#L103
Instead https://github.com/GlotPress/GlotPress-WP/blob/ffecc3c1e1/gp-includes/routes/note.php#L71 we are sending the value to edit of the other method so we can avoid to sanitize twice.

I am wondering why use `wp_kses` instead `esc_html`? because we don't want HTML tag

[2019-04-04 16:41] Mte90 commented on #1001
I am not sure if the pr is enough.

[2019-04-05 07:37] #999 closed, assigned to nobody

[2019-04-05 07:38] #992 closed, assigned to nobody

[2019-05-07 11:39] maheshwaghmare commented on #338
Is this feature still pending due to `Backlog` or backward compatibility or older users?

Any workaround for this feature?

[2019-05-07 11:42] toolstack commented on #338
@maheshwaghmare still in backlog, no one has picked it up yet.

[2019-05-08 19:05] ocean90 commented on #991
At least on iOS they are visible once you click/touch on them.

[2019-05-12 11:48] yoavf opened #1008 "Notes: actions urls are missing"
Tested on current `develop` branch (https://github.com/GlotPress/GlotPress-WP/commit/9040424894ff514ba0a8137f1a08d6316a8f5dfc)

When trying to add a note, the following error is displayed:
<img width="317" alt="Screen Shot 2019-05-12 at 14 36 10" src="https://user-images.githubusercontent.com/844866/57581674-6c8aef00-74c3-11e9-9e7e-494736cbec0d.png" alt="Error: An error has occurred. Please try ag

[2019-05-14 17:02] #1008 closed, assigned to nobody

[2019-05-14 17:05] ocean90 commented on #998
`wp_kses(  $note, [] );` will remove all tags, `esc_html()` only escapes them.

[2019-05-19 19:04] jeroenrotty opened #1011 "Feature Request - Open link to consistency tool in new tab"
As the title is pretty straightforward, it would be cool if the contextual link to the consistency tool opens up in a new tab.

[2019-05-20 10:21] Mte90 commented on #1011
The consistency tool is not from GlotPress but from the meta-i18n team in wordpress.org.
YOu should open a ticket in https://meta.trac.wordpress.org/, anyway glotdict (browser extension) implement already :-)

[2019-05-20 10:21] #1011 closed, assigned to nobody

[2019-05-20 10:47] jeroenrotty commented on #1011
Sorry for the confusion! @Mte90

I meant the contextual link within GlotPress. See my screenshot.
![Image 2019-05-20 at 12 46 54 PM](https://user-images.githubusercontent.com/7323966/58016239-63220800-7afd-11e9-9324-73db134d06e7.png)

[2019-05-20 10:49] Mte90 commented on #1011
The consistency tool doesn't exist in glotpress, was built for wp.org and is not part of this project.
So you should talk with them about features etc for that portal, GlotPress is a part of their infrastructure and we are not involved with their integration etc.

[2019-06-03 17:34] maximejobin opened #1014 "Make "Save" and "Approve" the same"
I'm a LTE. I spend most of my time accepting and editing translations made by others.

If I see a string and want it as is, I must "Accept".
If I edit a string, I must "Save".

Otherwise, it displays an error message.

I think that no matter if I click on "Accept" or "Save", the wanted behavior should be automatically detected.

This is simple, not confusing and would save me (and probably others)

[2019-06-03 18:39] Mte90 commented on #1014
I don't think that should be the same, because you want a review from someone else as example.
Everyone need a review because no one can avoid errors and if we push this we create a not balanced capabilities system, like with gatekeepers and also suggest a toxic behaviour on long term.
If we force this behaviour for all of them means like that a LTE/GTE has more power then others and doesn't need

[2019-06-03 19:01] maximejobin commented on #1014
@Mte90 I'm sorry but I don't understand what you mean. LTE's and GTE's translations are _not_ reviewed.

As a GTE or LTE, whatever I propose is automatically marked as "current". Therefore, if I translate something, it is already marked as "Suggested + Accepted" when I click on "Save". If a non-GTE suggests a string, clicking on "Save" gives an error. I'm not claiming I should be marked as the tra

[2019-06-03 19:05] Mte90 commented on #1014
If you are talking about GTE/LTE is not something for GlotPress because this roles doesn't exists in this plugin.
Translate.wp.org implement this capabilities and their features, this project is only for the plugin that is one of the pieces of the wp platform.
I suggest to you to open a ticket on https://meta.trac.wordpress.org :-)

We cannot implement this in glotpress because this roles doesn't

[2019-06-03 19:57] toolstack commented on #1014
@maximejobin you should probably open this up as an issue on the meta trac over a wordpress.org.

[2019-06-03 20:39] maximejobin commented on #1014
Funny, I opened it on meta trac and it was suggested to report it here and on GlotDict. So did I. Then, you're telling me to open it on meta!

I'm confused...

https://meta.trac.wordpress.org/ticket/4496

[2019-06-04 11:00] Mte90 commented on #1014
Replied on the trac ticket

[2019-06-04 11:28] ocean90 commented on #1014
Just replace LTE with validator and you have the same in a default GlotPress install.

Related: https://github.com/GlotPress/GlotPress-WP/commit/39e768afeba5c60d2f22c84ff413dd2cf129a31a / #707

[2019-06-09 15:06] PavloGor opened #1015 "Add at page consistency next and previous strings buttons"
Hi, Glotpress.
Please add at page https://translate.wordpress.org/consistency/ buttons next and previous strings buttons. In glotpress thya calling "Open previous editor" and "Open next editor".
Thanks

[2019-06-09 15:58] toolstack commented on #1015
The consistency page is part of meta.wordpress.org, not GlotPress.

You should open a meta ticket on Trac for this.

[2019-06-09 15:58] #1015 closed, assigned to nobody

[2019-06-20 15:32] pedro-mendonca opened #1018 "Variants: Don't add suggestion exactly equal to the parent translation"
Don't make sense to override a parent translation with a variant translation that is exactly the same as its parent.

While translating in a variant, the user should not be able to add a translation that is exactly the same as the translation of the parent locale and should be notified.

[2019-06-20 15:41] pedro-mendonca opened #1019 "Variants: Hide non-current strings from parent locale in variants"
Only the currently approved strings from the parent locale should be available as translated in the variants translation table.

[2019-08-08 10:34] remkus opened #1020 "Email notifications"
I'm aware that there's already an [issue related to notifications](https://github.com/GlotPress/GlotPress-WP/issues/702), but I'd like to approach this feature a bit more complete.

I propose we implement an email notification feature that sends out a notification based on a couple of different scenarios.

## What kind of notifications

1. New strings added. This is the most obvious one and is all

[2019-09-06 13:40] tacoverdo commented on #1020
# First iteration
This comment is a first iteration based on a Yoast Contributor Day session we, @noud-github, @arjanvandenelzen, @remkus & @tacoverdo, had on the validity of all the various items in our initial wishlist.

We've concluded that in keeping true to the core of the proposal, we have to pick a solution that is easy to implement, scales and performs well in large-scale environments.

#

[2019-09-06 14:37] toolstack commented on #1020
We might want to hold off on this for a bit as the WP Notify working group has kicked off and we'll likely want to tie in to that for the actual mechanics of sending notifications.

[2019-09-06 14:48] pedro-mendonca commented on #1020
Also, there were some ideas kicked off in WordCamp Europe Contributor Day about connecting GlotPress with bbPress precisely to use its forum notification and discussion features.
Maybe @ocean90 and can share how it developed.

[2019-09-07 16:39] remkus commented on #1020
@toolstack @pedro-mendonca, I'm afraid waiting for both of your mentioned projects to be concluded, we'd be a long way in the future. I see no problem in coding up the solution for this issue taking into account that certain parts can be integrated later. The logic, the UI, and where to save what and contents of the email would be the same regardless of whatever code the notification can hook into

[2019-09-16 19:58] martin8032 commented on #885
This switch should not only include de_DE informal and de_DE formal but also all translation sets of de_CH and de_AT as well.

[2019-11-08 09:53] pixelverbieger commented on #954
the "edge case" is not that small …

In German, e.g., we translate from English to either formal or informal variant, then transfer it to the other one. The next step oftentimes is the transfer to de_CH (again, both formal and informal) and then to de_AT – that's 5 locales, ideally done for every plugin and every theme!

[2019-12-14 11:27] ePascalC opened #1021 "Glossary import reference link no longer valid"
Importing a glossary from https://translate.wordpress.org/locale/fr-be/default/glossary/-import/ is showing a link to the Google Translator Toolkit, but that has been closed earlier this month.

A link to https://glotpress.blog/the-manual/glossaries/ was suggested in https://meta.trac.wordpress.org/ticket/4905 , but it needs some content first of course, something that explains the header:

en,fr-

[2019-12-21 14:12] pixelverbieger opened #1022 "UI improvement: add some time option to the search filter"
In addition to #955 I suggest another filter option:
Limit the search to a certain period of time.

- **Date added:
From___ YYYY-DD-MM
To______ YYYY-DD-MM**

So we can select strings
- older than a certain date
- younger than a certain date
- from one exact day

In combination with #907 by @chantalcoolsma this would be a great improvement for people who have to maintain several locales.
@toolstack

[2020-02-02 19:17] felipevelzani opened #1024 "Create a button that allows "Copy permalink to translation""
It can be hard for new users finding these elements. Having something easier like that would be really appreciated. I believe that an alternative could also be moving the contextual links to the meta sidebar.

[2020-02-19 16:02] maxme commented on #910
The same issue happened again recently. I don't know if this is the same problem though, but the symptoms are similar:

The strings [here](https://github.com/wordpress-mobile/WordPress-Android/blob/616a6341e8b358298af175eec113de7219501f77/WordPress/src/main/res/values/strings.xml#L371-L372) got incorrectly imported [there](dialog_gutenberg_informative_description) (same unicode problem `u2014`).

[2020-03-02 15:53] nabsul commented on #324
Hi, it seems this feature has been under development for a very long time. Is there still work being done? Or has all that work been scrapped?

I'm asking because I would like to develop and contribute this feature if it's not being worked on.

[2020-03-02 15:57] Mte90 commented on #324
The idea at WCEU 2019 at glotpress table was to remove the support from GP of the feedback because has some issues like missing notifications or more features.
Also because on wp.org there was the idea to integrate with the forum itself because has everything instead of a new feature from scratch that already exists.

[2020-03-02 16:17] nabsul commented on #324
Just to make sure I'm understanding everything:

This is really interesting to me. Personally I'd rather have a partial feature rather than none at all.

Is there any work already being done on this? Also, would this approach mean that users would have to install some forum plugin to have this feature?

[2020-03-02 16:20] Mte90 commented on #324
No we are not working so much on GP as you can see is like dead also on slack.
The point about the missing feature was that as it is now is very incomplete, as example someone leave a feedback the author of the localization need a notification he cannot check all the strings to see if there are.
So also because in WP right there is the plan to do https://make.wordpress.org/core/2020/01/14/wp-notif

[2020-03-02 16:49] nabsul commented on #324
Thank you for the background information. This is helpful. But I'm still lost regarding next steps for me personally (and my friend @ramico who is also interested).

We want to work on this feature if the resulting work has the chance of being shipped into GlotPress and translate.wordpress.org. We both spend time translating there and this feature would help us work more efficiently.

I feel like

[2020-03-03 10:35] Mte90 commented on #324
Yes the idea was to leave all the notifications and feedback system, instead as it is now https://github.com/GlotPress/GlotPress-WP/pull/975 to use at all the forum so all the features are already available without need to develop anything.

The plan was to remove all the code of that feature and move it in a new plugin but probably the whole feature can be a plugin that integrate bbpress inside g

[2020-03-15 21:58] vlood commented on #970
A really late comment on the first remark @toolstack, just to give more understanding for the issue that we sometimes face in our organized translation efforts:

Usually having two different translations is fine as long as someone purposefully suggests the alternative translation. More often that we'd like it to happen, translators go through long strings consisting of several sentences not even n

[2020-04-03 15:38] toolstack commented on #1021
I've created content for https://glotpress.blog/the-manual/glossaries/ that includes the CSV file format.

[2020-04-05 17:53] #1021 closed, assigned to nobody

[2020-04-05 19:42] toolstack opened #1027 "Add PHP 7.4 to TravisCI"
Add in TravisCI testing for PHP 7.4.

[2020-04-05 19:54] #1027 closed, assigned to toolstack

[2020-04-07 17:34] toolstack opened #1030 "Replace "Polyglots Handbook" text introduced in PR1026"
Replace with the "GlotPress Manual" to correctly represent the location.

[2020-04-07 17:50] toolstack opened #1032 "Update jQuery TableSorter library"
There is a new version of the tablesorter library available, 2.31.3.

[2020-04-07 18:54] #1030 closed, assigned to toolstack

[2020-04-08 07:31] ocean90 opened #1034 "Create intermediate release, version 2.4"
Current stable release is [2.3.1](https://github.com/GlotPress/GlotPress-WP/releases/tag/2.3.1), upcoming release is [planned as 3.0](https://github.com/GlotPress/GlotPress-WP/milestone/8) but due to large changes that require more testing and decisions it's not quite ready yet.

There are currently over [400 commits ](https://github.com/GlotPress/GlotPress-WP/compare/2.3.1...develop) since the la

[2020-04-09 10:54] xavivars commented on #1034
Thanks for looking at this!

Also, it would be awesome if release 3.0 could be actually released at some time. I'll try to find some hours these next few weeks.

Having 3.0 in wp.org (with all the variants work there) is something I'm really looking forward, and I know it'll take some time from 3.0 release date until that happens, so the earlier the better.

[2020-04-10 10:08] ocean90 commented on #1034
Closing as wontfix due to the current used [merge strategy](https://help.github.com/en/github/collaborating-with-issues-and-pull-requests/about-pull-request-merges) which makes this impossible without having conflict on every second commit. Would have been much easier if all PR commits were squashed into a single commit.

[2020-04-10 10:08] #1034 closed, assigned to nobody

[2020-04-10 11:50] #17 closed

[2020-04-10 11:59] #1032 closed, assigned to toolstack

[2020-04-10 13:22] ocean90 opened #1035 "Support local environment via @wordpress/env"
With [`@wordpress/env`](https://developer.wordpress.org/block-editor/packages/packages-env/) it's easy to set up a local environment.

To support contributing to GlotPress we should add a basic `.wp-env.json` file and some npm scripts to start and stop the environment.

[2020-04-11 10:52] ocean90 opened #1037 "Extend .gitattributes with export-ignore"
Tests and config files shouldn't be part of an archive. See https://git-scm.com/docs/gitattributes#_creating_an_archive for background.

[2020-04-11 10:54] #1035 closed, assigned to ocean90

[2020-04-11 11:22] #1037 closed, assigned to ocean90

[2020-04-11 11:29] ocean90 opened #1040 "composer.json is not valid"
[code]

[2020-04-11 11:45] ocean90 opened #1041 "Update wp-dev-lib to latest"
[wp-dev-lib](https://github.com/xwp/wp-dev-lib) had a few updates and is now at [version 1.5.0](https://github.com/xwp/wp-dev-lib/releases). They now also recommend using Composer or npm instead of git submodules. I'd probably choose Composer but no strong preferences.

[2020-04-11 11:53] #800 closed, assigned to nobody

[2020-04-11 12:25] #1040 closed, assigned to ocean90

[2020-04-11 12:34] ocean90 opened #1043 "Remove gp_url_ssl() and GP_SSL"
https://github.com/GlotPress/GlotPress-WP/blob/1707d200c349dde3f3d16fb922136e9609bfbe42/gp-includes/url.php#L92-L101

The constant isn't documented and the function isn't used at all. A replacement would be [`set_url_scheme()`](https://developer.wordpress.org/reference/functions/set_url_scheme/).

[2020-04-11 13:18] ocean90 opened #1045 "Revert notes feature from 3.0 release"
The current notes/comments implementation was pushed via #209. Unfortunately, the merged PR #975 isn't yet ready for a public release. Bugs already have been reported in #998, #999, or #1000. I also did another quick test:

* I was able to submit an empty note.
* After I submitted a note the next translation opened.
* The note wasn't visible after a reload.
* The layout is broken

<img width="1243

[2020-04-11 15:37] #688 closed, assigned to ocean90

[2020-04-12 10:49] ocean90 opened #1050 "Thing: Normalize int fields to be integers"
There's currently a unit test failure:

[code]

This is because ` $destination_set_translations[0]->translation_set_id` has the value `"2"` (string) while `$destination_set->id` is `2` (integer).

[2020-04-12 22:34] pedro-mendonca commented on #1034
Hi @ocean90,
I know this issue is closed, but I would like to help with whatever I can.

Would you like help dealing with WPCS issues?

[2020-04-13 08:04] ocean90 commented on #585
Instead of fixing issues per file it's better to fix them per rule. For example one PR for `phpcs --sniffs=PSR2.Classes.PropertyDeclaration`, one for `phpcs --sniffs=Generic.Files.EndFileNewline` and so one.

Bigger changes like `Generic.Files.OneObjectStructurePerFile` should be done at last and probably require a discussion about the file naming itself. It's not clear what files include classes

[2020-04-13 08:05] ocean90 commented on #1034
@pedro-mendonca See #585 if you want to help with fixing coding standard issues.

[2020-04-13 08:21] ocean90 opened #1053 "Remove gp_urldecode_deep() from gp_get() and remove function"
Related: #67

[`gp_urldecode_deep`()](https://github.com/GlotPress/GlotPress-WP/blob/43bb5383e114835b09fc47c727d06e6d3ca8114e/gp-includes/system.php#L3-L6) is the GlotPress version of WordPress' [`urldecode_deep()`](https://developer.wordpress.org/reference/functions/urldecode_deep/). The function is currently only used in `gp_get()`:

https://github.com/GlotPress/GlotPress-WP/blob/3fdf79c59f05817

[2020-04-13 09:19] #1050 closed, assigned to ocean90

[2020-04-13 09:34] #1043 closed, assigned to ocean90

[2020-04-13 09:39] #1053 closed, assigned to ocean90

[2020-04-13 10:22] pedro-mendonca commented on #1034
Can I add this to composer?
[code]

[2020-04-13 10:26] pedro-mendonca opened #1058 "Fix WPCS issues"
List of WPCS issues:
- [x] WordPress.WP.I18n.MissingTranslatorsComment - Fixed in #1057
- [x] WordPress.WhiteSpace.ControlStructureSpacing

[2020-04-13 10:31] pedro-mendonca commented on #1034
Also, there are a few sniffs that could be fixed on the same PR.
Example:
`WordPress.Arrays.ArrayDeclarationSpacing.NoSpaceBeforeArrayCloser`
`WordPress.Arrays.ArrayDeclarationSpacing.NoSpaceAfterArrayOpener`

Should it be kept in a PR each or could be commited together?

I've tested it in #1059

[2020-04-13 11:11] ocean90 opened #1060 "Consider adopting a framework like Bootstrap or Material for front end"
It's not a secret that the current design of GlotPress is not what you'd expect when you see it today. In #323 some ideas where explored for a complete overhaul of GlotPress.

Due to the lack of time and the small team that is working on GlotPress I'm wondering if we should take a step back here and consider adopting an existing, well established design framework. I don't think that GlotPress need

[2020-04-13 11:25] ocean90 commented on #1058
Feel free to add a comment on #585 to keep track of fixed rules.

[2020-04-13 11:25] #1058 closed, assigned to nobody

[2020-04-13 11:40] pedro-mendonca commented on #585
- [x] `WordPress.WP.I18n.MissingTranslatorsComment` fixed in #1061

[2020-04-13 12:08] pedro-mendonca commented on #585
- [x] `WordPress.WhiteSpace.OperatorSpacing` fixed in #1062

[2020-04-13 12:43] pedro-mendonca commented on #585
- [x] `WordPress.PHP.YodaConditions`

[2020-04-13 15:24] pedro-mendonca commented on #585
- [x] `WordPress.Arrays.CommaAfterArrayItem`
- [x] `WordPress.Arrays.ArrayDeclarationSpacing`
- [x] `WordPress.Arrays.ArrayKeySpacingRestrictions`
- [x] `WordPress.Arrays.MultipleStatementAlignment`

[2020-04-13 15:37] #1041 closed, assigned to ocean90

[2020-04-13 17:08] pedro-mendonca opened #1070 "I18n: Line breaks in multiple sentences string not rendered"
This string is formated with line breaks that aren't used in the UI:
[code]
Source:
https://github.com/GlotPress/GlotPress-WP/blob/develop/gp-templates/project-mass-create-sets.php#L18-L20

Here is how it's rendered:
![imagem](https://user-images.githubusercontent.com/7371591/79141105-08e30300-7db1-11ea-9fdc-a251f964dcd4.png)

I suggest to separate in multiple strings, adding `<br>` in between for

[2020-04-13 19:15] ocean90 opened #1072 "Paths for sub projects are using an URL encoded slash"
This was already reported in https://github.com/GlotPress/GlotPress-WP/commit/fa43d309e94c2484c8f24aa01bf7e7e853646c4b#commitcomment-33059372 in #965.

When you create a new sub project you'll be redirected to `/glotpress/projects/test%2Fsub-sub/` giving you a 404 not found error. Also the project action links are using the encoded slash `/glotpress/projects/test%2Fsub-sub/import-originals/`

[2020-04-13 21:50] pedro-mendonca commented on #585
@ocean90

For PRs like many of the above mentioned, the coding standards are applied transversally to as many files as possible, as suggested by you in https://github.com/GlotPress/GlotPress-WP/pull/966#issuecomment-612620455.

What is the prefered commit message in these cases?
I've been using:
`Fix WPCS: <sniff.Rule>`

[2020-04-13 22:25] pedro-mendonca commented on #585
- [x] `Generic.Formatting.DisallowMultipleStatements.SameLine`
- [x] `Generic.Formatting.SpaceAfterCast.NoSpace`

[2020-04-14 07:45] ocean90 commented on #585
@pedro-mendonca Your commit messages are okay. Are you able to change the checkboxes in https://github.com/GlotPress/GlotPress-WP/issues/585#issue-183804475?

[2020-04-14 08:26] pedro-mendonca commented on #585
No, I'm not able to change.
I'm only able to change the checkboxes of my [comments ](https://github.com/GlotPress/GlotPress-WP/issues/585#issuecomment-613127245), I'm fine with that.
You can check the main list after approval and merging the PRs.

[2020-04-14 11:53] #1070 closed, assigned to nobody

[2020-04-15 08:12] #1072 closed, assigned to ocean90

[2020-04-17 15:59] #1045 closed, assigned to ocean90

[2020-04-17 16:01] ocean90 commented on #998
The notes features has been reverted for now, see #1046.

[2020-04-17 16:01] #998 closed, assigned to nobody

[2020-04-17 16:01] ocean90 commented on #1001
The notes features has been reverted for now, see #1046.

[2020-04-17 16:01] #1001 closed, assigned to nobody

[2020-04-17 16:01] ocean90 commented on #1000
The notes features has been reverted for now, see #1046.

[2020-04-17 16:01] #1000 closed, assigned to nobody

[2020-04-18 04:39] pedro-mendonca commented on #585
PR #1076 fixes:
- [x] `Generic.Arrays.DisallowShortArraySyntax.Found`
- [x] `Generic.CodeAnalysis.ForLoopWithTestFunctionCall.NotAllowed`
- [x] `Generic.Commenting.DocComment.SpacingAfter`
- [x] `Generic.Commenting.DocComment.SpacingBeforeTags`
- [x] `Generic.ControlStructures.InlineControlStructure.NotAllowed`
- [x] `Generic.Formatting.MultipleStatementAlignment.IncorrectWarning`
- [x] `Generic.F

[2020-04-19 13:15] ocean90 opened #1079 "Fix risky tests"
PHPUnit has identified 4 risky tests which should get fixed:

[code]

[2020-04-19 15:57] #959 closed, assigned to ocean90

[2020-04-19 16:08] pedro-mendonca commented on #585
PR #1084 fixes:
- [x] `PEAR.Methods.MethodDeclaration.StaticBeforeVisibility`
- [x] `PEAR.Methods.MethodDeclaration.AbstractAfterVisibility`
- [x] `PEAR.ControlStructures.SwitchDeclaration.SpaceBeforeColonCASE`
- [x] `PEAR.ControlStructures.ElseIfDeclaration.NotAllowed`
- [x] `PEAR.Methods.MethodDeclaration.StaticBeforeVisibility`
- [x] `PEAR.Functions.FunctionCallSignature.SpaceBeforeOpenBracket`

[2020-04-19 22:30] pedro-mendonca commented on #585
@ocean90
Looking into `Squiz.Commenting.FunctionComment.x...` sniffs, `(...).SpacingAfterParamType` sets the aligment for the $parameters (1x space min), but the parameter comment doesn't seem to have a standard alignment.
I would like to suggest 2x spaces minimum, as the current snippet below.
[Source file](https://github.com/GlotPress/GlotPress-WP/blob/develop/gp-includes/url.php#L79)

[code]

[2020-04-19 22:46] pedro-mendonca commented on #585
@ocean90
Looking into `Squiz.Commenting.FunctionComment.x...` sniffs, `(...).SpacingAfterParamType` sets the aligment for the $parameters (1x space min), but the parameter comment doesn't seem to have a standard alignment.
I would like to suggest 2x spaces minimum, as the current snippet below.
[Source file](https://github.com/GlotPress/GlotPress-WP/blob/develop/gp-includes/url.php#L79)

[code]

[2020-04-19 23:11] pedro-mendonca commented on #585
There is a rule, but is set to 1 space only:
`Squiz.Commenting.FunctionComment.SpacingAfterParamName`
But is [excluded in the WPCS](https://github.com/WordPress/WordPress-Coding-Standards/blob/5f27d8e3a469493cd0c32f24d895d94070fe5bdb/WordPress-Docs/ruleset.xml#L64).

Would it be ok to include this in the ruleset?

[2020-04-20 07:20] ocean90 commented on #585
@pedro-mendonca No, the default ruleset is fine, only one space. See also https://make.wordpress.org/core/handbook/best-practices/inline-documentation-standards/php/#1-functions-class-methods or https://github.com/GlotPress/GlotPress-WP/blob/1b6e78a9ee031403ced3ff29ee5360941d85ef4b/gp-includes/misc.php#L3-L9 for an example.

[2020-04-20 07:39] pedro-mendonca commented on #585
I see, so there is the array example of why the comment alignment rule is excluded :)
Thanks

[2020-04-21 16:18] pedro-mendonca opened #1086 "Improvement: New suggestion from a user turns previous suggestions 'old'"
**Problem**
Many times users correct their translation suggestions, without rejecting the obsoletes.
The project validator/editor than have many suggestions from the same translator, when the original translator probably only want to suggest the last one.
Of course the translator can`reject` or mark `fuzzy` his own old suggestion(s), but this could probably me automatic.

**Solution**
For each new

[2020-04-21 16:31] pedro-mendonca opened #1087 "Separate GP_Format_PO and GP_Format_MO in a file each"
As mentioned in https://github.com/GlotPress/GlotPress-WP/issues/585#issuecomment-612798333 , `Generic.Files.OneObjectStructurePerFile` should be done at last and require discussion.

These two classes and the file name are pretty straight forward.

Classes file:
`format-pomo.php`.

Classes included:
`GP_Format_PO`
`GP_Format_MO extends GP_Format_PO`

Both classes are required from [`gp-settings.p

[2020-04-22 07:17] ocean90 commented on #1087
Related: #571 and [file naming conventions for classes ](https://make.wordpress.org/core/handbook/best-practices/coding-standards/php/#naming-conventions)

[2020-04-22 09:42] pedro-mendonca commented on #1087
All the formats files are consistently in format-XXX.php naming.
The format-pomo.php is the only that has 2 classes (PO and MO).
Despite any further discussion on file naming and autoloading, these could be easily splitted to follow the pattern of the rest of the format classes.
I'll send a PR with the suggestion.

[2020-04-22 09:47] ocean90 commented on #1087
I'd like to avoid renaming the files too often. Since there's no benefit in splitting/renaming them now this can wait.

[2020-04-22 09:49] pedro-mendonca commented on #1087
Sure 👍
Feel free to close this.

[2020-04-23 19:31] #1003 closed, assigned to ocean90

[2020-04-25 13:16] ocean90 opened #1097 "Bump minimum supported WordPress version from 4.4 to 4.6"
With 4.6 we [no longer need to call `load_plugin_textdomain()`](https://make.wordpress.org/core/2016/07/06/i18n-improvements-in-4-6/) and we can replace `GP_Route::get_http_referer()` with [`wp_get_raw_referer()`](https://developer.wordpress.org/reference/functions/wp_get_raw_referer/).

[2020-04-25 14:13] #1097 closed, assigned to ocean90

[2020-04-26 14:09] ocean90 opened #1101 "Review plural forms of locales"
After #1012, I have started in #1100 adding some tests to validate our locale data with the [data from CLDR](http://cldr.unicode.org/) with the help of [gettext/languages](https://packagist.org/packages/gettext/languages) ([see result](https://php-gettext.github.io/Languages/)).

During this I noticed that we have some minor and major mismatches. The [list of affected locales is here](https://gith

[2020-05-02 09:09] ocean90 opened #1118 "Update minimum required PHP version to 7.2"
To further reduce the maintenance work we should increase the PHP version again. This time directly to 7.2 which is the [latest version with security support](https://www.php.net/supported-versions.php) for at least 6 more months.

GlotPress is not a regular user plugin like others therefore I see no reason why we have to support older PHP versions. This will allow us to use more modern tooling an

[2020-05-02 09:21] #1118 closed, assigned to ocean90

[2020-05-03 10:55] ocean90 commented on #892
Fixed in #1102.

[2020-05-03 10:55] #892 closed, assigned to nobody

[2020-05-15 16:27] lidialab opened #1169 "Glossary tooltip not showing for some words"
Italian Polyglots are observing some missing tooltip from our Italian glossary in translate.wordpress.org platform.

At a first check it seems a problem of expression composed by more words and for words with "-" in them.

Some examples:

"accent" is ok,
but "accent color" is not ok
string example: https://translate.wordpress.org/projects/wp-themes/atomic-blocks/it/default/?filters[status]=either&

[2020-05-20 07:50] ocean90 commented on #1169
The issue seems to have been introduced in #935. The string is now split into parts like "accent" +  "color" so that a term for "accent color" doesn't match anymore. There's also #768 which I think was supposed to block adding new terms with spaces but doesn't appear to work as I'm still able to add "accent color".

cc @toolstack

[2020-06-03 06:31] ocean90 opened #1173 "Remove locales/no-variants/locales.php"
Since there's no easy way to ensure that both locale files are in sync I'm suggesting to simply remove the no-variants file.

If someone doesn't want the variants feature they can either filter the locales through `gp_locale_definitions_arrary ` or create their own copy.

[2020-06-03 09:12] pedro-mendonca commented on #1173
Is it a typo on `gp_locale_definitions_arrary`?

~`..._arrary`~ -> `..._array`

[2020-06-07 15:23] #1173 closed, assigned to nobody

[2020-06-14 16:37] lidialab opened #1177 "Glossary - Italian plurals forms are not recognized"
Hi,
it seems that Italian plurals forms are not recognized in glossary's tooltips.

Example:
in
https://translate.wordpress.org/projects/wp-themes/blossom-coach/it/default/?filters%5Bstatus%5D=either&filters%5Boriginal_id%5D=6174160&filters%5Btranslation_id%5D=73326294

"articoli" is the plural form for "articoli" but appears the warning: "Warning: The translation does not contain any of the sugge

[2020-06-14 16:39] lidialab commented on #1177
I'm not sure if it's related to https://github.com/GlotPress/GlotPress-WP/issues/1101
Thanks.

[2020-06-14 16:43] ocean90 commented on #1177
The warning you're getting there is not part of GlotPress. It looks like you're using GlotDict, see https://github.com/Mte90/GlotDict/issues/60.

[2020-06-14 16:43] #1177 closed, assigned to nobody

[2020-06-14 17:02] lidialab commented on #1177
You're right!
Sorry for annoyance.
Thanks, Lidia

[2020-06-22 22:16] pedro-mendonca opened #1179 "Change status 'Current' to 'Translated'"
Since https://github.com/GlotPress/GlotPress-WP/pull/1121 there is the 'Translated' link filter.

It corresponds to 'Current only' in the advanced filter.

For consistency, I suggest renaming the all the 'Current' status to 'Translated'.
This includes the status of the string, the import status select, and some of the advanced filters.

**Advanced filter**
![imagem](https://user-images.githubuserc

[2020-06-23 07:26] ocean90 commented on #1179
Going to close this as wontfix because the correct status for an approved translation is current. An original with a waiting translation is also translated but not yet approved.

We could change the link to say "Current" too but I don't think it's necessary.

[2020-06-23 07:26] #1179 closed, assigned to nobody

[2020-06-23 08:13] pedro-mendonca commented on #1179
Thank you for your feedback.

[2020-07-18 12:31] tegalberita opened #1189 "Ok 😄"

[2020-07-18 15:24] pedro-mendonca commented on #1189
@tegalberita what is this issue about?

[2020-07-19 11:11] #1189 closed

[2020-08-18 08:48] psmits1567 opened #1190 "Add query option "waiting+current+rejected" for translations"
Currently it is cumbersome/hard/time-consuming to check if a current record is present when someone adds a translation proposal. You need to filter with the original line to find the current line if one exists. That takes a lot of time to do.
Proposal:
Add a new query option "waiting+current+rejected"
Then you should get a list with the waiting records preceded by the rejected, current, waiting in

[2020-08-18 10:18] johnbillion opened #1191 "Plural form with missing plural translation results in blank string"
Migrated from https://meta.trac.wordpress.org/ticket/5377.

A string in a plugin of mine was translated into a few languages prior to me converting it to a pluralised string. It went from using `_x()` to using `_nx()`.

Some translations therefore exist for the singular form but not the plural forms. The effect this has is that the plural forms are empty strings, and these empty strings get used a

[2020-08-18 10:20] johnbillion commented on #1191
Dion made a suggestion on the Trac ticket:

[2020-08-18 11:20] naokomc commented on #1190
I agree this new filter will speed up the review process.

Currently, I follow the process below to make sure I don't overwrite existing translation by mistake if I'm looking at translations by a user who suggests many translation changes to already Current strings.

* Go to "All" view
* Start from page 1 and go through every page to the end, catching any suggestions for existing ones

I prefer th

[2020-08-19 17:09] psmits1567 opened #1193 "change request for process that checks the translations and mark them as fuzzy"
Currently a process is running that checks translations for the locales. This process uses criteria obviously to mark a translation as fuzzy. For a translatior it is sometimes very difficult to underdstand why the string is fuzzy.
Therefore I would like to propose an improvement in this process.
When a record is marked as fuzzy add the reason into the translation. Then a translator knows what to c

[2020-08-24 11:30] ocean90 commented on #1193
Duplicate of #427.

[2020-08-24 11:30] #1193 closed, assigned to nobody

[2020-08-25 07:59] psmits1567 commented on #427
The process needs improvement see the following examples
1. Original "FAQ" translated into Dutch as "Veel gestelde vragen"  this I can understand
2. Original "Contact Support" translated into Dutch "Neem contact op met ondersteuning"  fuzzied but is a totally correct translation, possebly fuzzied due to a difference in word count
3. Original "%,d"  translated into Dutch "%,d"  exactly as the origi

[2020-08-25 08:02] psmits1567 commented on #427
Also a fuzzied record gets my account name if I alter it. That is in my opinion not the behavior you want. Because now some people make minor changes to get the string on their name. The original translator should be kept and shown in the record. Because then you know when the original string was entered, and prevent people from getting strings on their name.

[2020-08-27 14:14] psmits1567 opened #1194 "Allow to filter translations by fuzzy status"
Currently it is not possible to select "fuzzy" records based on account name. That makes it hard to find fuzzie records that are set after you have suggested or altered strings that become fuzzy afterwarts. So a new query type would be very welcome "fuzzy" by accountname.
The result should be a listing of all "fuzzy" records that are connected to the entered accountname. If no accountname is enter

[2020-09-02 18:53] pedro-mendonca commented on #1086
Duplicate of #889

[2020-09-08 10:23] psmits1567 opened #1196 "Add new date field so you can see when you approved/rejected/fuzzed a translation"
Currently it is not possible to see when you approve/reject a translation or when it has been set to 'fuzzy'
In my case I encountered records approved/rejected/fuzzed when I did not have GTE rights
So adding the date when a translation line was rejected, fuzzed, approved would be very helpful
![afbeelding](https://user-images.githubusercontent.com/28138634/92464097-fab4d980-f1cc-11ea-9887-654d2306

[2020-09-30 01:34] dd32 opened #1199 "Add new Glossary Part of Speech value"
Looking at the imported glossary items on WordPress.org, it looks like `abbreviation` is a relatively common value for the `part_of_speech` field, seems like it might be a reasonable addition to the glossary list, for example `WP`.

[2020-09-30 01:37] dd32 opened #1200 "Glossary Entry import doesn't validate part_of_speech"
It seems like the Glossary Import doesn't validate the value of the `part_of_speech` field, which can be problematic for two reasons:
 - It doesn't display the "custom" value on the glossary page
 - It causes PHP Notices in gp-templates/glossary-entry-row.php

For example, see the month entry on https://translate.wordpress.org/locale/fa/default/glossary/

I see two options here
 - Reject entries w

[2020-09-30 01:38] dd32 commented on #1200
Example notice:
[code]

[2020-10-02 06:30] ocean90 commented on #1199
Sounds good to me, let's add it!

[2020-10-02 06:32] ocean90 commented on #1200
Yeah, we should reject any unknown value.

[2020-11-11 09:49] gedex opened #1204 "Add short-circuit hook in GP_Original::closest_original"
This would allow us to swap string similarity algorithm. The hook can be placed early in the `closes_original()`

https://github.com/GlotPress/GlotPress-WP/blob/6d86cc2c37515a482633220b1501bd588fefd43c/gp-includes/things/original.php#L397-L401

with something like:

[code]

[2020-11-25 18:46] AliSoftware commented on #921
Hello 👋
I think we need to reopen this issue, as despite having been fixed by #922… it seems it got reintroduced by #1105 – which reverted the use of the context as key for the export.

I indeed recently found out that this key (the one in this issue description) created the same issue again in GP (we use `3.0.0-alpha.2`) and was truncated on export. For this time around, we ended up splitting the

[2020-11-27 13:07] #1002 closed, assigned to ocean90

[2020-12-04 13:50] pedro-mendonca commented on #99
Hi @ocean90,
Regarding the above item:

Did you mean the `__( '(edit)', 'glotpress' )` used for _Glossary_, _Project_ and _Translation set_?

There are also these two, that I believe you weren't refering to:
`__( 'Edit', 'glotpress' ),`
`__( 'Delete', 'glotpress' ),`

[2020-12-04 14:10] pedro-mendonca commented on #99
I'll post here another I18n issue that occurs in many pages:
![imagem](https://user-images.githubusercontent.com/7371591/101173193-1861d580-363a-11eb-97a3-f3447078412e.png)

The action links aren't separated with a space.
This would be easily fixed as below:
Current code example:
`return gp_link_get( gp_url( gp_url_join( '/glossaries', $glossary->id, '-edit' ) ), $text, gp_attrs_add_class( $attrs,

[2020-12-04 15:08] pedro-mendonca commented on #99
A better alternative is prepend all `$text` on `gp_link_get()`:
[code]

[2020-12-04 16:00] pedro-mendonca opened #1209 "UI inconsistencies in (actions) and [bubbles] of Projects/Sets/Glossaries"
I've made a roundup on some UI inconsistencies that I'll write below:

1. Inconsistent space between project/translation set/glossary title and appended (actions)
2. Translation sets and Glossaries titles have (edit) and (delete) action, while Project titles only have (edit) action
3. Projects and sub-projects lists have [Edit] bubbles but no [Delete] bubbles

The (delete) title actions and [Delet

[2021-01-04 08:16] akirk commented on #921
@AliSoftware I understand that you feel this re-introduced a bug but I'd suggest to look at the unit test data in https://github.com/GlotPress/GlotPress-WP/blob/develop/tests/phpunit/data/translation.strings#L12-L16 which shows how #1105 is necessary to allow different translations for the same English singular text (the example was "Trash" as verb and as noun which need to be translated different

[2021-01-04 12:49] webaxones opened #1215 "Accessibility of the buttons Approve, Reject, Fuzzy on keyboard"
Hello,
Would it be possible to make the Approve, Reject, Fuzzy buttons accessible on the keyboard in order to facilitate navigation in the table?
It could be done by removing the tabindex attribute set to -1 in :
https://github.com/GlotPress/GlotPress-WP/blob/develop/gp-templates/translation-row-editor-meta-status.php#L17
https://github.com/GlotPress/GlotPress-WP/blob/develop/gp-templates/translat

[2021-01-14 03:31] tobifjellner commented on #889
This has been solved via add-on in wp.org and may perhaps be backported here: https://meta.trac.wordpress.org/changeset/10576

[2021-01-24 14:50] #1215 closed, assigned to nobody

[2021-01-24 14:57] #1204 closed, assigned to nobody

[2021-01-24 15:46] #99 closed

[2021-01-24 15:46] #1209 closed, assigned to nobody

[2021-02-18 07:42] naokomc commented on #952
We now have .csv sample data linked from here:
https://make.wordpress.org/polyglots/handbook/for-editors/glossary-style-guide/#building-a-glossary

![image](https://user-images.githubusercontent.com/34067/108321772-f541cd80-7207-11eb-8010-1415a282e01e.png)

It needs some updates (i.e. include Block related terms), but it would be really helpful if GlotPress had a sample data (or URL for the refere

[2021-03-12 10:05] NekoJonez opened #1222 "Fuzzy translation can use some improvements"
So, when somebody suggests an update for a fuzzy string... It remains in the fuzzy list. So, that means that possibly 2 or more people suggest a fix for the fuzzy string OR that a fixed version of the fuzzy string is already suggested which can cause confusion and maybe time loss...

Maybe have something in the lines of "Post-Fuzzy"...? Thinking out loud here.

Another suggestion on the Slack from

[2021-04-29 18:35] ocean90 opened #1234 "Variants: Current translations are not exported if root translation does not exist"
Let's say you have project with a translation set for de_DE and de_CH where only the strings for de_CH are translated. Now you want to export all current translations for de_CH, for example with the following call:

[code]

The result will be empty. If you start translating the strings for de_DE and export de_CH again, the same amount of translations will now be exported.
If the export should also

[2021-05-06 01:58] dd32 opened #1236 "Implement GitHub actions for test running"
Adding a GitHub action for unit testing would ensure that contributors run phpunit tests prior to submitting PRs.

[2021-06-16 20:26] #1236 closed, assigned to nobody

[2021-06-24 15:53] ocean90 opened #1248 "Fuzzy translations can be saved without edits"
Reported in https://meta.trac.wordpress.org/ticket/5788.

[2021-06-24 15:54] ocean90 commented on #1248
Maybe we can extend the check added in https://github.com/GlotPress/GlotPress-WP/commit/39e768afeba5c60d2f22c84ff413dd2cf129a31a to also include fuzzy strings.

https://github.com/GlotPress/GlotPress-WP/blob/0c395a7a8f37ab3b5ebafd2b239c74392e5177f9/gp-includes/routes/translation.php#L296-L310

[2021-06-25 08:21] NekoJonez commented on #1248
Thx for reporting it upstream... I personally find it tricky when it needs to reported here instead of the meta trac...

(And it would be so awesome if a fix happens here, the meta trac ticket would be updated in a way but that is a whole other proces :P)

[2021-06-26 15:30] psmits1567 commented on #1248
This is probably caused by the fact that you are PTE. Normally you cannot save a translation twice, and change the name of the original.
Or there has been a minor change in the original, and the old translated text is copied. So there is basically a new translation

[2021-06-26 16:12] NekoJonez commented on #1248
Yeah, before I was PTE , I was able to fix fuzzy's by them ending up as new ones.

[2021-06-29 09:00] ocean90 opened #1249 "Allow to switch projects via breadcrumb navigation"
Suggested by @NekoJonez in https://meta.trac.wordpress.org/ticket/5798

[2021-06-29 09:00] ocean90 commented on #1249
Related: https://github.com/GlotPress/GlotPress-WP/issues/458

[2021-06-29 09:06] NekoJonez commented on #1249
We could take this even a step further... What if the locales are also a dropdown? This could be helpful for e.g. people who work on sub locales.

Like if I see a mistake in nl_NL while working on nl_BE ... It would save me some clicks if I'm able to change locale via a dropdown... Just a thought after the fact.

[2021-07-04 10:26] NekoJonez opened #1250 "Importing only "new" strings while importing"
Currently, I'm trying to make the translation gap between nl_BE and nl_NL smaller. So, I download the nl_NL 100% translations to import them in nl_BE.

Now, I would find it extremely handy if it was possible to only import strings that don't have already a suggestion tied to it OR don't have a translation yet. I would save me some time finishing translations.

Maybe a checkbox at the import page w

[2021-07-05 16:08] ocean90 commented on #1222
Related/Duplicate: https://github.com/GlotPress/GlotPress-WP/issues/621

[2021-07-06 09:07] NekoJonez opened #1252 "Make projects "trackable"."
So, I think it would be awesome if you could "track" projects. So, what do I mean here....

Well, I use several plugins on my website that update quite often and add new strings to translate. Instead of having a whole pile of bookmarks and checking them from time to time, I think it would be handy if you could "track" projects.

The idea would be that when you select your locale and project, you w

[2021-07-06 12:38] ocean90 commented on #1252
Since I know you're coming from translate.w.org: Did you know that you can mark themes/plugins as favorites on their w.org pages? The list is then used for the default filter in the themes/plugins list. Example:

![image](https://user-images.githubusercontent.com/617637/124600766-5b518900-de67-11eb-88d8-143d6cdc396a.png)

Both favorites have untranslated strings so they are on top of that list.

[2021-07-06 12:48] NekoJonez commented on #1252
Yes, I do know that :) But, that will only show the things per tab... It would be lovely to have them combined into one tab. Plus, the ability to choose meta projects for it.

I know certain other polygots are using this method already but it would be better if this feature is expanded upon imho.

[2021-07-08 11:58] NekoJonez opened #1253 "You are able to import empty strings (plural/singular issue)"
I'm helping @vlad-timotei test his toolset to expand GlotPress and I found this issue: https://github.com/vlad-timotei/wpgp-tools/issues/17

I'm reporting it here as well aka up-stream, since @vlad-timotei is right, you shouldn't be able to import sin/plu strings where one part is empty.
I THINK how this happend is that when this string got changed into a singular/plural one, it didn't get fuzzied

[2021-07-08 12:07] ocean90 commented on #1253
Thanks, we're already tracking this issue in #1191.

[2021-07-08 12:07] #1253 closed, assigned to nobody

[2021-07-13 15:47] varlese opened #1254 "Add bgn locale"
Following this locale request: https://make.wordpress.org/polyglots/2021/04/19/requesting-for-a-new-locale/

Could the Western Balochi (`bgn`) locale be added to translate.wordpress.org?

Data:
[code]

Additional information:
- [Here is the Ethnologue reference.](https://www.ethnologue.com/language/bgn)
- It's an RTL script.
- The plural expression [follows the default](https://make.wordpress.org/

[2021-07-27 15:33] Rica35 opened #1259 "36#"

[2021-07-28 11:54] NekoJonez commented on #427
This is something we still need!
It would especially help when a big long description string of a theme changes... (And sometimes it's just one space or something)

[2021-08-04 11:06] amieiro commented on #1250
@NekoJonez You could use [WP Polyglots facilitator](https://wp-polyglots-facilitator.jesusamieiro.com/), where you can get the translation in one language from another one with only the untranslated strings.

[2021-08-05 17:30] AliSoftware commented on #441
I see this issue is quite old, but wanted to say that a non-deterministic order during export is causing us some noise in our diffs, and we'd love to see this resolved.

What we observe is that when we export a GP project's strings as a `strings.xml` file (Android format), the order of the strings in that exported file is not deterministic. Which means that every time we do a GlotPress export then

[2021-08-10 10:34] NekoJonez commented on #1250
True, but thats external. It would be helpful if its also possible internally. ;)

[2021-09-04 02:25] Aikatsui opened #1260 "Enhance to display unlimited activity history on profile"
**Problem Description**
Currently glotpress shows recent 5 projects history on profile https://translate.wordpress.com/profile/username/
Eg: if user made a mistake somedays ago and don't remember string location or project then no way to find back.

**Enhancement Request**
1. Enhance to display unlimited activity history since profile created date
https://crowdin.com/profile/username/activity

2.

[2021-09-04 02:54] Aikatsui opened #1261 "[WordPress] Unable to edit some years old translations directly as a validator and delays"
**How to reproduce**

1. I'm not sure if possible to reproduce that with other languages old translations and i think you should have validator role for reproduce this bug.
2. Go to https://translate.wordpress.com/languages/si/default/-all-waiting?ref=weekly-email
(or [https://translate.wordpress.com/projects/wpcom/themes/twentytwelve/si/_id%5D=5948979](https://translate.wordpress.com/projects/wpc

[2021-09-04 03:10] Aikatsui commented on #1261
Please add this issue to 3.0 milestone and fix soon as possible.
(Why? i don't want to keep them as examples for you without take any action)

[2021-09-09 20:21] amieiro commented on #1261
Hi @Aikatsui

This issue is related with the GlotPress installation at wordpress.com, not with the GlotPress plugin. I have talked with the Automattic engineer in charge of this system, and he is working on this issue.

[2021-09-11 07:08] Aikatsui opened #1262 "GlotPress interface is not compatible with dark mode"
**Steps to reproduce**

1. Open chromium and go to `chrome://flags/`
2. Search "Force dark mode for web contents" and enable
3. Go to edit any project on https://translate.wordpress.com
4. See Actions buttons etc contents (Compare with light mode)

![image](https://user-images.githubusercontent.com/63988538/132939699-07114543-9fa6-4689-8241-3daa32c53d16.png)

[2021-09-11 10:41] NekoJonez opened #1263 "Glossary should have an option to block an use of a word."
So, in the glossary of nl_BE we have as translation for "Sorry" ... "Geen sorry".
Which isn't the actual Dutch word for it. But, we have that since we agreed in nl_BE to NOT use "Sorry" in our translations.

Now, the issue is that... Because of that, it can be confusing to translators and they might translate Sorry always as "Geen sorry".
Also, it trips up external tools like GlotDict. Which block

[2021-09-19 15:47] lkraav commented on #865
I would also think getting `$wp_locale`-compatible filenames makes more sense than current behavior (GP 3.0.0-a3).

Does GP Download Name also work for WP CLI?

Would be nice if below command would somehow magically do the right thing:

[code]

Current problem is, `da_DK` etc isn't a recognized locale.

EDIT tested plugin, `%wp-locale%` configuration works nicely in GUI, but CLI solution needs add

[2021-10-05 15:56] jennydupuy commented on #1169
We have the same issue for the locale fr_FR.
It's a pity that expressions with several terms are not taken into account because it avoids the display of warning messages.

[2021-10-13 18:12] #1261 closed, assigned to nobody

[2021-10-13 20:11] #1254 closed, assigned to nobody

[2021-10-15 12:00] NekoJonez opened #1273 "Sort on last modified"
Since the "last modified" feature has been added to translate.wordpress.org, I would love it to sort on it as well. That way I can easily see what are the newly translated strings and such.

[2021-10-19 19:42] ocean90 commented on #1262
I'm going to close this as _wontfix_ since there's no plan to support such a forced dark mode setting. We should rather provide a theme which supports a dark mode too.

[2021-10-19 19:42] #1262 closed, assigned to nobody

[2021-10-19 20:36] ocean90 opened #1278 "Original with singular and plural form can't be copied to translation textarea"
Both "Copy from original" buttons do nothing but focusing the textarea.

<img width="500" src="https://user-images.githubusercontent.com/617637/137985809-4a8c1cf8-859d-475f-9847-e9578800eb06.png" alt="" />

Introduced in #928. The `original_raw` element doesn't exist for them.

[2021-10-20 14:19] pedro-mendonca opened #1280 "Add JavaScript coding standards"
Check JavaScript with WordPress Coding Standards and add linting to the workflow

- [x] Add ruleset
- [x] Add scripts and GitHub action
- [x] Fix WPCS
- [x] Replace the obsolete dot files for JSHint with ESLint files.

[2021-10-23 12:22] #1200 closed, assigned to nobody

[2021-10-23 12:31] #1199 closed, assigned to nobody

[2021-10-25 18:58] #1079 closed, assigned to nobody

[2021-10-25 19:24] #1273 closed, assigned to nobody

[2021-10-28 08:56] NekoJonez commented on #1273
Thx @ocean90 , is this feature also coming to translate.wordpress.org?

[2021-11-01 20:33] varlese opened #1287 "Add kha locale"
Related locale request from Make/Polyglots: https://make.wordpress.org/polyglots/2020/09/16/i-would-like-to-participate-2/

Could the Khasi (`kha`) locale be added to translate.wordpress.org?

Here's the related info:
[code]

[2021-11-03 07:43] ocean90 commented on #1280
I think the only thing missing here is updating `.gitattributes` to replace the obsolete dot files for JSHint with ESLint files.

https://github.com/GlotPress/GlotPress-WP/blob/44034fbfcaebbf8d8b31d87812a6f63672fb32ac/.gitattributes#L14-L16

[2021-11-03 17:13] #1280 closed, assigned to pedro-mendonca

[2021-11-05 05:37] vlad-timotei opened #1291 "Use `prepare_original()` in `translation-row-editor.php` for strings with plurals as well"
In the `translation-row-editor.php` template, `prepare_original()` is used only for strings with no plural:

https://github.com/GlotPress/GlotPress-WP/blob/66738d02492c1940b7770ee6fc497c85fc9e4410/gp-templates/translation-row-editor.php#L19-L69

So, the editor for strings with plural is missing this filter that:
- replaces new lines and tab characters with visual symbols.
- wraps non-translatable

[2021-11-16 05:20] dd32 opened #1297 "PHP Notices from unchecked POST variables"
Performing a request similar to the following will generate PHP Notices, as `GP_Route_Glossary_Entry::glossary_entries_post()` (and others) will happily process a POST request without verifying that the input is in the expected format.

[code]

Generated notices:
[code]

[2021-11-21 15:15] NekoJonez commented on #1169
https://meta.trac.wordpress.org/ticket/5956 in nl_BE & nl_NL, this is also becoming an issue.

[2021-11-29 16:52] pedro-mendonca opened #1300 "Make the Locales list filterable"
Hi,

Will it make sense to add a filter for the Locales list?

Might be usefull to add custom locales or remove unwanted locales from the list for custom installs.

[2021-12-01 10:33] pedro-mendonca opened #1301 "List of all translations of a original on variant shows repeated rows"
How to reproduce on GP 3 alpha:

- Create root and variant locale translation sets (ex: pt/default and pt-ao90/default)
- Choose an original string and add a few translations on the root
- Also make some some translations on the variant set
- On the variant, go to All Translations for that original

You will now see all the variant translations as expected, but each one of those rows will be multi

[2021-12-01 12:26] pedro-mendonca commented on #1301
Listing all the [$translations](https://github.com/GlotPress/GlotPress-WP/blob/develop/gp-templates/translations.php#L393), there are many translations with the same `id`, one per each `root_id`.

Perhaps the $translations array should only include one translation per `id`, being the one related with the 'current' root translation if exist, or most recent root translation.

[2021-12-01 19:48] pedro-mendonca opened #1303 "Variant translation set with errors on Fuzzy and Waiting filters"
The unfiltered variant translation set table shows correctly `current`, `waiting`, `fuzzy` and `warnings` strings.

If filtered by `current`, `untranslated` or `warnings` all works correcly.

The `fuzzy` and `waiting` links have the correct (count) but return zero rows.

[2021-12-01 19:57] pedro-mendonca commented on #1301
This still doesn't solve the filter query count (root_translations * variant_translations), probably it's better to filter the query itself instead of this current solution.

![imagem](https://user-images.githubusercontent.com/7371591/144304458-a5d656f5-0cb1-437b-9c5c-cf7bdb495e76.png)

[2021-12-04 17:13] lmwp opened #1304 "Add a [ Fuzzy AND Waiting ] filter"
When a contributor (let's call him Joe) suggests new translations for "fuzzy" strings from another contributor (let's call him Alex), Joe's new suggestions are taken into pending strings, but Alex's old "fuzzy" suggestions are not deleted. The behavior of this feature is correct, because it gives Alex the possibility to propose a new translation for his "fuzzy" strings as well.
Let's say Joe displ

[2021-12-15 00:54] pedro-mendonca commented on #1300
Closing this after finding [`gp_locale_definitions_array`](https://github.com/GlotPress/GlotPress-WP/blob/develop/locales/locales.php#L2770)

[2021-12-15 00:54] #1300 closed, assigned to nobody

[2022-01-09 12:00] NekoJonez opened #1307 "You are able to accept fuzzy plural translations with an empty translation."
Today I wanted to test something... What would happen if you accepted a fuzzy translation with plurals where one of the translations was empty.
It gets accepted and becomes the current.
I think this is a bug and it shouldn't be allowed to happen.
https://translate.wordpress.org/projects/wp-plugins/customer-reviews-woocommerce/stable/nl/default/?filters%5Bstatus%5D=either&filters%5Boriginal_id%5D=7

[2022-01-31 11:01] NekoJonez opened #1312 "It's possible to have two currents for a string."
https://translate.wordpress.org/projects/wp-plugins/events-made-easy/stable/nl/default/?filters%5Bstatus%5D=either&filters%5Boriginal_id%5D=12843760&sort%5Bby%5D=translation_date_added&sort%5Bhow%5D=desc&historypage

![image](https://user-images.githubusercontent.com/4569581/151781905-c52259ca-4a3a-4803-919a-e25421146d7e.png)

I can't tell you why this occurs, but I have seen various plugins, espe

[2022-03-13 12:57] #1291 closed, assigned to nobody

[2022-03-14 09:42] #1278 closed, assigned to nobody

[2022-03-17 21:11] ocean90 opened #1329 "Reduce reliance on default browser styles"
Instead of trying to find and implement a CSS framework (#1060), let's do smaller steps to update the current UI. As a first I'm going to fix links and form elements.

Some before screenshots:

**Font too small:**
<img width="1594" alt="" src="https://user-images.githubusercontent.com/617637/158893122-0744f610-3d7b-4234-a764-417307a644a7.png">

**Huge buttons:**
<img width="424" alt="" src="https:

[2022-03-17 21:13] ocean90 commented on #1060
Closing in favour of #1329.

[2022-03-17 21:13] #1060 closed, assigned to nobody

[2022-03-19 10:26] ocean90 commented on #1018
Closing since the feature was reverted in #1327. See also https://github.com/GlotPress/GlotPress-WP/discussions/1333.

[2022-03-19 10:26] #1018 closed, assigned to nobody

[2022-03-19 10:26] ocean90 commented on #1019
Closing since the feature was reverted in #1327. See also https://github.com/GlotPress/GlotPress-WP/discussions/1333.

[2022-03-19 10:26] #1019 closed, assigned to nobody

[2022-03-19 10:26] ocean90 commented on #1234
Closing since the feature was reverted in #1327. See also https://github.com/GlotPress/GlotPress-WP/discussions/1333.

[2022-03-19 10:26] #1234 closed, assigned to nobody

[2022-03-19 10:26] ocean90 commented on #1301
Closing since the feature was reverted in #1327. See also https://github.com/GlotPress/GlotPress-WP/discussions/1333.

[2022-03-19 10:26] #1301 closed, assigned to nobody

[2022-03-19 10:27] ocean90 commented on #1303
Closing since the feature was reverted in #1327. See also https://github.com/GlotPress/GlotPress-WP/discussions/1333.

[2022-03-19 10:27] #1303 closed, assigned to nobody

[2022-03-19 12:01] ocean90 opened #1334 "Translations: Don't remove table header when the editor is opened"
When the editor for a translation opens the table header is set to `display: none`. This was added in https://github.com/GlotPress/GlotPress-WP/commit/bca141b5d4f46eb23167ad102fa61b552dd87a2b but I can't find a reason for it. The behaviour is a bit distracting as it causes some layout shifts due to changing column widths.

https://user-images.githubusercontent.com/617637/159120211-464076e8-c2c2-40

[2022-03-19 12:11] ocean90 opened #1335 "Improve the way how an active project is highlighted"
Currently we have small 'Active' label next to the project name. The label is visible in the breadcrumb or the project list if a project has sub-projects.

<img width="307" alt="" src="https://user-images.githubusercontent.com/617637/159120321-9d275703-3cd1-4f13-af59-23bc21dbc12b.png">

Though, the label gets lost in the breadcrumb of a translation set:
<img width="277" alt="" src="https://user-im

[2022-03-19 12:51] #1329 closed, assigned to ocean90

[2022-03-19 13:12] #1334 closed, assigned to ocean90

[2022-03-19 15:03] pedro-mendonca commented on #1335
Makes sense, only highlight "Archived" projects.

[2022-03-20 13:45] ocean90 opened #1337 "Simplify and unify styling for tables"
GlotPress uses quite a few tables but each of them are looking a bit different. To make tables easier to maintain the styles should be consolidated. Also consider removing the additional stylesheet from TableSorter which also contains styles for unused functionality.

Current screenshots:
<img width="1641" alt="translation sets" src="https://user-images.githubusercontent.com/617637/159165246-ac158

[2022-03-21 21:29] ocean90 opened #1339 "Translations: Remove unused `translated` filter"
There are a few cases where a filter for `translated=yes` is set:

* https://github.com/GlotPress/GlotPress-WP/blob/d41ac43c8f6e898603dd50b34b9bcba9e227ebe9/gp-templates/translations.php#L115
* https://github.com/GlotPress/GlotPress-WP/blob/d41ac43c8f6e898603dd50b34b9bcba9e227ebe9/gp-templates/translations.php#L144
* https://github.com/GlotPress/GlotPress-WP/blob/f55ca5a9cde6ee50902e6202ad6f3ed8b8

[2022-03-22 08:28] dd32 opened #1340 "Provide a way to specify the priority of a string during import"
Currently there's no way to specify the priority of an original when importing from an external project.

For example, the WordPress.org plugin directory updates the GlotPress database directly after import:
https://github.com/WordPress/wordpress.org/blob/trunk/wordpress.org/public_html/wp-content/plugins/plugin-directory/cli/i18n/class-i18n-import.php#L133-L146

[2022-03-22 12:43] #1337 closed, assigned to ocean90

[2022-03-22 19:28] #1339 closed, assigned to nobody

[2022-03-22 20:21] ocean90 commented on #1263
The glossary is only intended to provide a tooltip for a term and not to require the use of a word or, in this case, require to not use a word.

Since the tooltip also includes the comment for an entry, you should already be able to make your specific case more clear to translators.

[2022-03-22 20:21] #1263 closed, assigned to nobody

[2022-03-22 20:24] #1222 closed, assigned to nobody

[2022-03-22 20:28] ocean90 commented on #1304
This will be handled in #621.

This will be added in #1344.

[2022-03-22 20:30] #1304 closed, assigned to nobody

[2022-03-22 20:53] #1194 closed, assigned to nobody

[2022-03-22 20:58] #1086 closed, assigned to nobody

[2022-03-23 08:16] #1340 closed, assigned to nobody

[2022-03-23 08:21] ocean90 commented on #995
Marking as a duplicate of #1022.

[2022-03-23 08:21] #995 closed, assigned to nobody

[2022-03-23 08:23] ocean90 commented on #1312
Noting that this happens on translate.wordpress.org and was previously reported in https://meta.trac.wordpress.org/ticket/5976.

[2022-03-23 21:21] ocean90 commented on #615
Long term, GlotPress should extend the default REST API in WordPress, see #338. Closing as wontfix.

[2022-03-23 21:21] #615 closed

[2022-03-25 08:44] ocean90 opened #1357 "Add Support Policy"
To reduce maintenance burden, we should officially document which browsers and WordPress versions are supported. A proposal:

## Browser Support

Since GlotPress isn't optimized for mobile devices at all I think we shouldn't include any mobile browsers right now. See also policy for [WordPress Core](https://make.wordpress.org/core/handbook/best-practices/browser-support/).

## WordPress Core Suppo

[2022-03-25 10:15] NekoJonez opened #1358 "It's possible to add multiple glossary entries for one term/noun/..."
It's possible to add two different glossary entries for the same word.
I think this can cause confusion. Especially since we can give more info in the comment box.

So, I would add a warning when you are trying to add a new glossary term for a word that's already in the glossary.

[2022-03-25 10:31] ocean90 commented on #1358
Hey there, that's by design and allows you to provide different translations based on the context which you can explain in the comment for each translation.

Example:
<img width="353" alt="Bildschirmfoto 2022-03-25 um 11 30 20" src="https://user-images.githubusercontent.com/617637/160104174-6ef25ec9-e3d7-40a0-8cd6-52d593967638.png">

[2022-03-25 10:31] #1358 closed, assigned to nobody

[2022-03-25 21:23] pedro-mendonca commented on #1169
@ocean90 is the PR #1359 still on time for [3.0 milestone](https://github.com/GlotPress/GlotPress-WP/milestone/8)?

[2022-03-28 09:30] MocioF opened #1362 "svn branches/ subdir. Is it needed?"
Good morning, I am not sure this is the right place to ask (if I am wrong, please just ignore this issue).
Three days ago I committed a new plugin in WordPress.org SVN.
In the developers documentation it is said that a branches directory is unneeded in plugins (just need assets, tags and trunk).
However, no language pack has been created for stable release (tags/1.0.0) but only for development (tr

[2022-03-28 14:50] pedro-mendonca commented on #1362
Hi @MocioF
This repo is for the development of the GlotPress tool itself, not the wp.org implementation of GlotPress.
You should use the WordPress Slack #Polyglots channel [as you did](https://wordpress.slack.com/archives/C02RP50LK/p1648363814841569).

[2022-03-29 07:20] ocean90 commented on #1362
I did answer on Slack.

I have now forced a new import and the stable project does now exist.

[2022-03-29 07:20] #1362 closed, assigned to nobody

[2022-03-29 18:59] #1169 closed, assigned to nobody

[2022-03-29 19:12] ocean90 opened #1363 "PHP notice when adding a glossary entry with trailing whitespace"
To reproduce:

* Go to a glossary
* Enter a new term with trailing whitespace
* Enter translation
* Submit entry

[code]

Introduced in #770.

[2022-03-30 11:53] pedro-mendonca opened #1365 "GlotPress not correctly localized"
The GlotPress UI translation is only loaded if `site_language` is customized to a non `en_US`.
If `site_language` is `en_US` and `user_language` is customized, GlotPress UI keeps `en_US`.

For sites in `en_US`, the users should be able to set their admin UI in any supported language.

This behavior applies to current stable v.2.3.1 and beta v.3.0.0.

[2022-03-30 11:56] pedro-mendonca opened #1366 "Glossary errors on non-en_US admin"
If the install is running on a translated (non-en_US) language, it's not possible to add glossary entries, as the translated `part_of_speech` never match the available array of allowed types.

[2022-03-30 12:10] ocean90 commented on #1365
Are you saying that the user locale should be used on the frontend?

[2022-03-30 12:14] ocean90 commented on #1366
Seems to be introduced in #1277.

https://github.com/GlotPress/GlotPress-WP/blob/51d7c3b1275684b3befd2dcc89f6f40ef5c127f8/gp-includes/things/glossary-entry.php#L83

This should be changed to `array_keys( $this->parts_of_speech )`.

[2022-03-30 12:17] pedro-mendonca commented on #1365
Being possible to customize the `user_language` for the wp-admin, I think that's what a user expects when customizes it.

Of course this being a translation platform, it's supposed to understand English, but the UI should be translated for a team that wants everything on the UI on its own language, as already works if customize the `site_language`.
Not being able to set it on user level looks just

[2022-03-30 12:23] pedro-mendonca commented on #1366
~Yep, that's the problem. Should I add a PR?~
Done!

[2022-03-30 15:48] pedro-mendonca opened #1368 "Missing i18n for validation error messages and JavaScript messages"
- [x] The fields validation error messages are missing i18n. Addressed in PR #1370
- [x] JavaScript messages for glossary and translations are missing i18n. Addressed in PR #1369

[2022-03-30 16:42] ocean90 commented on #1365
GlotPress itself has no setting to set a locale per user. It relies on what core does and `get_user_locale()` is currently not intended for use on the frontend as you can see in [`determine_locale()`](https://developer.wordpress.org/reference/functions/determine_locale/). That's also the reason why the admin bar on the frontend is also in the site language.

Closing with the option to reconsider i

[2022-03-30 16:42] #1365 closed, assigned to nobody

[2022-03-30 16:59] #1366 closed, assigned to nobody

[2022-03-30 20:36] #1363 closed, assigned to nobody

[2022-03-31 12:39] pedro-mendonca commented on #1368
@ocean90 following up your [comment](https://github.com/GlotPress/GlotPress-WP/pull/1369#pullrequestreview-926428925):

Building the message like this is also still cumbersome and not easy to translate since the sentence is split into multiple parts.
I think it would be much easier if the full message, one for positive and one for negative can be provided and only the type and field names are (opt

[2022-03-31 13:06] pedro-mendonca opened #1372 "Add more suffixes for glossary matches"
Words ending with 'e' could be added some more suffixes.

Example:
`delete` -> `deleted`, `deletion`, `deleting`
`complete` -> `completed`, `completion`, `completing`
etc

[2022-03-31 14:01] pedro-mendonca opened #1374 "Links to Glossary"
The workflow to access the Glossaries need to be clearer.

There are two types of Glossary:
 - Locale Glossary
 - Project Glossary

### Case 1
 - Locale Glossary is set
 - Project Glossary isn't set

On the page Locale page we have a **Locale Glossary** link on top right corner
![imagem](https://user-images.githubusercontent.com/7371591/161066082-0310028f-a71a-4e0d-a318-f8a98c03cf44.png)

On a pro

[2022-03-31 14:05] alvarogois commented on #1374
Thanks @pedro-mendonca. I've been dealing myself with this UI flaw over the years. Currently it's not clear at all.

[2022-03-31 14:13] fxbenard commented on #1374
Good point, and renaming "Glossary" to "Project Glossary" and "Create glossary" to "Create project glossary" might help as well.

[2022-03-31 14:19] pedro-mendonca commented on #1374
@fxbenard as in my last screenshot :-)

[2022-03-31 14:29] pedro-mendonca commented on #1374
It would be good also to make it clear on the page title:

## Locale Glossary
![imagem](https://user-images.githubusercontent.com/7371591/161079107-85ed07b3-a31b-4850-9209-c06fec3d91ce.png)

## Project Glossary
![imagem](https://user-images.githubusercontent.com/7371591/161079336-7c639456-a063-4032-9544-f8db614e7a8a.png)

[2022-04-01 11:04] pedro-mendonca opened #1376 "Navigation menu doesn't show 'current' item"
While navigating between **Projects**, **Locales**, **Profile** or **Settings** the navigation menu don't identifies the current item.

#### Current UI
![imagem](https://user-images.githubusercontent.com/7371591/161251281-b845c448-7f65-456c-957b-aeb280f977fb.png)

#### Example adding `--gp-color-primary` as `background-color`:
![imagem](https://user-images.githubusercontent.com/7371591/161251210-b

[2022-04-01 12:33] ocean90 opened #1377 "Glossary: preg_split() can fail, causing no original to be displayed"
Noticed this on translate.w.org for a locale with a glossary that has many entries: https://translate.wordpress.org/locale/kmr/default/glossary/

<img width="925" alt="Bildschirmfoto 2022-04-01 um 14 30 16" src="https://user-images.githubusercontent.com/617637/161263757-424eb069-a0ce-409a-885a-3152e58d59ab.png">

The output of `$terms_search` [here](https://github.com/GlotPress/GlotPress-WP/blob/5

[2022-04-01 12:41] NekoJonez commented on #865
Related bug: https://meta.trac.wordpress.org/ticket/6247#comment:1

[2022-04-01 13:07] #1377 closed, assigned to nobody

[2022-04-01 14:54] pedro-mendonca commented on #1374
Some more suggestions about making the existent **Project Glossaries** more visible:

#### Project view - Show all the existent Project Glossaries in the Locales column
![imagem](https://user-images.githubusercontent.com/7371591/161287462-f91395b0-f55d-4f0c-bf94-18f4e9de39f9.png)

#### Locale view - Show all the existent Project Glossaries in the Sub-project column
![imagem](https://user-images.gi

[2022-04-01 15:39] fxbenard commented on #1374
As I'm not a big fan of project glossaries that bring more errors (cause they usually never get updated) in my opinion before showing it everywhere it will be nice to show in the editor if a glossary term is coming from the locale or project glossary.
But indicating that a project glossary exists is a good point cause it might help to find out why glossary terms aren't right ;)

[2022-04-01 15:49] pedro-mendonca commented on #1374
Agree. I've never used Project Glossaries either, but existing, it's a good idea to show the term origin, with a link to it.

[2022-04-01 22:59] pedro-mendonca commented on #1365
I would still like to make a proposal that I'll add as a PR:
The `get_user_locale()` can be hooked in `pre_determine_locale`.

I think it works well, I see no catch, please check it out.

[2022-04-03 12:30] #1101 closed, assigned to nobody

[2022-04-03 12:41] ocean90 opened #1382 "Glossary: Don't provide a tooltip for HTML tags"
Having an entry for `strong` should not provide a tooltip for `<strong>` tags.

<img width="349" alt="" src="https://user-images.githubusercontent.com/617637/161428428-4f901037-c14a-4bc0-a4b8-4303cb0507d1.png">

This also contradicts the [`notranslate` CSS class](https://github.com/GlotPress/GlotPress-WP/blob/5b4adbb41931dd0cbea5957de9c7514cbc96777e/gp-templates/helper-functions.php#L30):

<img wi

[2022-04-03 13:42] ocean90 opened #1383 "Glossary: Improve performance of parsing translations for adding tooltips"
Related: #1377

It seems like `map_glossary_entries_to_translation_originals()` would benefit from some improvements to make it more performant.
For example [this project](https://translate.wordpress.org/projects/patterns/core/nl-be/default/?filters%5Bterm%5D=mark) on translate.w.org needs around 3.5 - 4 seconds. After adding an early `return $translation;` it only needs 1.1 seconds.

The followin

[2022-04-03 13:48] ocean90 opened #1384 "Glossary: Don't add suffixes to terms already ending with an 's'"
[code]

When adding a new glossary entry it's actually not documented what type the term should be. The code currently assumes that only a singular term is added but that's not always the case causing the weird terms from above generated by `gp_sort_glossary_entries_terms()`.

Reducing the number of terms will reduce the risk of running into issues like #1377.

Found the examples in https://transl

[2022-04-03 13:53] ocean90 opened #1385 "Glossary: Don't provide a tooltip for strings in CSS class names"
Similar to #1382 but for HTML attributes like `class`.

<img width="804" alt="image" src="https://user-images.githubusercontent.com/617637/161431305-5357a854-a3bc-4c42-b146-ecae7762b716.png">

[2022-04-03 13:58] ocean90 commented on #1384
Words like "dismiss" might be an exception, though, "dismisss" should be avoided:

`'Dismiss|Dismisss|Dismisses|Dismissed|Dismissing'`

[2022-04-03 14:05] ocean90 opened #1386 "Glossary: Don't add 'es' as a default suffix to terms?"
Looking at some examples generated by `gp_sort_glossary_entries_terms()` and in non of them the suffix `es` makes sense. Should we drop it from the default list?

https://github.com/GlotPress/GlotPress-WP/blob/3304c4e0244e412c29c1b4f2d8a9e7b0f205bc73/gp-templates/helper-functions.php#L114-L116

The examples:
[code]

[2022-04-03 18:49] NekoJonez commented on #1382
You could expand that logic into urls too

[2022-04-04 12:36] pedro-mendonca commented on #1383
Currently every string is being split agains a full list of the Glossary entries. Considering that this list is increasing, it will become a huge work.
What about a first pass to filter those glossary entries, only adding to the glossary terms search (single and multiple words) those which contain at least one word from the string?

Example string:
`The item was permanently deleted.`

Glossary lis

[2022-04-04 14:01] webaxones opened #1387 "text-underline-offset, text-decoration-thickness and readability"
Hi,
I think changing the text-underline-offset for both .glossary-word and .gp-content a, li>a, p a was a mistake.
Why?
Because we end up with the final horizontal bar of g j y hidden by the underline instead of the latter crossing the vertical bar.
And it's much less readable.

Now:
![image](https://user-images.githubusercontent.com/17084006/161559065-2e0a581b-ca19-4b50-a65e-2e852fe38549.png)

In

[2022-04-05 06:59] psmits1567 opened #1389 "When using a mobile the labels are not shown properly"
If a translation contains a label which is long, it is not wrapped on a mobile. It is not contained within the original, but is shown over both columns original and translation. If the translated text is longer then the orinal, the label is shown through the translation

[2022-04-05 07:07] ocean90 opened #1390 "Don't include default priority as flag in exports"
#1341 added the `gp-priority` flag also to PO/POT exports which makes the files a bit too verbose now as most if not all of the entries will get the `gp-priority: normal` comment. Since `normal` is the default priority I don't think we have to export it.

Example: https://i18n.trac.wordpress.org/changeset/825545

@dd32 Do you have any objections?

[2022-04-05 07:08] ocean90 commented on #1389
Can you please provide some screenshots and details about your mobile device?

[2022-04-05 07:11] ocean90 commented on #1387
It looks like you're actually referring to some selectors used on translate.wordpress.org. But GlotPress provides the same styling in https://github.com/GlotPress/GlotPress-WP/blob/5b4adbb41931dd0cbea5957de9c7514cbc96777e/assets/css/style.css#L126-L142.

We can probably improve this by using `text-underline-position: under;`.

[2022-04-05 07:29] webaxones commented on #1387
Sorry I got tricked regarding the origin of the code :(
I fear that `text-underline-position: under` multiplied by a number of lines on a translation page will greatly increase the height of the page and so the needed scroll.
Translations could have the same underline height than on https://wordpress.org. More readable by default :)

[2022-04-05 07:32] ocean90 commented on #1387
No,`text-underline` doesn't increase the height of a page.

[2022-04-05 07:36] webaxones commented on #1387
That's true. But more space is used. In fact I don't know what to think of this solution, it may be good. Anyway, thank you for considering the issue :)

[2022-04-05 08:30] dd32 commented on #1390
I'm not sure it's an actual problem, as manual editing of the files is pretty rare.

That being said, I have zero objections to skipping it for `normal`.

[2022-04-05 08:52] psmits1567 commented on #1389
Unfortunately my screenshot app is not shown when you start translating from the slack link
I am using a Nokia * phone with android latest version.
But there is no need to see the screenshot from the mobile, as the behavior is the same, when you resize your screen on your desktop. Then you see the same effect happening, the label is static not dynamic
![Knipsel](https://user-images.githubuserconte

[2022-04-05 14:34] psmits1567 commented on #1389
Finally managed to get a screenshot from my mobile.
I noticed that currently when translating normal projects this label is wrapped
But when I look into the APP ->Android I see the below results
![Screenshot_2022-04-05_161356](https://user-images.githubusercontent.com/28138634/161777948-2036e4ae-7522-4bb9-bc96-1974eb76e9aa.jpg)

[2022-04-05 18:49] ocean90 commented on #1389
Looks like this only happens on https://translate.wordpress.org/projects/apps/android/dev/es/default/. I'll see if it can be fixed there.

Marking as invalid since it's not in issue with the default GlotPress plugin.

[2022-04-05 18:49] #1389 closed, assigned to nobody

[2022-04-05 19:05] psmits1567 commented on #1389
OK strange that there are two different systems to present the data

[2022-04-05 19:23] #1387 closed, assigned to nobody

[2022-04-05 19:24] #1390 closed, assigned to ocean90

[2022-04-06 09:33] ocean90 commented on #1383
I've moved this to the 3.0 milestone as it's harming the performance of translate.wordpress.org. If we can't find a solution we may have to revert #1359 for 3.0 and try it again in 3.1 with [the other glossary related issues](https://github.com/GlotPress/GlotPress/milestone/15).

[2022-04-07 07:16] #1383 closed, assigned to nobody

[2022-04-08 13:38] La-Geek commented on #1374
As an addition: In German we have two variants (default and formal) and so we have also two glossaries:

https://translate.wordpress.org/locale/de/default/glossary/
https://translate.wordpress.org/locale/de/formal/glossary/

The correct URL, depending on whether default or formal to the appropriate glossary would be great.

[2022-04-09 11:38] #967 closed, assigned to ocean90

[2022-04-09 13:32] NekoJonez opened #1400 "Edge case? Placeholders & glossary words."
https://translate.wordpress.org/projects/wp-plugins/wordpress-seo/dev/nl-be/default/?filters%5Bstatus%5D=either&filters%5Boriginal_id%5D=9836002&filters%5Btranslation_id%5D=93348563

In nl_BE, we have an entry for "Show" in our glossary. In the above string, we have a placeholder that ends on "s" and the rest of the string continues with "how"...

Somehow, GlotPress sees this as a glossary word wh

[2022-04-11 13:34] ocean90 commented on #1400
Copying the HTML markup in case the string gets lost:

[code]

<img width="353" alt="image" src="https://user-images.githubusercontent.com/617637/162751012-7e83ee00-7076-47c2-9887-9bb714a404bf.png">

[2022-04-12 11:51] pedro-mendonca opened #1405 "Readme texts"
The string `So who should use GlotPress?` and its answer appears twice, inside and outside the FAQs.
It might be removed so it appears only within the FAQ.
Currently the answers differ in a single double space that adds two strings to the translation table, can be fixed quickly.

I think the below string isn't quite up to date already
`GlotPress has two versions, a standalone version and this Word

[2022-04-12 16:24] ocean90 commented on #1405
I'm fine with removing any mention of the standalone version in the readme.

[2022-04-12 17:00] pedro-mendonca commented on #1405
What about the duplicate `So who should use GlotPress?` ? Should be kept as is, or use only once, on the FAQ?

About removing any mention to the standalone version, wouldn't be nice to keep the thanks message (`This plugin wouldn't be possible without...`) ?

[2022-04-12 19:06] ocean90 commented on #1405
I think we can remove the FAQ section completely. None of these are frequently asked and already included in the description. The thank you line can stay of course.

[2022-04-13 03:20] pedro-mendonca commented on #1405
Thanks for the feedback.
All done in #1406 and #1407

[2022-04-13 03:56] pedro-mendonca commented on #1372
Here is a comprehensive list of -ion suffix rules
https://www.thefreedictionary.com/Commonly-Confused-Suffixes-tion-vs-sion.htm

Adding many rules will increase the glossary matching process, probably we should decide which ones to add or not.

[2022-04-13 07:35] #1405 closed, assigned to nobody

[2022-04-13 07:40] ocean90 commented on #1372
Correct, we should only add suffixes when they make sense. I have already created #1384 and #1386 for the current rules. But there are a few more for which I haven't created issues yet, like for words already ending with `ing`.

So if we can convert the above suffix rules into code that would be great.

[2022-04-13 08:56] pedro-mendonca commented on #1372
Another good reference about suffixes:
https://www.thefreedictionary.com/Suffixes.htm

[2022-04-13 09:19] NekoJonez commented on #1400
@ocean90  I dare to argue that this might get the documentation label as well. Since, correct me if I'm wrong but I dont find any documentation on how this html is written and how we can implement that. While I know how, I think... Its better to have documentation... Or make a seperate ticket for that?

[2022-04-13 09:33] pedro-mendonca commented on #1384
Would it make sense to suggest to only add the nouns in the singular form?
Here are some rules we could use to check the inserted terms and warn in case of plural form inserted:
https://www.thefreedictionary.com/Forming-Plurals.htm

[2022-04-13 09:36] pedro-mendonca commented on #1372
@ocean90 according to the list of suffixes above, we should set a list of desired suffixes and rewrite the rules code to include a check for `part_of_speech`, so there can be used different suffix rules for nouns, verbs, etc.

[2022-04-13 10:16] pedro-mendonca commented on #1386
As I've mentioned on [#1372](https://github.com/GlotPress/GlotPress/issues/1372#issuecomment-1097811538), I think we should have different rules per `part_of_speech`, nouns, verbs, etc.

[2022-04-13 15:47] pedro-mendonca commented on #1372
In https://github.com/GlotPress/GlotPress/pull/1373/commits/72fffd6fc4c47f08d3e16266ef84a235c82b187e I've made a first approach to implement separate lists of suffixes per term types.

It's very low performant as I've added too many cases, we can choose to include or exclude easily by commenting out the array items.

Let me know your thoughts please.

[2022-04-14 08:12] pedro-mendonca opened #1409 "Domain of the translate text is not specified"
Reported in the Support Forums:
https://wordpress.org/support/topic/domain-of-the-translate-text-is-not-specified-2/

https://github.com/GlotPress/GlotPress/blob/develop/locales/locales.php#L70

[2022-04-20 08:27] amieiro opened #1414 "UI improvements in the "Create New Project" form"
Currently, we have a "Create New Project" form with some UI elements that could be improved. See the [discussion here](https://wordpress.slack.com/archives/C02RP4R9F/p1650442477785099) for context.

![image](https://user-images.githubusercontent.com/1667814/164184368-cc98b50d-e50a-4a60-8b93-a771817dd883.png)

![image](https://user-images.githubusercontent.com/1667814/164184533-92792c74-ce03-4247-9

[2022-04-20 08:33] ocean90 commented on #1414
This is a broader issue since it applies to all forms. The use of definition lists should definitely be replaced with something else.

[2022-04-20 08:37] pedro-mendonca commented on #1365
I think it's correct, GlotPress can and should rely upon the WordPress user settings for that.

I agree that is a hack, but is the expected behaviour.

[2022-04-21 07:22] sumitsinghwp commented on #1414
Thank you for created ticket @amieiro

[2022-04-21 07:58] sumitsinghwp commented on #1414
Which one is looking good ?
![image](https://user-images.githubusercontent.com/23701579/164407442-bfb30b64-de11-4a8d-805d-dd19cd6abd56.png)
![image](https://user-images.githubusercontent.com/23701579/164407664-442137f2-7918-4b0b-8650-4eca7dce04e9.png)

[2022-04-21 08:01] amieiro commented on #1414
I think the first one.

[2022-04-21 09:05] sumitsinghwp commented on #1414
I have added one small css in style.css & style.min.css for add padding -

and then update form structure in glotpress/project-form.php
[glotpress.zip](https://github.com/GlotPress/GlotPress/files/8529473/glotpress.zip)

you can download updated plugin zip file here

[2022-04-21 11:32] amieiro commented on #1414
@sssumitsingh You need to open a pull request to integrate this change into the GlotPress core.

[2022-04-22 03:24] sssumitsingh commented on #1414
which branch on i need to add new file need to create new branch @amieiro ?
![image](https://user-images.githubusercontent.com/23701579/164590126-f312e37c-e678-4f1d-9cc4-f97dc8248dfe.png)

[2022-04-22 09:37] sumitsinghwp commented on #1414
I am facing below issue when try to create new branch @amieiro

Username for 'https://github.com/': sssumitsingh
Password for 'https://sssumitsingh@github.com/':
remote: Permission to GlotPress/GlotPress.git denied to sssumitsingh.
fatal: unable to access 'https://github.com/GlotPress/GlotPress.git/': The requested URL returned error: 403